 
.new-js-panelTabs .panelTabs-navigation{
	display: flex !important;
}
.contentModule-section{
	margin: 20px 0px;
}
.formRadioBox .form-item .control-label{
	margin: 0px 15px;
}
#contactPersonBackButton.btn-secondary{
	padding: 14px;
}
.licensecontactperson_bottomboarder{
	width: 100%; 
	border-bottom: 1px solid #bf9b2e;    
	margin-bottom: 50px;
} 
[dir] .control-label_mandatory.focused_up{
	-webkit-transform:translate3d(0,-3px,0) scale(1)!important;
	transform:translate3d(0,-3px,0) scale(1)!important
}
.formInputBox .form-control:placeholder-shown+.control-label.focused_up,
.formSelectBox .select2.select2-container.select2Container_selected+.control-label.focused_up, 
.formTextArea .form-control:placeholder-shown+.control-label.focused_up{
	-webkit-transform:translate3d(0,-36px,0) scale(1)!important;
	transform:translate3d(0,-36px,0) scale(1)!important; 
}
.formInputBox .form-control:placeholder-shown+.control-label {
	top: 20px;
}
.form-group.focus-on-change_up{
	padding: 0px;
}
[dir=ltr] .page-new-apply-contactperson #addShareholderQM1ExistingSection label, 
[dir=ltr] .page-new-apply-contactperson #addShareholderQM1NewOrganizationSection label, 
[dir=ltr] .page-new-apply-contactperson #addShareholderQM1NewPersonSection label, 
[dir=ltr] .page-new-apply-contactperson #contactPersonQM1 label, 
[dir=ltr] .page-new-apply-contactperson #contactPersonQM2 label, 
[dir=ltr] .page-new-apply-contactperson #licenseYearSection .formSelectBox .form-group label, 
[dir=ltr] .page-new-apply-contactperson #organizationInformationExtended label, 
[dir=ltr] .page-new-apply-contactperson #sagiaLicenseApplyForm .formSelectBox .form-group label{
	margin-left: 10px !important;
}
[dir] .page-new-apply-contactperson .formInputBox .form-control{
	padding: 10px 30px;
}
[dir] .page-new-apply-contactperson .select2.select2-container{
	padding: 25px 35px!important;
}
[dir] .page-new-apply-contactperson .formRadioBox .form-group {
	padding-top: 25px; 
	margin-bottom: 35px;
}
[dir] #addShareholderQM1NewOrganizationSection .formInputBox, 
[dir] #addShareholderQM1NewOrganizationSection .formSelectBox,
[dir] #addShareholderQM1NewPersonSection .formInputBox, 
[dir] #addShareholderQM1NewPersonSection .formSelectBox, 
[dir] #contactPersonQM1 .formInputBox, [dir] #contactPersonQM1 .formSelectBox,
[dir] #contactPersonQM2 .formInputBox, [dir] #contactPersonQM2 .formSelectBox {
	padding-bottom: 60px;
} 
.formInputBox_group .form-control[disabled]+.control-label+.formInputBox-append:before {
	border-color: #ffffff !important;
	background: #ffffff !important;
}
.formInputBox_group .form-control+.control-label+.formInputBox-append:before {
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 3px 0 rgba(241, 242, 242, 0.6);
	box-shadow: inset 0 1px 3px 0 rgba(241, 242, 242, 0.6) !important;
}
[dir] .select2.select2-container.select2.select2-container--disabled {
	margin-top: 0px !important;
}
.formSelectBox .select2.select2-container.select2-container--disabled+.control-label {
	top: -18px !important;
}

/*** New license Review***/
 
.contentModule-actions .btn.btn_link.iconElement.iconElement_edit03{
	width: 20px !important;
	height: 30px !important;
}
.contentModule-actions .btn.btn_link.iconElement.iconElement_edit03:hover{
	background: transparent !important;
}
.iconElement.iconElement_print svg{
	width: 20px !important;
	height: 30px !important; 
}
.iconElement.iconElement_print svg path{
	color: #fff;
	fill: #fff;
}
#sagiaApplyReviewForm .form-group .form-item .uncased span {
	top: 7px;
}
#reviewBackButton.btn-secondary{
	padding: 14px;
}


.page-appointments .mainSection { background: #ffffff;}
// .page-appointments .btn-dashboard:hover{
// 	background: #ffffff!important;
// 	color: #00a6be!important; 
// 	border: 1px solid #00a6be;
// }
.page-appointments .contentModule-filter .select2.select2-container .select2-selection__rendered {
	top: 0px !important;
}
.page-appointments .appointmentList_hasTopBoder .appointmentList-entry .appointmentList-date-day, .page-appointments .appointmentList_hasTopBoder .appointmentList-entry .appointmentList-date-month{
	font-weight: normal !important;
}
.page-appointments .btn.btn_link.appointmentList-locationBtn{
	width: 12% !important; 
	margin-top: -8px;
}
.page-appointments .btn:hover {background-color: #fff !important;}
.page-appointments .appointmentList_hasTopBoder .appointmentList-entry .appointmentList-view span {
	font-weight: 100 !important;
}
.page-appointments .paginationModule-wrapper .paginationModule-item a {
	font-weight: 100 !important;
}
.page-appointments .paginationModule-wrapper .paginationModule-item a.active {
	font-weight: 600 !important;
} 

.contentModule-actions .contentModule-headline.profile-settings {
    max-width: 25% !important;
}
#myProfileTabData .myAccount-profilImage-img{
    box-shadow: 0px 0px 0px !important;
    border-radius: 0px; 
} 