
.explore-all-btn{
	float: right;
}

.potentialOpportunityServiceReq{
	float: right;
}
 
.helpSectionBtn{
	justify-content: center;
}
.imageCertifcate{
	height: 20px;
	width: 20px;
	margin-right: 10px;
}
.Incenergyopportunities .container .dashboard-invest-btn{
	display: inline-flex;
    float: right;
    margin-top: -55px;
}
/******** licensed dashboard responsive***/
@media (max-width: 767px){
	.dashboardUser-left:after {
		content: '';
		position: absolute;
		top: 0px !important;
		bottom: 0px !important;
		width: 1px;
	}
	.explore-all-btn{
		text-align: center;
		float: none !important;
		width: max-content;
		margin: 0 auto 15px;
		display: flex;
	}
	
	.panel-group{
		.panel{
			margin-bottom: 20px;
			padding: 0 10px;
			&-heading{
				display: flex;
				padding: 20px;
				margin-bottom: 20px;
				box-shadow: 0px 10px 25px #00000029;
			}
			&-body{
				padding: 0 20px;
			}
		}
	} 
	
	.panel-group{
		.panel-heading{
			.panel-title a{
				color: #0489A3;
				text-transform: none;
				text-decoration: none;
				&:hover{
					color: #0489A3;
					text-transform: none;
					text-decoration: none;
				}
			}
		}
	}  

	.page-dashboard-without-license{
		.myAccount-profilImage{
			margin-top:  0 !important;
		}
		.card{
			border: none !important;
		}
	} 
	.account-manager h4{
		font-size: 20px !important;
	}
	.page-dashboard .dashboardUser-entry, .page-dashboard-edit .dashboardUser-entry {
		display: block;
		text-align: left;
	}
	.page-dashboard .dashboardUser-entry h2, .page-dashboard-edit .dashboardUser-entry h2{
		font-size: 25px;
	}
	.page-dashboard .dashboardUser-label, .page-dashboard-edit .dashboardUser-label{
		width: auto;
	}
	.page-dashboard .dashboardUser-right, .page-dashboard-edit .dashboardUser-right{
		padding-bottom: 20px;
	}
	.page-dashboard .globalMessage-msg, .page-dashboard-edit .globalMessage-msg{
		padding-left: 80px !important;
		padding-right: 0;
	}
	.page-dashboard .globalMessage-icon, .page-dashboard-edit .globalMessage-icon{
		left: 20px;
	}
	h1{
		font-size: 25px !important;
	}
	.page-dashboard .dashboardWidget-body{
		display: block;
	}
	.dashboardWidgetLicense-action .btn+.btn{
		margin-left: 0 !important;
	}
	.page-dashboard{
		.dashboardWidget-body{
			display: block;
			margin-bottom: 0;
		}
		
		.dashboardUser-right{
			border-top: 1px solid #707070;
			padding-top: 10px;
		}
		.licensing-heading{
			font-size: 25px !important;
		}
		.myLicenseBody .dashboardWidget-body {
			margin-left: 15px;
			margin-right: 15px;
		}
		.license .dashboardWidget{
			padding-top: 0;	
		}
		.mainSection_grey{
			padding-bottom: 0;
		}
	}
   .user-icon img{
	   height: 50px;
   }
   
   .sagiaNavigation-services .service-wrapper .nav-link .INS_EPM_border_set{
	   padding: 10px 0 0 !important;
   }

   #creditCardPayment .modal-dialog, #licenseApplicationPayment .modal-dialog{
	   width: auto !important;
	   padding: 0 20px !important;
   }
   .modal-dialog .modal-header, [dir] .modal-dialog .modal-secondaryContent{
	   padding: 60px 15px 15px;
   }
	.modal-close{
	   top: 15px;
   }
	.tableModule, .modal-description{
	   margin-bottom: 0 !important;
   }
    #licenseApplicationPayment .modal-dialog .payment-btn{
	   padding: 5px 12px !important;
	   margin-right: 0 !important;
	   width: 100%;
	   align-items: center;
   }
   .pay-with-salad{
	   padding-right: 10px;
   }
	
	.page-dashboard .sectorAndOpportunitiesSection .dashboardWidget_inner .dashboardWidgetBanner  .dashboardWidgetBanner-tabs .dashboardWidgetBanner-tabs-body{
		padding: 0 !important;
	}
	.dashboardWidgetTickets .tableModule {
		margin: 0 10px;
		overflow-x: visible;
		white-space: nowrap;
		max-width: 100%;
		overflow-y: auto !important;
	}
	.dashboardWidgetTickets .tableModule::-webkit-scrollbar {
		width: 0.5em;
	}
	.dashboardWidgetTickets .tableModule::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	.dashboardWidgetTickets .tableModule::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
	.potentialOpportunityServiceReq{
		width: auto !important;
		margin-top: 20px !important;
	}
	.potentialOpportunityChatBox{
		display: inline;
		.comment_box_form{
			width: 100%;
		}
	}
	.potentialOpportunityNewChat{
		display: flex !important; 
		width: 100%;
		justify-content: center;
		padding-top: 50px;
	}
	.potentialOpportunityNewChat .btn{
		padding: 0 25px !important;
	}
	.page-dashboard .dashboardWidget-body .dashboardWidgetTickets .overflow-y-hidden{
		overflow-y: hidden !important;
	}
	.panel-group {
		font-size: 14px;
	}
	.panel-group {
		.panel-heading {
			padding: 20px;
			margin-bottom: 10px !important;
			-webkit-box-shadow: 0 10px 25px #00000029;
			box-shadow:none !important;
			border-radius: 0 !important;
			// border-top: 1px solid #707070;
			// border-bottom: 1px solid #707070;
			color: #00a6be;
			background-color: #ededed;
		}
		.dashboardWidget_open .panel-heading {
			background-color: #00a6be;
		}
		.panel {
			margin-bottom: 0 !important;
		}
		.panel-body{
			margin: 0 -5px !important;
		}
	}
	
	 .dashboardWidget-headline{
		 margin-top: 0 !important;
	 }
	
	.panel-group .panel-heading .panel-title a, .panel-group .panel-heading .panel-title a:hover{
		font-size: 16px;
		color: #707070 !important;
	}
	.panel-group .dashboardWidget_open  .panel-heading .panel-title a, .panel-group .dashboardWidget_open .panel-heading .panel-title a:hover{
		color: #fff !important;
		font-size: 18px;
	}
	.user-icons{
		
		&-header{
		justify-content: center;
		background-color: #f7f7f7;
		border-bottom: 2px solid #707070;
		border-top: 2px solid #707070;
		margin-top: 20px;
		margin-bottom: -20px;
		}

		img{
			height: 45px;
			margin-right: 10px;
		}

		&-block{
			margin-top: 10px;
			border-top: 1px dashed #707070;
			justify-content: center;
		}

	}
	 
	.page-dashboard .dashboardUser-right, [dir] .page-dashboard-edit .dashboardUser-right{
		box-shadow: 0 10px #707070;
	}
	.owl-carousel .owl-dots button.owl-dot{
		width: 15px;
		height: 15px;
	}
	
	.page-dashboard-without-license {
		.apply-bidding-license-section {
			.dashboardWidget-body-shadow{
				box-shadow: none;
			}
		}
		.dashboardUser-wrapper{
			.user-icon-without-license{
				display: flex;
				justify-content: center;
				margin: 15px 0;
				border-top: 1px dashed #707070;
				padding: 15px 0;
			}
		}
	}
	.mytickets-view-pagination{
		display: flex;
        flex-direction: row-reverse;
	}

	.page-dashboard .dashboard-tabs .download-payment{
		margin-left: 0;
	}
	
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.page-dashboard {
		.userDetail-block {
			.container{
				padding: 0;
			}
		}
		.dashboard-tabs .nav-tabs .nav-item .nav-link{
			font-size: 13px;
			line-height: 15px;
		}
		.license .dashboardWidget{
			padding-top: 20px;	
		}
		.dashboardWidget-body .dashboardWidgetTickets .overflow-y-hidden{
			overflow-y: hidden !important;
		}
		h1{
			font-size: 30px;
		}
	}
	 
	
	
	.dashboardWidgetTickets{
		.tableModule {
			margin: 0 10px;
			overflow-x: visible;
			white-space: nowrap;
			max-width: 100%;
			overflow-y: auto !important;

			&::-webkit-scrollbar {
				width: 1em;

				&-track{
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				}
				&-thumb{
					background-color: darkgrey;
					outline: 1px solid slategrey;
				}
			}
			&-table{
				max-height: initial;
			}
		}
	}
	.potentialOpportunityServiceReq{
		width: auto !important;
	}
	.potentialOpportunityChatBox{
		display: inline;
	}
	.potentialOpportunityNewChat{
		display: flex !important;
		width: 100%;
		justify-content: center;
		padding-top: 10px;

		.btn{
			padding: 0 25px !important;
		}
	}
}
.payment-pending-block{
	background: url(/_ui/responsive/common/images/dashboard-media/Apply-license/Apply-license-bg.png) no-repeat center center;
    padding: 20px 0;
    background-size: cover;
}
/******** licensed dashboard responsive ends***/
/****** fixes on after demo ****/
.page-dashboard{
	.dashboard-tabs{
		.nav{
			.nav-item {
				.nav-link{
					padding: 0.5rem;
				}
			}
		}
	}
	.Inc-energyoppertunities {
		.page-main-content{
			.Inc-fearured-opp{
				.btn-sector-outline {
					background-color: #fff;
					border: 1px solid #00a6be;
					color: #00a6be;
				}
			}
		}
	}
	.license .tabs-list li.dashboardTabs-current a:hover, .license .tabs-list li a{
		text-decoration: none;
	}  
	.sagiaNavigation-services .service-wrapper .nav-link .INS_EPM_border_set{
		padding: 10px 0 0;
	}
	.service-wrapper span.licensing-heading{
		margin-top: 5%;
		font-size: 25px;
		min-height: 6rem;
	}

	.dashboard-tabs .myTicketsHeader{
		display: none;
	}
	.dashboard-tabs .download-payment img{
		vertical-align: sub;
	}
	// .d-invest-with-us p{
	// 	font-size: 26px;
	// }
	.invest-us-header, .page-dashboard .invest-with-us-description{
		display: none;
	}
	// .newsAndUpdateContainer .d-news-update-content{
	// 	font-size: 26px;
	// 	color: #707070;
	// }
	.dashboard-tabs .dashboardWidget-filter{
		width: 190px;
	}
	.dashboard-tabs .select2.select2-container{
		padding: 21px 0px !important;
	}
	.firstBlock-text{
		color: #707070;
		letter-spacing: 0px;
		// font-size: 24px;
	}
	.license .tabs-list li.dashboardTabs-current a{
		pointer-events: none;
	}
} 
.page-dashboard .dashboard-tabs .download-payment,  .page-dashboard .dashboard-tabs .convertNational{
	padding: 12px 24px 12px;
    display: flex;
    align-items: center;
  }
.page-dashboard-edit .no-border{
	border-radius: 0;
}

.page-dashboard-without-license .licenseSimulatorPopup .modal-content{
	max-width: 900px;
    width: 900px;
  }
.page-dashboard-without-license .licenseSimulatorPopup .modal-content .modal-body{
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}
.page-dashboard-without-license .licenseSimulatorPopup .modal-content .modal-header{
  text-align: right;
  display: block;
  /*padding: 40px 20px;*/
  padding: 8px;
  margin-bottom: 0px;
}
  .page-dashboard-without-license .licenseSimulatorPopup .modal-content .modal-header button{
		background: none;
		border: none;
		cursor: pointer;
  }

  .page-dashboard-without-license .licenseSimulatorPopup .modal-content .modal-body{
	  padding: 0 0px;
  }
@media (min-width:1201px) and (max-width:1499px) and (max-height:700px) {
	.page-dashboard .select2-container--open .select2-dropdown--above{
		position: fixed;
		bottom: 89px;
		display: flex;
		right: 13%;
		left: auto;
		top: auto;
	  }
	  .page-dashboard .select2-container--open .select2-dropdown--below{
		position: fixed;
		bottom: auto;
		display: flex;
		right: 13%;
		left: auto;
		top: 35%;
	  }
	  .page-dashboard .select2-container--open .select2-dropdown--focus{
		position: relative;
		
	  }
	  .page-dashboard .select2-container--open .select2-dropdown--open{
		position: relative;
		
	  }
  }

.page-dashboard .dashboard-tabs .download-payment{
	margin-left: 1rem;
}
.page-dashboard .dashboard-tabs .convert-national-btn{
	padding: 7px 24px 14px;
}
.page-dashboard-without-license .newsSection{
	overflow: hidden;
}

// .page-dashboard-without-license .newsAndUpdateContainer .d-news-update-content{
// 	font-size: 26px;
//     color: #707070;
// }

.page-dashboard-without-license .firstBlock-text{
	color: #707070;
    letter-spacing: 0;
    // font-size: 26px;
}

// #license-application-simulator.modal{
// 	top: 20%;
// }

// .page-dashboard-without-license .licenseSimulatorPopup  .modal-dialog{
// 	top: 20%;
// }

.page-dashboard .INS_letter_set_para{
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    max-width: 300ch;
    height: 75px;
}
@media (max-width: 767px) and (min-width: 100px){
	.page-dashboard .dashboard-invest-btn {
		margin-top: 0 !important;
	}
	 .page-dashboard-without-license .dashboard-login{
		 margin-top: 10px;
	 }
	 .page-dashboard-without-license .dashboardUser-wrapper .user-icon-without-license{
		 justify-content: center;
	 }
	 .page-dashboard-without-license .licenseSimulatorPopup .modal-content{
		max-width: 100%;
		width: 100%;
	 }
	 .page-dashboard-without-license .licenseSimulatorPopup  .modal-dialog{
		 top: 20%;
	 }
	//  .page-dashboard .INS_letter_set_para{
	// 	height: 200px;
	// }
}

@media (max-width: 1024px) and (min-width: 768px){
	[dir=rtl] .dashboard-invest-btn {
		margin-top: -45px !important;
	}
	[dir=ltr] .dashboardUser-left{
		padding-left: 20px;
		padding-right: 20px;
	}
	.page-dashboard-without-license  .dashboard-login{
		margin: 0;
		padding: 20px 0;
	}
	#eServiceTour .modal-dialog{
		right: calc(5%);
	}
	  .page-dashboard-without-license .dashboardUser-right{
		 padding-left: 20px;
		 padding-right: 40px;
	 }
	  [dir=rtl].page-dashboard-without-license .dashboardUser-right{
		 padding-left: 20px;
		 padding-right: 40px;
	 }
	 .page-dashboard-without-license .dashboardUser-entry{
		padding-left: 5rem;
		padding-right: 0;
	 }
	[dir=rtl].page-dashboard-without-license .dashboardUser-entry{
		padding-right: 5rem;
		padding-left: 0;
	}
	.dashboardUser-image .myAccount-profilImage-img{
		height: 80px;
		width: 80px;
	}
	.user-icon-without-license{
		padding: 0;
	}
	.page-dashboard-without-license .licenseSimulatorPopup .modal-content{
		width: 700px;
	}


	[dir=rtl] .page-dashboard .user-icons-block{
		margin-right: -35px;
	}
	
}
/*.page-dashboard-without-license .licenseSimulatorPopup .modal-content{
	right: calc(-30%);
}*/
@media (max-width: 640px) and (min-width: 100px){
	.page-dashboard-without-license .licenseSimulatorPopup .modal-content{
		/*right: calc(0%);*/
		width: 100%;
		max-width: 100%;
	}
	
	.page-dashboard{ 
		.paginationModule-items, .paginationModule-control{	
			display: none;	
		}
		.dashboardUser{
			overflow: hidden;
		}
		.helpSection{
			padding: 0px 25px;
		}
		.dashboardUser-right{
			border-top: 1px dashed #707070;
		}
		.dashboardUser-entry{
			padding-top: 10px;
		}
		.dashboardUser-image-add{
			margin-top: -30px;
		}

		.dashboard-tabs::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0,0.30);
			box-shadow: inset 0 0 6px rgba(0, 0, 0,0.30);
		}
		.dashboardWidgetNoLicense-body,.dashboardWidget-body{
			border-bottom:none;
			border-top: none;;
		}
		.dashboardUser-wrapper{
			overflow: hidden;
			.dashboardUser-left{
				.col{
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
		.dashboardUser-col-alignment{
			padding-left: 10px;
		}
	}
	.dashboard-invest-btn{
		margin-top: 0px !important;
	}
	::-webkit-scrollbar{
		height:5px !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.page-dashboard-without-license .licenseSimulatorPopup .modal-content{
		max-width: 700px;
		/*right: calc(-20%);*/
		width: 700px;
	}
	.account-manager h4{
		font-size: 18px !important;
	}

	.social-links a.login-details span{
		font-size: 8px !important;

	}
	#topbar .social-links a{
		margin-left: 10px !important;
	}
	#header .logo img{
		height: auto;
		width: 165px;
	}
	.social-links {
		padding-left: 0!important;
		white-space: nowrap;
	}
}

.account-manager h4{
	font-size: 18px !important;
}


@media(max-width: 767px){
	.page-dashboard #dashboard-carousel .owl-item img{
		height: 400px;
		background-position: top center;
		background-size: cover;
		position: relative;
		z-index: 1;
		object-fit: cover;
	}
}

/***07-03-2022***/ 
#license-application-simulator .license-simulator-modal-close.right-close{
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #fff;
	width: 75px;
	height: 75px;
	z-index: 999;
	border-radius: 50px;
	opacity: 1;
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1; 
	text-shadow: 0 1px 0 #fff;
	color: #0097a9;
	border: 1px solid #0097a9;
}
#license-application-simulator .license-simulator-modal-close.right-close:hover{
	background-color: #0097a9; 
	color: #fff;
}

/***08-03-2022***/ 
#license-application-simulator {
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.33);
}

.owl-carousel .owl-dots button.owl-dot{
	width: 15px;
	height: 15px;
}

.owl-dot.active {
	width: 15px;
	height: 15px; 
}

@media screen and (min-width: 1008px) and (max-width: 1300px) {
	.page-dashboard-without-license .licenseSimulatorPopup .modal-content .modal-body{
		height: 80vh;
		overflow-y: hidden;
		overflow-x: hidden;
	}
}

.page-dashboard-without-license .dashboardUser-left{
	padding-left: 0;
}
@media (max-width: 767.98px){
	[dir=ltr] .dashboardUser-left {
		padding-left: 10px;
	}
}
@media (max-width: 767px){
	.page-dashboard-without-license .user-icons-block {
		margin-top: 0;
		border-top: none; 
	}
	.page-dashboard-without-license .dashboardUser-wrapper .user-icon-without-license{
		padding: 0 !important;
	}
}
