[dir=rtl] .transform-180-degree{
	transform: rotate(180deg);
	padding-right: 10px;
}
.explore-all-btn{
	float: right;
}
[dir=rtl] .explore-all-btn{
	float: left !important;
}
[dir=rtl] .waring-text-ar{
	padding-right: 20px;
}
[dir=rtl] .btn-simulator{
	margin-left: 20px !important;
}
[dir=rtl] .text-right-ar{
	text-align: right !important;
	float: right !important;
}
@media (max-width: 767px){
	.explore-all-btn{
		text-align: center !important;
		float: none !important;
		width: max-content;
		margin: 0 auto 15px !important;
		display: block;
	}
	
	[dir] .page-dashboard-without-license .dashboardUser-right {
		margin-top: 50px;
	}
	.card{
		border: none !important;
	}
	.panel-group .panel{
		margin-bottom: 20px;
		padding: 0 10px;
	}
	.panel-group .panel-heading{
		display: flex;
		padding: 20px;
		margin-bottom: 20px;
		box-shadow: 0px 10px 25px #00000029;
	}
	.panel-group .panel-body{
		padding: 0 20px;
	}
	.panel-group .panel-heading .panel-title a, .panel-group .panel-heading .panel-title a:hover{
		color: #0489A3;
		text-transform: none;
		text-decoration: none;
	}

	[dir=rtl] #eServiceTour .modal-dialog{
		right: calc(0%) !important;
	}
	[dir=rtl] .footer img.footer_logo {
		right: 10;
		left: auto;
		position: relative;
		display: block;
	}
}
/******** licensed dashboard responsive***/
@media (max-width: 767px){
	.page-dashboard .dashboardUser-entry, .page-dashboard-edit .dashboardUser-entry {
		display: block;
		text-align: left;
	}
	.page-dashboard .dashboardUser-entry h2, .page-dashboard-edit .dashboardUser-entry h2{
		font-size: 25px;
	}
	.page-dashboard .dashboardUser-label, .page-dashboard-edit .dashboardUser-label{
		width: auto;
	}
	.page-dashboard .dashboardUser-right, .page-dashboard-edit .dashboardUser-right{
		padding-bottom: 20px;
	}
	.page-dashboard .globalMessage-msg, .page-dashboard-edit .globalMessage-msg{
		padding-left: 80px !important;
		padding-right: 0;
	}
	.page-dashboard .globalMessage-icon, .page-dashboard-edit .globalMessage-icon{
		left: 20px;
	}
	h1{
		font-size: 25px !important;
	}
	.page-dashboard .dashboardWidget-body{
		display: block;
	}
	.dashboardWidgetLicense-action .btn+.btn{
		margin-left: 0 !important;
	}
	.page-dashboard .dashboardWidget-body{
	   display: block;
   }
   .user-icon img{
	   height: 50px;
   }
   .page-dashboard .dashboardUser-right{
	   border-top: 1px solid #707070;
	   padding-top: 10px;
   }
   .page-dashboard .licensing-heading{
	   font-size: 25px !important;
   }
   .sagiaNavigation-services .service-wrapper .nav-link .INS_EPM_border_set{
	   padding: 10px 0 0 !important;
   }

   #creditCardPayment .modal-dialog, #licenseApplicationPayment .modal-dialog{
	   width: auto !important;
	   padding: 0 20px !important;
   }
   [dir] .modal-dialog .modal-header, [dir] .modal-dialog .modal-secondaryContent{
	   padding: 60px 15px 15px;
   }
	.modal-close{
	   top: 15px;
   }
	.tableModule, .modal-description{
	   margin-bottom: 0 !important;
   }
   [dir] #licenseApplicationPayment .modal-dialog .payment-btn{
	   padding: 5px 12px !important;
	   margin-right: 0 !important;
	   width: 100%;
	   align-items: center;
   }
   .pay-with-salad{
	   padding-right: 10px;
   }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.page-dashboard .userDetail-block .container{
		padding: 0 !important;
	}
	 .dashboard-tabs .nav-tabs .nav-item .nav-link{
		 font-size: 13px;
		 line-height: 15px;
	 }
	 h1{
		 font-size: 30px;
	 }
}
/******** licensed dashboard responsive arabic***/ 
@media (max-width: 767px){
	[dir=rtl].page-dashboard .dashboardUser-entry{
		text-align: right;
	}
	[dir=rtl] .page-dashboard .globalMessage-msg{
		padding-right: 80px !important;
		padding-left: 0;
	}
	[dir=rtl] .page-dashboard .globalMessage-icon{
		right: 20px;
		left: auto;
	}
}

/******** licensed dashboard responsive ends***/

