
.page-dashboard-without-license .no-border, .page-dashboard .no-border{
	border-radius: 0;
}
.page-dashboard-without-license .dashboardWidget_inner{
	border-radius: 22px;
    padding: 30px 20px;
}
.page-dashboard-without-license .dashboardWidget_inner.noLicenseBody{
	background: #000000;
    opacity: 0.65;
}
.page-dashboard-without-license .dashboardWidget_inner .dashboardWidgetBanner .dashboardWidget_inner .dashboardWidgetBanner-tabs ul{
    display: none;
}
.no-license-page .card {
	background: #fff;
	border-radius: 22px;
	display: inline-block;
	height: auto;
	position: relative;
	width: 100%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 10px;
	padding:40px;
}
.page-dashboard-without-license .dashboardWidgetNoLicense{
	overflow: visible;
}
.page-dashboard-without-license .dashboardWidgetBanner-tabs-content{
	display: flex;
}
.page-dashboard-without-license .dashboardWidget_inner .dashboardWidgetBanner .dashboardWidgetBanner-tabs ul{
	display: none;
}
.page-dashboard-without-license .dashboardWidget_inner .invest-us-header{
	color: #bf9b2e !important;
	justify-content: left !important;
}
.page-dashboard-without-license h1{
    font-size: 45px;
}
.page-dashboard-without-license .my-license-block{
	background: #FFFFFF;
    box-shadow: 0px 0px 35px #0000003D;
	border-radius: 5px;
}

.page-dashboard-without-license .no-border{
	border-radius: 0;
}

.globalMessage .globalMessage-msg{
      padding-left: 50px;
  }
  .user-icon{
      display: flex;
      justify-content: right;
      height: 63px;
      margin-top: 15px;
  }
  .card .nav-tabs{
      border-bottom: none;
  }
  
//   .card .nav-tabs li{
//       background-color:darkgray ;
//       padding: 40px 20px 20px;
//       font: normal normal normal 25px/34px TheSans;
//   }
//   .card .nav-tabs li a, .card .nav-tabs li a:hover{
//     color: #7b838c;
//     text-decoration: none;
//   }
.dashboard-invest-btn{
	display: inline-flex;
    float: right;
    margin-top: -55px !important;
}
.card .nav-tabs .nav-item .nav-link.active{
    background-color: #fff;
    padding: 40px 20px 20px;
    letter-spacing: 0px;
    color: #00A6BE !important;
    font-size: 25px;
    line-height: 34px;
   
  }
  .card .nav-tabs  .nav-item .nav-link{
    background-color: #0000003D;
    padding: 40px 20px 20px;
	color: #707070;
    border-color: none;
    font-size: 25px;
    line-height: 34px;
  }
  .card .nav-tabs  .nav-item .nav-link.active:hover{
	color: #707070 !important;
  }
  .card .nav-tabs  .nav-item .nav-link:hover{
	  color: #707070 !important;
  }
  .dashboard-login{
	  padding: 20px;
  }
  
  .dashboardUser-entry{
	  padding-left: 8rem;
  }
  .process{
      padding: 0 80px 55px;
  }
  .process-step{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
  }

  .process-card{
	background: #fff;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 150px;
	position: relative;
	width: 150px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 50%;
  }
  .process-card-step{
	  display: flex;
	  text-align: center;
  }
  .process-arrow-icon{
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
  }
  .process-card-step-header{
	color: #025635;
	font-size: 25px;
	line-height: 28px;
	font-weight: 600;
}
.process-card-step-description{
	color: #707070;
	font-size: 20px;
	line-height: 25px;
	font-weight: 600;
}
.apply-license-header{
	color: #025635;
	font-size: 25px;
	line-height: 30px;
	font-weight: 600;
}
   .dashboard-headline{
	padding-bottom: 20px;
    margin-bottom: 25px;
	line-height: 30px;
    color: #BF9B2E;
    text-transform: uppercase;
    display: block;
}
[dir=ltr] .dashboard-sector{
	border-radius: 0;
	padding: 30px 40px;
}
.sectorOppotunities ul{
    display: none;
}
[dir] .tableModule-head th{
	background-color: #cfcfcf;
	color: #000;
	font-weight: bold;
}
.invest-opportunities-block{
	background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.65;
	border-radius: 25px;
    padding: 46px 0;
}
.font-normal{
    font-weight: normal;
    line-height: inherit;
}
.full-width-container{
	margin-left: -15px;
	margin-right: -15px;
}
.clr_gld{
	color: #BF9B2E;
}

.btn-primary.btn_outline,.btn.btn_outline,.btn.btn_outline:hover:not([disabled]), .btn.btn_outline[hover]:not([disabled]), [dir] .btn.btn_outline:hover:not([disabled]), [dir] .btn.btn_outline[hover]:not([disabled]) {
	color: #00a6be !important;
	border: 1px solid #00a6be !important;
	background-color: #fff !important;
}
.dashboardUser-heading, .dashboardUser-email{
	color: #7b838c;
}
.Applylicense-icon{
	position: absolute;
    top: -5px;
	left: -40px;
}
.dashboard-heading-title-color{
    color: #025635;
}
.dashboard-paragraph-color{
    color: #707070;
}
.tableModule-head  td + td { border-left:2px solid #cfcfcf; }

/* owl nav */
.owl-slider .owl-carousel .owl-nav{
	height: 47px;
	position: absolute;
	width: 100%;
	cursor: pointer;
    top: 45% !important;
    display: flex;
    justify-content: space-between;
  }
  [dir] .owl-carousel .owl-nav button.owl-next, [dir] .owl-carousel .owl-nav button.owl-prev{
	  border: none !important;
  }
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
  pointer-events: none;
  opacity: 0.2;
  }
  .owl-prev{
      left: 5%;
      position: absolute;
  }
  .owl-next{
      right: 5%;
      position: absolute;
  }
.owl-dots{
    position: absolute;
    display: flex;
    bottom: 10%;
    width: 100%;
    justify-content: center;
}

.owl-dot.active{
    width: 22px;
    height: 22px;
    background: #00A6BE !important;
    opacity: 1;
}
 .owl-carousel .owl-dots button.owl-dot{
     border-radius: 25px !important;
     background: transparent;
     margin-right: 10px;
     border: 1px solid #00A6BE;
     width: 22px;
 }
 .Inc-fearured-opp{
	height: 390px;
	background: #fff;
	cursor: pointer;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease 0.5s;
	padding: 45px 20px 50px;
	box-shadow: 0px 15px 21px #00000029;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
}
.Inc-fearured-opp-headtitle{
        font-size: 30px;
        color: #646464;
        overflow: hidden;
        max-height: 14rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px !important;
        height: 4.5rem;
        min-height: 4.5rem;
    }

.Inc-fearured-opp-type{
        font-size: 25px;
        color: #BF9B2E;
        text-align: center;
        margin-bottom: 12px;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        padding-bottom: initial !important;
        margin-bottom: 5% !important;
        min-height: 4rem;
    }
.Inc-fearured-opp button.btn {
        margin: 12px 0px;
    } 

.dashboard-pop-up{
    border-radius: 25px;
}
.dashboard-user-add-icon{
    left: 13% !important;
}
[dir=ltr] .dashboardUser-image-add{
    border: none;
    background: transparent;
}

/* ...... No License dashboard ends .........*/
/**** Licese Dashboard CSS Starts ****/
@media (min-width: 1200px){
	.page-dashboard .container, .page-dashboard-without-license .container{
		max-width: 1366px;
	}
  }
.dashboard-tabs .nav-tabs{
    border-bottom: none;
}
.dashboard-tabs .nav-tabs .nav-item{
    width: 20%;
}
.dashboard-tabs .tab-content>.active{
    border: 1px solid #00A6BE;
}
.dashboard-tabs .nav-tabs .nav-link{
    height: 85px;
    background: #EDEDED 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
    text-transform: uppercase;
    color: #707070;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.dashboard-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-link.active:hover{
    background: #00A6BE;
    color: #FFFFFF !important;
}

.dashboard-tabs .dashboard-tab-body .card{
    box-shadow: none;
    border-radius: none;
    border: none;
}

.invest-with-us{
    border-radius: 22px !important;
} 
.service-card-wrapper{
    display: flex;
    justify-content: center;
}
.service-card{
    width: 277px;
    height: 294px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px #00000029;
    border-radius: 30px;
    margin-right: 62px;
    padding: 30px 25px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-card img{
    width: 78px;
    height: 100px;
}
.service-card a{
    margin-top: 25px;
    letter-spacing: 0px;
    color: #8C8B8B;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    line-height: 36px;
}
.btn-dashboard{
    height: 45px;
    background: #00A6BE !important;
    color: #FFFFFF;
    border-radius: 27px;
    opacity: 1;
    margin: 0;
    text-align: center;
    padding: 5px 24px 7px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.btn-outline{
    background: #FFFFFF !important;
    border: 1px solid #00A6BE !important;
    border-radius: 27px;
    margin: 0;
    text-align: center;
    padding: 10px 24px 14px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
	height: 45px;
}
[dir] .license .tabs-list li.dashboardTabs-current a{
    color: #00A6BE !important;
    border-bottom: 4px solid;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.btn-outline:hover{
    color: #00a6be !important;
}
.btn-dashboard:hover,.btn-dashboard a:hover{
	color: #FFFFFF !important;
	text-decoration: none !important;
}
.license-customize-align{
	display: flex;
    align-items: center;
    float: right;
    justify-content: space-around;
	padding-bottom: 30px;
}
/* [dir=ltr] .dashboard-tabs .nav-tabs .nav-link:nth-last-child(1){
	margin-right: 0;
} */

.license .tableModule-headline, .license .link{
	color:#00A6BE;
}
[dir] .dashboardWidgetTickets-count{
	background: #00A6BE;
}
.license .tableModule{
	overflow-x: hidden;
    overflow-y: hidden;
}

.page-dashboard .dashboardUser{
	border: none;
}
.license .dashboardWidgetLicense-list-label{
    color:  #BF9B2E;
}
// .license .dashboardWidgetLicense-action{
//     display: none;
// }
.license .no-border{
    border-radius: 0 !important;
    box-shadow: none;
}
.license .dashboardWidget{
    padding-top: 100px
}
.license .dashboardWidget-headline-text,.license .dashboardWidget-headline-icon{
    display: none;
}
.dashboardWidgetLicense-list-value_green{
	color: #00A6BE !important;
}
.font-14{
    font-size: 14px;
}
.license-customize-align{
	display: flex;
    align-items: center;
    float: right;
    justify-content: space-around;
    padding-bottom: 30px;
}
[dir=rtl] .license-customize-align{
    float: left;
}
.page-dashboard .sagiaNavigation-btn{
	padding: 0;
	margin: 0;
	width: auto !important;
}

.page-dashboard .potential-opportunities, .page-dashboard-without-license .potential-opportunities{
	border-radius: 22px !important;
}
.page-dashboard .potential-opportunities .dashboardWidget-headline,.page-dashboard-without-license .potential-opportunities .dashboardWidget-headline {
    display: none;
}
.page-dashboard .dashboardWidget_inner .dashboardWidgetBanner  .dashboardWidgetBanner-tabs ul{
    display: none;
}
.page-dashboard .dashboardWidgetBanner-tabs-content{
	display: flex;
}
.page-dashboard-without-license .dashboardWidget_inner .invest-us-header{
	color: #bf9b2e !important;
	justify-content: left !important;
}
.page-dashboard .dashboardWidget_inner{
	border-radius: 22px;
    padding: 30px 20px;
}

.page-dashboard .dashboardWidget_inner .dashboardWidgetBanner  .dashboardWidgetBanner-tabs .dashboardWidgetBanner-tabs-body{
    padding: 0 20px;
}
.page-dashboard .dashboardWidget_inner .dashboardWidgetBanner  .dashboardWidgetBanner-tabs .dashboardWidgetBanner-tabs-content .withLicenseBodyBg {
    background: #000000;
    opacity: 0.65;
	align-items: center;
}
.page-dashboard .dashboardWidget_inner .dashboardWidgetBanner  .dashboardWidgetBanner-tabs .dashboardWidgetBanner-tabs-body .dashboardWidget-headline{
	color:  #BF9B2E !important;
	text-align: left;
}
.page-dashboard .dashboardWidget_inner{
	border-radius: 22px;
    padding: 30px 20px;
}
.extended-left-block{
	padding-right: 20px;
	border-right: 2px solid #FFFFFF;
	height: 118px;
}
.extended-block-data{
	text-align: center;
	font-size: 43px;
	letter-spacing: 0px;
	color: #BF9B2E;
}
.extended-block-text{
	text-align: center;
	color: #FFFFFF;
}

/*contact-block*/

.helpSection{
	padding: 0 60px;
	margin: 0 auto;
	background: url('../img/Intersection-1.png') no-repeat center center fixed !important; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.helpSection .innerContainer{
	padding: 60px 250px;
}
.helpSection .innerContainer .firstBlock-contact{
	padding-top: 50px;
}
.firstBlock-text{
	margin-top: 50px;
	display: block;
	color: #484848;
	font-size: 22px;
	text-align: center;
}
.firstBlock-contact{
	display: flex;
	justify-content: space-evenly;
}
.firstBlock-contact-local{
	display: flex;
	flex-direction: column;
	text-align: center;
    align-items: center;
}
.firstBlock-contact-local-label{
	color: #707070;
	font-size: 25px;
}
.firstBlock-contact-local-label img{
	height: 40px;
    width: 40px;
}

.firstBlock-contact-local-email{
	color: #00A6BE;
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
	display: block;
}
.firstBlock-contact-local-number{
	color: #00A6BE;
	font-size: 25px;
}
.firstBlock-contact-international{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.emailBlock{
	margin-top: 100px;
}
.emailBlock-contact{
	display: flex;
	justify-content: center;
}
.email-buttons{
	margin-top: 60px;
	display: flex;
	justify-content: space-evenly;
}
.userDetail-block{
    background: #F0F0EF !important;
}
.helpSection{
	padding: 0 60px;
	margin: 0 auto;
	background: url('../img/Living-in-Saudi .png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.last-login{
	color: #025635;
}
.cursor-pointer{
	cursor: pointer;
  }
.dashboard-tabs .nav-tabs .nav-item:last-child .nav-link{
margin-right: 0;
}
.payment-link{
	color: #00A6BE !important;
	padding-left: 50px;
	text-align: center;
}
@media (min-width: 768px){
	.dashboardUser-left:after {
		content: '';
		position: absolute;
		top: 0px !important;
		bottom: 0px !important;
		width: 1px;
	}
}
.dashboardUser-value{
	font-size: 14px !important;
	color: #707070 !important;
}
.dashboardUser-col .btn-dashboard{
	width: max-content;
}
[dir] .myAccount-profilImage-img{
	box-shadow: 0px 11px 29px #00000029;
}
 .page-dashboard .dashboard-tab-body .dashboardWidget-headline{
	border-bottom: none !important;
}
 .page-dashboard .dashboard-tab-body .dashboardWidget{
	border-radius: 0 !important;
}
 .page-dashboard .dashboard-tab-body.license .dashboardWidget{
	padding-top: 0px !important;
	box-shadow: none !important;
}
 .page-dashboard .dashboard-tab-body .select2.select2-container{
	border-radius: 15px;
	box-shadow: none;
}
.license .tabs-list li.dashboardTabs-current a{
    color: #00A6BE !important;
    border-bottom: 4px solid;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.license .tabs-list li a{
   color: #707070;
    font-size: 20px;
    font-weight: 500;
}
.page-dashboard .license .dashboardWidgetLicense-list-label{
    color:  #BF9B2E;
	font-size: 20px;
	font-weight: 500;
}
 .tableModule-body td{
    color:  #707070;
	font-size: 18px !important;
	font-weight: 500;
}
.page-dashboard .license .tableModule .tableModule-body .serviceStatus{
    color:  #707070;
	font-size: 18px !important;
	font-weight: 500;
}
.tableModule-headline, .tableModule-description{
	font-size: 18px !important;
	font-weight: 500;
}
.dashboard-tab-body .tab-pane .dashboardWidget .dashboardWidget-headline .service-request-header,
.dashboard-tab-body .tab-pane .dashboardWidget .dashboardWidget-headline .incomplete-request-header,
.dashboard-tab-body .tab-pane .dashboardWidget .dashboardWidget-headline .my-tickets
{
	display: none;
}
.tableModule-headline .btn-dashboard{
	width: max-content;
	margin: 0 auto;
}

.page-dashboard .dashboard-tab-body .tableModule-head th{
	background-color: #f7f7f7 !important;
}
.invest-with-us-description{
    font-size: 20px;
}
.page-dashboard .globalMessage-msg{
	font-size: 18px;
	font-weight: 500;
	padding-left: 45px;
}
.page-dashboard .Applylicense-icon{
	left: 0;
	top: -10px;
}
 .dashboard-user-add-icon{
	 z-index: 1;
 }
 .page-dashboard .dashboard-exportall-btn{
	display: inline-flex;
    float: right;
    margin-top: -100px !important;
}
 .dashboard-invest-btn{
	display: inline-flex;
    float: right;
    margin-top: -55px !important;
}
.page-dashboard .dashboard-tab-body .tableModule-head th{
	background-color: #f7f7f7 !important;
        padding: 11px 10px !important;
}
.page-dashboard .tableModule_slim .tableModule-body td {
    padding: 10px 12px !important;
}
.page-dashboard .tableModule_fixedWidth .tableModule-body td {
    padding: 12px 11px !important;
}

.messageList-img_large .iconElement, .messageList-img_large img{
	width:47px !important;
	height: 47px !important;
}
.page-notifications .messageList-img img{
  border-radius: 0 !important;
  background-color: transparent !important;
  border: none !important;
}
 .messageList-header-details .messageList-img_large:first-child{
  margin-top: 0 !important;
}


.notificationList-details{
	flex-direction: column;
}
[dir] .notificationList-link{
	padding-right: 0;
}

.process-arrow-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px !important;
}
.dashboardWidget-body-shadow{
  box-shadow: 0px 0px 35px #0000003D;
}
.notificationList-link{
	padding: 12px 30px 0px 0px !important; 
}

.notification-body{
	padding: 32px !important;
}
[dir] .notificationList-title:after{
	background: url(../_ui/responsive/theme-alpha/icons/check_read.svg) center no-repeat;
    background-size: 12px auto;
	display: inline-block;
    position: absolute !important;
    top: 46px !important;
    content: "";
    right: 34px;
}
.searchInputBox-input{
	font-size: 20px !important;
}
.notificationList-status{
	width: 100%;
	overflow: auto;
	white-space: nowrap;
}
.notificationList-link{
	padding: 12px 30px 0px 0px !important; 
}

/**/
.d-news-update-date{
    letter-spacing: 0px;
    color: #8C8C8C;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.d-news-update-content{
    letter-spacing: 0px;
    color: #025635;
    font-size: 20px;
    font-weight: 600;
    min-height: 4rem;
}
.line-after::after{
    content: "";
    border-left: 2px solid #EDEDED;
    height: 150px;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 0;
}
.btn-outline,.btn_dashboard,.btn-dashboard{
    text-transform: uppercase;
}
.dashboard-licenses-navs{
    .nav-link{
        padding: 8px !important;
    }
}
.d-opportunities{
    .Inc-fearured-opp-headtitle,.Inc-fearured-opp-type{
        text-decoration: none !important;
    }
}
.btn-sector-outline{
    background: @color-white !important;
    color: @color-primary !important;
    border-radius: 40px;
    border: 1px solid @color-primary !important;
}
.paginationModule-control[disabled]{
    transform: rotate(0deg);
    filter: grayscale(0.5) brightness(0.5);
    opacity: 0.2;
}
.d-license-widget{
    .dashboardTabs.js-dashboardTabs{
        border-bottom: none;
    }
}
.d-contact-help-text{
    padding: 0 250px;
}



.license-application-simulator{
    max-width: 800px !important;
    .modal-content.dashboard-pop-up{
        min-height: calc(100% - (1.75rem * 10));
    }
}



.d-my-message-popup{
    top: 64%;
    opacity: 1;
    position: absolute;
    background-color: #fff!important;
    right: 15%;
}
.d-my-message-popup-otherpage{
    top: 56%;
    opacity: 1;
    position: absolute;
    background-color: #fff!important;
    right: 13%;
}

#termsAndConditionsResponseApplyModal .modal-footer button:first-child:hover{
    background: transparent;
    color: @color-primary;
}

.tooltip.tooltip_autosize.show{
    opacity: 1;
}

/******* dashbaord license responsive****/
@media (max-width: 640px) {
    .owl-carousel .owl-item img{
		height: 350px;
	}
	  .owl-prev img, .owl-nav img{
		  height: 35px;
	  }
	  .owl-carousel .owl-dots button.owl-dot{
		  width: 15px;
		  height: 15px;
	  }
	  .page-dashboard-without-license .dashboard-user-add-icon{
		left: 25% !important;
	  }
	  .page-dashboard-without-license .sagiaNavigation-btn{
		  padding: 0 !important;
		  margin: 0;
	  }
      .page-dashboard-without-license .dashboard-login{
            padding: 10px 0 0;
       }
      .page-dashboard-without-license .dashboardWidget-body-shadow{
            box-shadow: none !important;
        }
      .page-dashboard-without-license .dashboardUser-entry{
            padding-left: 6rem;
            flex-direction: column;
        }
	.page-dashboard-without-license .dashboardUser-right{
		margin-top: 0;
	}
	.last-login, .last-login span{
		font-size: 14px;
	}
	.dashboardUser-image .myAccount-profilImage-img{
		height: 80px;
		width: 80px;
	}
	.page-dashboard-without-license .sagiaNavigation-btn{
		display: table;
	}
	.page-dashboard-without-license  .Applylicense-icon{
		left: 0;
	}
	.Applylicense-icon-text{
		padding-left: 50px;
	}
	.page-dashboard-without-license .globalMessage-msg{
		padding-right: 0;
	}
    .page-dashboard-without-license .globalMessage-action{
        flex-direction: column;
    }
    .page-dashboard-without-license .btn-simulator{
        margin-right:  0 !important;
		margin-bottom: 10px !important;
		display: flex;
		padding: 10px !important;
    }
	.page-dashboard-without-license h1{
		font-size: 25px;
	}
	.page-dashboard-without-license .nav.nav-tabs{
		display: inline;
	}
	.page-dashboard-without-license .card .nav-tabs .nav-item .nav-link, [dir] .card .nav-tabs .nav-item .nav-link.active{
		padding: 20px 10px 10px;
	}
	.page-dashboard-without-license .card .nav-tabs .nav-item .nav-link.active, .card .nav-tabs .nav-item .nav-link{
		font-size: 18px;
	}
	.page-dashboard-without-license .apply-license-header{
		padding: 0 !important;
	}
	[dir] .process{
		padding: 0 20px 20px;
	}
	.dashboard-paragraph-color{
		padding-top: 0;
	}
	.process-card{
		width: 50px;
		height: 50px;
	}
	.process-card-step img{
		height: 25px;
	}
	[dir] .process-arrow-icon {
		margin-bottom: 115px!important;
	}
	.process-card-step-description{
		font-size: 12px;
		line-height: 18px;
	}
	/* .page-dashboard-without-license .Inc-title-header-mobile{
		padding-top: 1rem !important;
	} */
	.page-dashboard-without-license .dashboardWidget-body{
		display: block;
		margin-bottom: 0;
	}
	.page-dashboard-without-license .dashboardWidgetNoLicense-body{
		padding: 30px 0 0;
	}
	.page-dashboard-without-license .mainSection_grey{
		padding-bottom: 0;
	}
	.page-dashboard-without-license  .helpSection, .page-dashboard  .d-contact-help-text{
		padding: 0;
	}
    [dir=rtl] #eServiceTour .modal-dialog{
		right: calc(0%) !important;
	}

	[dir=rtl] .dashboardUser-image-add{
		background: none;
		border: none;
	}
	[dir=rtl] .page-dashboard-without-license .btn-simulator{
		margin-right:  0 !important;
	}
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
	  .page-dashboard-without-license .globalMessage{
		  flex-direction: column;
		  padding: 25px;
	  }
	  .page-dashboard-without-license .btn-simulator{
		  padding: 10px;
		  margin-right: 5px !important;
		  display: flex;
	  }
	 .process{
		  padding: 0 40px 55px !important;
	  }
	 .process-card{
		height: 100px;
		width: 100px;
	 }
	 [dir] .process-arrow-icon{
		 margin-bottom: 115px !important;
	 }
	   .d-contact-help-text{
		 padding: 0;
	 }
	  .helpSection{
		  padding: 0 !important;
	  }
	  .emailBlock{
		  word-break: break-all;
	  }
  }
  @media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height:1366px) and (max-height:1366px) {
	.page-dashboard-without-license .mainSection_grey{
		height: auto;
	}
  }
 
  [dir=rtl] .modal-content{  
	border-radius: 25px;
   }
    [dir=rtl] .dashboardUser-image-add{
        background: none;
        border: none;
    }
    [dir=rtl] .page-dashboard-without-license .dashboardUser-right.user-icon{
        justify-content: left !important;
    }
    [dir=rtl] .page-dashboard-without-license .btn-simulator img{
        padding-right: 1rem;
        transform: rotate(180deg);
    }
    [dir=rtl] .process-arrow-icon img{
        transform: rotate(180deg);
    }
    .owl-prev img, .owl-nav img{
        transform: rotate(180deg);
    }
  
/******* dashbaord license responsive****/



.potential-opportunities{
    .tableModule-head,.tableModule .tableModule-head th,.tableModule-body,.tableModule-head th{
        border: none;
    }
    
    .tableModule .tableModule-head th{
        background: none;
        border-bottom: 2px solid #ededed;
    }
    .tableModule-body{
        tr{
            td{
                border-right:none;
                border-bottom: 2px dotted #707070;            
                &:nth-child(3){
                    color: @color-primary;
                }
                &:nth-child(5){
                    color:@color-golden;
                }
            }
        }
    }
}