  
  .page-login .accountLogin-content-headline_sub{
    font-size: 24px;
}
.page-login .accountLogin-content p{
    font-size: 20px;
}
.page-login .dottedList-item{
    font-size: 18px;
    margin-bottom: 18px;
}
.page-login  .dottedList-item:before{
  top: 10px;
}
.page-login .login-buttons{
    padding: 0 15px;
}

/* Dashboard */
.page-dashboard .dashboard-tabs .nav-tabs .nav-link{
font-size: 16px;
}

/* WOL profile page */
.page-sagia-profile .mainSection{
  margin-bottom: 0;
  padding-bottom: 0;
}

.page-sagia-profile .panelTabs-content{
  padding-top: 0;
}
.page-sagia-profile #myProfileTabData .myAccount-profilImage-img{
  height: 128px;
}
.page-sagia-profile .myAccount-profilImage{
  margin-bottom: 15px;
  margin-top: 0;
}
.page-sagia-profile .page-sagia-profile .panelTabs-navigation ul li a{
  padding: 15px 15px;
}
.page-sagia-profile  .panelModule{
  padding: 15px 90px;
  margin-bottom: 0;
  padding-bottom: 0 !important;
}
.page-sagia-profile  .panelTabs-content{
  padding-bottom: 0;
  background-color: #fff;
}
.page-sagia-profile .contentModule-section:not(:last-child){
margin-bottom: 0 !important;
padding-bottom:0;
}
.page-sagia-profile .user-status{
  font-size: 24px;
}
.page-sagia-profile .user-status span{
  font-size: 24px;
}
.page-dashboard-without-license  .card .nav-tabs .nav-item .nav-link{
  padding: 20px 20px 20px;
}
.page-dashboard-without-license  .card .nav-tabs .nav-item .nav-link.active{
  padding: 20px 20px 20px;
  border: unset;
}
.page-dashboard-without-license .globalMessage{
  margin-bottom: 15px;
}
.page-dashboard-without-license #dashboard-carousel .owl-item img{
  max-height:555px
}
.page-sagia-profile .page-header-image{
max-height:350px
}
.page-sagia-profile .panelTabs-navigation ul li a{
  padding: 14px 15px !important;
}
.page-sagia-profile .contentModule-actions_insideSection{
  margin-top:0;
}
.page-sagia-profile .row.enquiryFiles.mb-5{
margin-bottom:0 !important;
padding-bottom:0;
}
@media(max-width:1400px){
.container{
  max-width:1320px
}
.page-sagia-profile .panelTabs-navigation{
  max-width:100% !important;
}
.page-sagia-profile .panelTabs-navigation ul li{
  padding: 0 0;
}
}

@media(min-width:992px){
  .page-sagia-profile  .panelModule{
      padding: 15px 90px;
      margin-bottom: 0;
      padding-bottom: 0;
  }
  
}

@media (min-width: 1700px) and (min-height: 801px){
  .page-login .formInputBox .register-user-details:focus~.register-user-info-label.control-label, .page-login  .formSelectBox .register-user-details~.select2.select2-container.select2Container_selected~.register-user-info-label.control-label{
      transform: translate3d(-6px,0px,0) scale(1);
  

  }
}
.page-login .formInputBox .register-user-details:focus~.register-user-info-label.control-label {
  transform: translate3d(-6px,0px,0) scale(1);


}
.page-login .formInputBox .register-user-details~.register-user-info-label.control-label{
  transform: translate3d(-6px,0px,0) scale(1);
}
.page-login .register-account-investor-screen3 .formSelectBox .select2.select2-container.select2-container--open+.control-label{
  transform: translate3d(-6px,0px,0) scale(1);



}
.page-login .formInputBox .form-group{
margin-bottom: 25px;
}
.page-login .register-form .slider:before, .page-login .register-form .slider:after{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-top: 0;
}
.page-login .register-form .slider:before, .page-login .register-form .slider:after{
height: 33px;
}
.page-homepage .accountLogin-background{
display: flex ;
align-items: center;
}
.page-login .register-account-investor-screen3 .register-progress{
  margin-top: 4%;
}
.page-login .register-account-investor-screen3 .error{
position: relative;
top: -6px;
}
@media (min-width: 1201px) and (max-width: 1499px) and (max-height: 700px){
  .page-login .register-form .slider:after {
      left: 74%;
  }
  .page-login .select2.select2-container .select2-selection {
line-height: 0;
  }
  .page-login .register-form .slider:before, .page-login .register-form .slider:after{
      height: 32px;
      }
.register-account-investor-screen3 .login-right-wrapper{
  width: 800px;
}}
@media (-webkit-device-pixel-ratio: 1.5){
body {
  zoom: .7;
}
}
.page-homepage .accountLogin-buttonWrapper>.btn{
display: flex;
align-items: center;
justify-content: center;
}
@media (min-width: 1201px) and (max-width: 1499px) and (max-height: 700px){
.register-form .slider {
  width: 80px;
  height: 34px;
}
.register-form .slider:after, .register-form .slider:before {
  height: 26px;
  width: 40px;
}
.page-login .formInputBox .form-control, .page-login .r-sn .form-control {
  padding-left: 32px!important;
}
.login-btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-login  .register-language{
  justify-content: flex-start;
}
}
.page-login .row.login-error-form{
justify-content: center;
margin: 15px 0;
}
.page-login .register-role-selection{
margin-bottom: 10px;
}
.page-login .login-btn-next svg{
  margin-left: 5px;
}
.page-login .formSelectBox .register-user-details~.select2.select2-container.select2Container_selected~.register-user-info-label.control-label{
  transform: translate3d(-6px,0px,0) scale(1);
}
.page-login .control-label.ddl-countrycode-label.focused {
  transform: translate3d(-6px,0px,0) scale(1);
}
.page-login .register-account-investor-screen3 .login-register-role{
  margin-top: 2%;
  margin-bottom: 20px;
}
@media (min-width:792px) and (max-width:2800px) {
	
	iframe[title="recaptcha challenge expires in two minutes"] {
		zoom: 1.5;	
	}
	
}