.count-notification {text-align: center;line-height: 30px;}
.amend-btns-list {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.btn-auto {
    width: auto !important;
    padding: 0 40px !important;
}
.formInputFile .form-icon {
    background-image: none;
    background-color: #00a6be;
    height: 64px;
    width: 64px;
    top: 0;
    right: 0;
    left: auto;
}
.serviceModule.serviceModule_list .serviceModule-headline {
    padding: 8px 15px;
}

    @media (max-width:767px) {
        .panelModule {
            margin: 0 1px !important;
        }
        .banner-container h1 {
            font-size: 42px;
            line-height: 1;
        }
        .nav-bottom-footer {display: flex; margin: 0px; padding: 0px;}
        .copyright .copyrightText {text-align: center !important;}
        .sagiaNavigation-user span {display: none;}
        #topbar .social-links a {
            margin-left: 10px !important;
        }
        .formInputBox {
            position: relative;
            margin-bottom: 30px;
        }
        .formInputBox .form-control {
            padding: 10px 10px 10px 30px !important;
        }
        .footer .footer-menu {
            margin-top: 12px;
            padding: 0 0 0 15px;
        }
        .mainSection-headline {
                padding-right: 0 !important;
                font-size: 36px !important;
            }
        .renewal-services {justify-content: center; text-align: center; margin: 0 !important;}
        .mainSection-header {
            text-align: center;
            margin: 8px 0 0 0;
        }
        .mainSection-linkActions {
            justify-content: center;
            margin: 0 !important;
        }
        .panelModule_halfRadius {
            margin-bottom: 20px !important;
        }
        .contentModule-actions .contentModule-headline {
                max-width: 100%!important;
            }
            .headline-text {font-size: 24px !important;}
            .headline-text img {max-width: 36px; width: 100%;}
        .banner-container {top: 22%!important;}
        .btn_slim {display: inline-block !important;}
        .mainSection-linkActions {justify-content: center !important;}
        .mainSection-linkActions a.btn {padding: 12px 10px;}
    }


    
@media (max-width: 575px) {
    .page-license-bidding .profile-icons{
        float: none !important;
        justify-content: center;
    }
    .page-license-bidding #temporaryBiddingLicenseFormId .contentModule-section{
        margin-bottom: 0 !important;
    }

    .page-license-bidding #temporaryBiddingLicenseFormId .panelTabs-body{
        margin-top: 40px;
    }
    .page-license-bidding #temporaryBiddingLicenseFormId .tabhead{
        border-radius: 113px;
    }
    .page-license-bidding #temporaryBiddingLicenseFormId  .contentModule-actions .formCheckBox_belowPanel{
        margin-left: 20px !important;
    }
    .page-license-bidding .achievement_header .banner-container h1{
        font-size: 40px;
    }
    .page-license-bidding .achievement_header .banner-container{
        top:15% !important;
    }
    .page-license-bidding .mainSection-header{
        max-width: 100%;
    }
    .page-license-bidding .mainSection-header .btn{
        font-size: 12px !important;
        width: 45%;
        height: auto;
        margin: 10px 5px !important;
        padding: 10px !important;
        margin: 0 5px;
    }
    .page-license-bidding .contentModule-actions_right  .btn_slim.btn_outline{

        padding: 0 !important;
    }
    #sectionItems .baModule-search {
        max-width: 100%;
    }
    .panelTabs_lightNavigation .panelTabs-navigation {
        display: none !important;
    }
    #basicInformationExtendedSection #select2-basicInformationExtendedInvestment-container {
        overflow: hidden;
    }
    #entityForm #licenseTypeSection .select2-container .select2-selection--single .select2-selection__rendered {
        width: 90%;
        overflow: hidden;
    }
    .modal-dialog_businessActivities .modal-footer {
        flex-wrap: nowrap;
    }
    #entityForm #isPreApprovalNumberSection,
    #entityForm #hasAdvanceLicenseNumberSection {
        margin-top: 15px;
    }
    .panelTabs-navigation{
        display: none !important;
    }
  .page-appointment-create .appointmentDetails .contentModule-actions .btn{
      width: 100% !important;

    }
    .page-appointment-create  .mainSection-linkActions + div{
      width: 100% !important;

    }
    .page-appointment-details  .print_btn{
        width: 100% !important;
    }
    .page-sagia-profile #myProfileTabData .contentModule-actions .profile-settings {
        max-width: 100% !important;
    }
    .page-sagia-profile #sagiaProfilePersonalForm .formInputBox .control-label{
        top:-25px;
    }

    .page-sagia-profile .contentModule-actions_insideSection {
        justify-content: center !important;
    }
    .page-sagia-profile .contentModule-actions_insideSection .btn {
        width: 100% !important;
    }
    .page-sagia-profile .myAccount-profilImage {
        text-align: center;
    }
    .page-sagia-profile .myAccount-profilImage-change {
        text-align: left;
        width: 100% !important;
    }
    .page-sagia-profile .contentModule-actions .contentModule-headline {
        max-width: 50% !important;
    }
    .page-sagia-profile .btn,
    .page-single-questionnaire .btn {
        width: 100% !important;
    }
    .page-single-questionnaire .btn {
        font-size: 16px !important;
        height: auto;
    }
    .page-sagia-profile .contentModule-filter {
        width: 100%;
    }
    .page-sagia-profile #enquiryDetail .modal-header .view-title {
        font-size: 30px;
    }
    .page-sagia-profile #enquiryDetail .modal-body .ticketModule-top input {
        width: 100% !important;
        margin-top: 30px;
    }
    .page-sagia-profile .formInputBox .form-control {
        margin-bottom: 30px;
    }
    .js-myAccount-edit-toggle .formInputBox .form-group {
        padding-top: 5px;
    }
    .js-myAccount-edit-toggle .formInputBox .form-group .control-label {
        top: -20px;
    }
    #logoutModal .modal-content .modal-header .modal-title {
        font-size: 30px;
    }
    #logoutModal .modal-footer button.btn {
        margin: 0;
    }
    #logoutModal .modal-close {
        right: 15px;
    }
    .btn_leftIconLink {
        width: 100% !important;
    }
    .popup-body h4.title-top {
        font-size: 25px;
    }
    .contentModule-headline {
        width: 100% !important;
    }
    .contentModule-actions .contentModule-headline {
        max-width: 85% !important;
    }
    .formRadioBox-wrapper .delegate-entity {
        width: 100%;
        padding: 0;
        white-space: normal;
    }
    .btn {
        width: 159px;
        height: 50px;
        margin-top: 10px;
    }
    #shareholderTitle .form-item {
        padding-left: 0;
        padding-right: 0;
    }
    [dir] .tooltip-listItem-header {
        margin-bottom: 30px;
    }
    [dir=ltr] .tooltip-listItem-trigger {
        right: 0;
    }
    [dir] .modal-dialog_businessActivities .modal-footer {
        padding: 15px 10px;
    }
    .contentModule-actions .addExistingButton,
    #noBusinessActivitiesSelected .contentModule-actions .btn,
    #addShareholderQM1NewOrganizationSection .addButton,
    #addShareholderQM1NewOrganizationSection .cancelButton,
    .contentModule-actions .addNewButton {
        width: 100% !important;
    }
    [dir] .formSelectBox .control-label {
        width: 85%;
    }
    #businessActivitiesTable .contentModule-actions .btn {
        width: 100% !important;
    }
    #shareholderType .form-item {
        width: 100%;
        margin-bottom: 15px;
    }
    #shareholderType .person-type,
    #shareholderType .organization-type {
        height: 50px;
        text-align: center;
    }
    .tc-footer button:nth-child(2) {
        margin-right: auto !important;
    }
    .tc-footer button:last-child {
        margin: 10px auto !important;
    }
    .baModule .contentModule-headline {
        min-height: 100px;
    }
    #shareholdersQM1 .contentModule-actions .w-25 {
        width: 100% !important;
    }
    #addShareholderQM1NewPersonSection .addButton,
    #addShareholderQM1NewOrganizationSection .addButton {
        width: auto !important;
    }
    [dir=ltr] .baModule-headline span {
        margin-left: 0;
    }
    .page-license-apply .panelTabs-navigation {
        display: none !important;
    }
    [dir] .contentModule-headline {
        width: 100% !important;
    }
    [dir] .modal-dialog_businessActivities .modal-footer {
        padding: 15px 5px !important;
    }
    .contentModule-actions #reviewBackButton,
    .contentModule-actions #reviewCancelButton {
        width: 159px !important;
    }
    #addShareholderQM1NewPersonSection #shareholderTitle .formRadioBox-label,
    #contactPersonQM1 #qm1Title .formRadioBox-label {
        top: -8px;
    }

    .page-sagia-profile .panelTabs .panelTabs-content {
        border: none;
    }
    #generalManagerForm .contentModule-actions .contentModule-headline{
        max-width: 30% !important;
    }
    .page-sagia-profile .contentModule-section .mw0,
    .page-sagia-profile .contentModule-section .mw1,
    .page-sagia-profile .contentModule-section .mw2,
    .page-appointment-create .mw0, .page-appointment-create .mw2,
    .page-appointment-create .mw3, .page-license-apply .mw2,
    .page-new-license-apply .mw2,
    .page-appointment-details .contentModule-section .mw0,
    .page-license-apply .mw0, .page-new-license-apply .mw0,
    .page-shareholder-apply #addShareholderQM1NewPersonSection #attachmentSection .mw0 {
                max-width: 100% !important;
    }
    .page-sagia-profile .panelTabs-content .panelModule_halfRadius {
        padding-left: 30px;
        padding-right: 30px;
    }
    .page-sagia-profile #updatePwdForm {
        padding-top: 30px;
    }
    .page-sagia-profile #generalManagerForm .mw2{
        max-width: 100% !important;

    }
    .page-sagia-profile #generalManagerForm  .js-contactUpdate-edit .close-edit{
        right: 0 !important;
    }

    .page-new-license-apply .mainSection .achievement_header, .page-shareholder-apply .mainSection .achievement_header {
        .banner-container{
            top:15% !important;
        }
    }
    .page-new-license-apply .mainSection .achievement_header, .page-shareholder-apply .mainSection .achievement_header {
        .banner-container{
            h1{
                font-size: 40px;
            }
        }
    }
   .page-new-license-apply #entityForm  #hasSagiaLicenseSection,
   .page-new-license-apply #entityForm #advanceLicenseNumberSection, .page-new-license-apply #licenseInformationSection,
   .page-shareholder-apply #organizationShareholderForm #dataSectionDelegate {
       .formRadioBox-wrapper{
           .formRadioBox{
               .form-group{
                   .form-item{
                        width: 50%;
                   }
               }
           }
       }
   }
   .page-new-license-apply #licenseTypeSection, .page-new-license-apply #attachmentSection{
       .mw2{
           max-width: 100% !important;
       }
   }
   .page-new-license-apply #businessActivitiesModal #classItems{
    .formCheckBox {
        .form-group{
            margin-bottom: 0;
        }
     }
   }
   .page-new-license-apply #businessActivitiesModal .baModule-header {
    .baModule-search{
        max-width: 100%;
    }
   }
   .page-new-license-apply #entityForm  #basicInformationExtendedSection {
    #select2-basicInformationExtendedInvestment-container{
        width: 75%;
    }
   }
   .page-new-license-apply #businessActivitiesModal .modal-header{
    .modal-close{
        top:0;
        right: 0;
    }
   }
   .page-shareholder-apply .contentModule-actions{
        .addExistingButton {
            width: 100% !important;
        }
        .addNewButton{
            width: 100% !important;
        }
   }
   .page-shareholder-apply #shareholderType #nicShareholderVerifyBtnSection,
   .page-shareholder-apply #shareholderIdTypeSection .contentModule-actions, .page-shareholder-apply #shareholderType .form-item {
       .btn{
        width: 100% !important;
       }
   }
   .page-shareholder-apply #shareholderIdTypeSection{
    .contentModule-actions{
        .btn{
            width: 40% !important;
        }
    }
  }
  #addShareholderQM1NewOrganizationSection #organizationShareholderForm #dataSectionDelegate{
      a.delegate-entity{
       overflow: hidden;
       text-overflow: ellipsis;
    }
  }
  #addShareholderQM1NewOrganizationSection #organizationShareholderForm #dataSectionDelegate{
      .contentModule-actions{
        .btn{
            width: 75% !important;
        }
      }
   }
   .page-shareholder-apply #addShareholderQM1NewSection #shareholderType {
            .form-group{
                .form-item{
                     width: 100%;
                }
            }
   }
   .page-shareholder-apply #addShareholderQM1NewPersonSection #attachmentSection {
     .mw0{
         max-width: 100% !important;
       }
   }
   .page-shareholder-apply #addShareholderQM1NewPersonSection #delegateDivSection {
    .form-item{
        max-width: 50% !important;
      }
    }
    #addShareholderQM1NewPersonSection #delegateDivSection {
        .delegate-entity{
            font-size: 18px;
        }
    }

    #addShareholderQM1NewPersonSection #personShareholderForm #nicShareholderVerifyBtnSection{
        .btn{
            width: 100% !important;
        }
    }
    .page-shareholder-apply #nicVerifyBtnSection{
        #verifyDetailsShow{
            width: 100% !important;
        }
    }
}
@media (min-width:576px) and (max-width:767px) {
    .page-license-bidding .profile-icons{
        float: none !important;
        justify-content: center;
    }
    .page-license-bidding #temporaryBiddingLicenseFormId  .contentModule-actions .formCheckBox_belowPanel{
        margin-left: 20px !important;
    }
    .page-license-bidding #temporaryBiddingLicenseFormId .panelTabs-body{
        margin-top: 40px;
    }
    .page-license-bidding .mainSection-header{
        margin-top: 60px;
    }

    .page-license-bidding .contentModule-actions_spaceBetween  .btn{
        width: 195px !important;

    }
    .page-license-bidding .mainSection-header .btn{
        width: 30%;
        height: auto;
        font-size: 12px !important;
        padding: 10px !important;
        margin: 10px 5px;
    }
    .page-license-bidding .contentModule-actions_right  .btn_slim.btn_outline{
        padding: 0 !important;
    }
    .page-license-bidding #temporaryBiddingLicenseFormId .panelTabs_formFlow .tabhead{
        margin-bottom: 30px;

    }
    .page-license-bidding #temporaryBiddingLicenseFormId #nextFirstTabButtonId{
        width: 195px !important;
    }

    .page-license-bidding #temporaryBiddingLicenseFormId .mw1{
        max-width: 30%;
    }

    .page-new-license-apply .mainSection .achievement_header, .page-shareholder-apply .mainSection .achievement_header {
        .banner-container{
            top:15% !important;
        }
    }
    .page-new-license-apply .mainSection .achievement_header, .page-shareholder-apply .mainSection .achievement_header {
        .banner-container{
            h1{
                font-size: 40px;
            }
        }
    }
    .page-new-license-apply #licenseTypeSection, .page-new-license-apply #attachmentSection{
        .mw2{
            max-width: 50% !important;
        }
    }
    .page-new-license-apply #licenseYearSection {
        .contentModule-headline{
            width: 30% !important;
        }
    }
    .page-new-license-apply #businessActivitiesTable{
        .contentModule-actions{
            .btn{
                width: 50% !important;
            }
        }
    }
    .page-new-license-apply #businessActivitiesModal .baModule-header {
        .baModule-search{
            max-width: 100%;
        }
       }
       .page-shareholder-apply .contentModule-actions{
        .addExistingButton {
            width: 50% !important;
        }
        .addNewButton{
            width: 45% !important;
        }
   }
   .page-shareholder-apply #addShareholderQM1NewSection #shareholderType {
       .formRadioBox-wrapper{
           .formRadioBox{
               .form-group{
                   .form-item{
                        width: 50%;
                   }
               }
           }
       }
   }
.page-shareholder-apply #shareholderType .form-item, .page-shareholder-apply #shareholderType #nicShareholderVerifyBtnSection{
    .btn{
     width: 50% !important;
    }
  }
  .page-shareholder-apply #organizationShareholderForm{
      .contentModule-actions{
          .btn{
              width: 40% !important;
          }
      }
  }
  #addShareholderQM1NewPersonSection #personShareholderForm, #addShareholderQM1NewPersonSection  #addShareholderQM1NewSection #shareholderType{
      .contentModule-actions{
          .btn{
           width: 40% !important;;
          }
      }
  }
  #addShareholderQM1NewSection  #shareholderType .form-group{
        .form-item {
         width: 50% !important;
        }
   }

   .page-shareholder-apply #nicVerifyBtnSection{
        #verifyDetailsShow{
            width: 100% !important;
        }
    }
}
@media (max-width:991px) {
    .full-width-responsive {
        width: 195px!important;
        max-width: 195px!important;
    }
    .amend-btns-list {
        display: flex !important;
    }
    .headline-text {font-size: 26px !important;}
    .mainSection .expandableContent.expanded .expandableContent-aside {
        margin-bottom:30px;
    }
}
@media (min-width:992px) and (max-width:1365px) {
    .service-wrapper span.licensing-heading {font-size: 24px;}
}

@media (max-width:767px) {
    .full-width-responsive {
        width: 100%!important;
        max-width: 100%!important;
    }

    .serviceModule-request {
        margin-top: 15px;
    }
    ul#pills-tab {
        padding-right: 0;
    }
    .amend-btns-list {
        display: flex !important;
        flex-wrap: wrap;
    }
    .formSelectBox {
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width:991px) {

    .page-license-bidding #temporaryBiddingLicenseFormId .mw1{
        max-width: 30%;
    }
    .page-license-bidding #temporaryBiddingLicenseFormId{
        margin: 10px;
    }

    .page-license-bidding .achievement_header .banner-container h1{
        font-size: 40px;
    }
    .page-license-bidding .achievement_header .banner-container{
        top:13% !important;
    }
    .page-new-license-apply #entityForm #hasSagiaLicenseSection .formRadioBox-wrapper .formRadioBox .form-item,
    .page-new-license-apply #entityForm #advanceLicenseNumberSection,
    .formRadioBox-wrapper .formRadioBox .form-item {
        margin-bottom: 15px;
    }
    #entityForm #licenseTypeSection .select2-container .select2-selection--single .select2-selection__rendered {
        width: 75% !important;
        overflow: hidden;
    }
    .page-new-license-apply #entityForm #licenseTypeSection .btn_formAligned {
        padding-left: 20px;
    }
    .page-new-license-apply .contentModule-headline {
        padding-left: 10px;
    }
    .page-new-license-apply #businessActivitiesTable .btn {
        width: 40% !important;
    }
    #basicInformationExtendedSection #select2-basicInformationExtendedInvestment-container {
        overflow: hidden;
    }
    .page-appointment-create .appointmentDetails .contentModule-actions .btn{
        width: 50% !important;
      }
    .page-appointment-create  .mainSection-linkActions + div{
        width: 75% !important;
      }
    .page-sagia-profile #sagiaProfilePersonalForm .select2-container .select2-selection--single .select2-selection__rendered{
        width: 75% !important;
        overflow: hidden;
    }
    .page-sagia-profile  #myProfileTabData .contentModule-actions .profile-settings {
        max-width: 30% !important;
    }
    .page-sagia-profile .myAccount-profilImage-change {
        width: 100% !important;
    }
    .page-single-questionnaire .contentModule-actions .contentModule-headline {
        max-width: 75%;
    }
    .page-single-questionnaire #surveyForm a.btn_leftIconLink {
        width: 75%;
    }
    .page-sagia-profile .contentModule-filter {
        width: 50%;
    }
    .page-sagia-profile #createComplantForm .contentModule-actions .btn {
        width: 50% !important;
    }
    .page-sagia-profile .formInputBox .form-control {
        margin-bottom: 30px;
    }
    .page-sagia-profile #enquiryDetail .form-control:placeholder-shown+.control-label {
        font-size: 12px;
    }
    .js-myAccount-edit-toggle .formInputBox .form-group {
        padding-top: 5px;
    }
    .js-myAccount-edit-toggle .formInputBox .form-group .control-label {
        top: -20px;
    }
    .popup-body h4.title-top {
        font-size: 40px;
    }
    .contentModule-headline {
        width: 50%;
        height: auto;
    }
    .btn {
        width: 200px;
    }
    .btn_leftIconLink {
        width: auto !important;
    }
    .page-sagia-profile .btn,
    .page-dashboard .btn {
        width: auto !important;
    }
    #generalManagerForm .contentModule-actions .contentModule-headline {
        max-width: 50%;
    }
    .contentModule-actions .addExistingButton,
    .contentModule-actions .addNewButton {
        width: auto !important;
    }
    #reviewShareholdersSection .contentModule-headline {
        max-width: 50%;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        width: 95% !important;
    }
    #shareholdersQM1 #addShareholderQM1NoShareholderSection .contentModule-actions .btn {
        width: 40% !important;
    }
    .tc-footer button:last-child {
        margin: 10px auto !important;
    }
    #addShareholderQM1NewPersonSection .addButton,
    #addShareholderQM1NewOrganizationSection .addButton {
        width: 40% !important;
    }
    #shareholderTitle .form-item {
        padding-left: 0;
        padding-right: 0;
    }
    .contentModule-actions .addExistingButton,
    .contentModule-actions .addNewButton {
        padding: 9px 24px 7px;
    }
    .page-sagia-profile .panelTabs-navigation {
        width: 100% !important;
        padding: 0 15px !important;
    }
    #surveyForm .backToall {
        width: 50% !important;
    }

    .page-sagia-profile .panelTabs-navigation {
        display: block !important;
    }
    .page-sagia-profile .contentModule-section .mw0,
    .page-sagia-profile .contentModule-section .mw1,
    .page-sagia-profile .contentModule-section .mw2,
    .page-appointment-create .mw0, .page-appointment-create .mw2,
    .page-appointment-create .mw3, .page-appointment-details .contentModule-section .mw0,
    .page-license-apply .mw0, .page-new-license-apply .mw0,
    .page-license-apply .mw2, .page-new-license-apply .mw2, .page-shareholder-apply
    #addShareholderQM1NewPersonSection #attachmentSection .mw0 {
        max-width: 50% !important;
        width: 50% !important;
    }

    .page-sagia-profile #updatePwdForm {
        padding-top: 30px;
    }
    #companyRepresentativeSection #companyRepresentativeForm1 .contentModule-headline,
    #companyRepresentativeSection #companyRepresentativeForm2 .contentModule-headline,
    #companyRepresentativeSection #companyRepresentativeForm3 .contentModule-headline {
        width: 75% !important;
    }
    .page-sagia-profile .dashboardWidget-filter .select2-selection--single .select2-selection__rendered{
        margin-left: 0;
        line-height: 35px;
    }
    .notifyCount{
        top: 0;;
    }
    .page-new-license-apply #businessActivitiesModal .baModule-header {
        .baModule-search{
            max-width: 100%;
        }
       }
    .page-new-license-apply #hasSagiaLicenseSection, .page-new-license-apply #entityForm #advanceLicenseNumberSection,
    .page-new-license-apply #licenseInformationSection  {
        .formRadioBox {
            .form-item label{
               margin: 0 !important;
            }
        }
    }
    .page-shareholder-apply #addShareholderQM1NewPersonSection #attachmentSection {
        .mw0{
            max-width: 22% !important;
        }
    }

}

@media (min-width:992px) and (max-width:1199px) {

    .page-license-bidding .achievement_header .banner-container h1{
        font-size: 40px;
    }
    .page-license-bidding .achievement_header .banner-container{
        top:20% !important;
    }
    .select2.select2-container .select2-selection:after {
        right: 0;
    }

    .page-sagia-profile .panelTabs-navigation {
        display: block !important;
    }
}

@media (min-width:1200px) {
    .page-sagia-profile #enquiryDetail .modal-dialog {
        max-width: 50%;
    }
    .tc-footer button {
        width: 15%;
        text-transform: uppercase;
    }
    .page-sagia-profile #companyRepresentativeForm1 .js-myAccount-edit-toggle .formInputBox .form-group .control-label {
        top: -30px;
    }
    #addShareholderQM1NewPersonSection .saveNew,
    #addShareholderQM1NewOrganizationSection .saveNew {
        width: 30% !important;
    }
    #sagiaLicenseApplyForm .btn_formAligned, #entityForm .btn_formAligned {
        padding-left: 25px;
    }

    .page-license-apply .contentModule-actions .addExistingButton,
    .page-license-apply .contentModule-actions .addNewButton,
    .page-shareholder-apply .contentModule-actions .person-type, .page-shareholder-apply .contentModule-actions .organization-type {
        padding-left: 5px;
    }
    #shareholderType .form-item {
        padding: 0;
        margin: 0 7px;
    }
    .page-sagia-profile .panelTabs-content {
        padding-left: 0;
        padding-right: 0;
    }
    .page-sagia-profile .panelTabs-navigation {
        padding-left: 0;
        padding-right: 0;
    }
    .page-sagia-profile .panelTabs-navigation ul li:first-child {
        padding-left: 0;
    }
    .page-sagia-profile .panelTabs-navigation ul li:last-child {
        padding-right: 0;
    }
    .page-sagia-profile .panelTabs-navigation {
        display: block !important;
    }
    .page-single-questionnaire #surveyForm .fdi {
        max-width: 30% !important;
    }
}
