#resendBtn{
    margin:initial;
}

#sagiaVerificationForm{
    .register-user-details.validate-mobile {
        padding-right: 32px !important;
    }
}
#sagiaAuthenticateCodeForm {
     .validate-mobile {
        box-shadow: none;
        border-radius: 0;
        padding-bottom: 0 !important;
     }
     .mobile-code-label {
         top : 0 !important;
     }
}
.login-screen-verify-mobile{
    .login-right-wrapper {
        margin : auto;
    }
}
.accountLogin-content-formSubmitSection {
    margin-bottom : 25px;
}
#backtoLogin {
    padding-left: 30px;
    padding-right: 30px;
}

 .mobile-code-wrapper {
	.help-block{
		left: 23%;
		position: relative;
	}
    .span{
        color: #FF0000 !important;
        padding-left: 5px !important;
        font-size: 12px !important;
    }
}
// .modal-body svg path{
// 	stroke: #00A6BE;
// }
.btn.btn_slim:hover, .dottedList_green .dottedList-item:before{
	background: #00A6BE 0% 0% no-repeat padding-box !important;
}

.page-login{
	.panelTabs-navigation{
		display: none !important;
	}
}

.container-fluid {
    max-width: initial;
}
[dir=ltr] .accountLogin-content-slot_left{
	padding: 60px 0 30px 100px !important;
}
.login-role[src=""]{
	display: none;
}
#spinner svg path{
	fill: #00A6BE !important;
}
.login-right-wrapper{
	border: 1px solid var(--unnamed-color-00a6be);
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 26px 35px #0000007A;
	border: 1px solid #00A6BE;
	border-radius: 30px;
	opacity: 1;
	height: 893px;
	width: 800px;
}
.login-container{
	flex-wrap: initial;
	height: 100%;
	margin-left: initial !important;
	margin-right: initial !important;
	min-height: 100vh;
	padding-left: initial;
	padding-right: initial;
}
.register-account-investor-screen3  .login-right-wrapper,.register-account-investor-screen4  .login-right-wrapper{
    height: 1000px;
}

.accountLogin-content .login-section{
	max-width: initial !important;
}

.login-logo{
	width: 198px;
	height: 120px;
	position: relative;
	left: 100px;
  }
  .login-left-wrapper{
	margin-top: 3%;
	margin-left: 10%;
  }
  .accountLogin-content-headline{
	font-weight: 700;
	margin-top: 5%;
	font-size: 60px;
	letter-spacing: 2.16px;
	color: #FFFFFF;
	line-height: 1;
  }
  #sagia-cms-help-quick-registration-helper h3{
	margin-top: 2%;
    font-size: 25px;
    letter-spacing: 0.72px;
    font-weight: 500;
  }
  #sagia-cms-help-quick-registration-helper p, #sagia-cms-help-quick-registration-helper ul{
	margin-top: 2%;
	font-size: 20px;
	width: 80%;
	letter-spacing: 0.72px;
  }
  .login-right-wrapper{
	border: 1px solid var(--unnamed-color-00a6be) !important;
	background: #FFFFFF 0% 0% no-repeat padding-box !important;
	box-shadow: 0px 26px 35px #0000007A !important;
	border: 1px solid #00A6BE !important;
	border-radius: 30px !important;
	height: 893px;
	width: 700px;
  }
  .login-screen .login-right-wrapper, .login-screen-verify-mobile .login-right-wrapper{
	height: 860px;
    width: 590px;
  }
  .auth-acreen-height{
	height: 750px;
  }
  .login-register-text{
	top:50px;
	text-align: center;
	color: #BF9B2E;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 500;
	position: relative;
  }
  .login-register-role{
	top:26%;
	text-align: center;
	color: #BF9B2E;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	position: relative;
  }
  .register-account-investor-screen2 .login-register-role{
	  top: 37%;
	}
	.register-account-investor-screen3 .login-register-role{
        top: 13%;
	}
    .register-account-investor-screen3 .register-user-info{
        top: 14%;
    }
	.register-account-investor-screen4 .login-register-role{
        top: 15%;
	}
    .register-account-investor-screen3 .select2-container .select2-selection--single .select2-selection__rendered{
        padding: 10px;;
    }

  .login-role-selection{
	position: relative;
	top:30%;
	display: flex;
	justify-content: center;
  }
  .login-role-selection-box{
	background: #F2F2F2 0% 0% no-repeat padding-box;
	border-radius: 15px;
	width:150px;
	height: 140px;
	margin: 0 4%;
	cursor: pointer;
  }
  .login-role-selection-box img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	top:16px;
	position: relative;
	height: 60px;
  }
  .role-text{
	font-size: 20px;
	font-weight: 700;
	color: #00A6BE;
	text-align: center;
	position: relative;
	top: 35px;
  }
  .login-buttons{
	position: relative;
	top:58%;
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	text-transform: uppercase;
  }
  .register-account-investor-screen3 .login-buttons{
    top: 15%;
  }
  .register-account-investor-screen4 .login-buttons{
    top: 25%;
  }
  .login-buttons div:first-child{
	justify-content: flex-end;
	display: flex;
  }
  .login-buttons div:last-child{
	justify-content: flex-start;
	display: flex;
  }
  .login-btn{
	font-size: 16px;
	font-weight: 600;
	width:34%;
	height: 50px;
	text-transform: uppercase !important;
  }
  a.login-btn{
	margin: auto;
    overflow: visible;
    padding: 12px 6px;
  }
  a.register-investor-screen5-btn-next{
	margin: auto;
    overflow: visible;
    padding: 1px 6px;
  }
  .login-cancel,.login-entry-cancel,.login-btn-cancel,.register-investor-screen2-btn-back,.register-investor-screen3-btn-back,.register-investor-screen4-btn-back,.register-investor-screen5-btn-back {
	background-color: #fff !important;
	border: 1px solid #00A6BE !important;
	border-radius: 27px !important;
	color: #00A6BE !important;
	width: 195px !important;
	cursor: pointer !important;
  }
  .login-btn-next,.reset-btn,.register-investor-screen2-btn-next,.register-investor-screen3-btn-next,.register-investor-screen4-btn-next,.register-investor-screen5-btn-next{
	background: #BAC4C5 0% 0% no-repeat padding-box !important;
	border: 1px solid #F2F2F2 !important;
	border-radius: 27px !important;
	color: #FFF !important;
	width: 195px !important;
	cursor: pointer !important;
    &:hover{
        color: #FFF !important;
    }
  }
  [dir="rtl"] .login-buttons .login-btn svg{
	transform: rotate(180deg);
  }
  .login-role-selection-box.active,
  .login-btn-next.active,
  .reset-btn.active,
  .register-investor-screen2-btn-next.active,
  .register-investor-screen3-btn-next.active,
  .register-investor-screen4-btn-next.active,
  .register-investor-screen5-btn-next.active{
	background: #00A6BE 0% 0% no-repeat padding-box !important;
	border: none !important;
  }
  .login-role-selection-box.active .role-text{
	color: #FFF;
  }
  .next-hide{
	display: none !important;
  }
  .top-0{
	top:0 !important;
  }
  .role-selected-text{
	text-align: left;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.58px;
	color: #646464;
	opacity: 0.72;
	width: 384px;
	margin: auto;
	top:58%;
  }

  .register-progress{
	display: flex;
	width: 270px;
	top: 10%;
	position: relative;
	margin: auto;
  }
  .circle {
	height: 40px;
	width: 40px;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	color: #707070;
	padding-top: 3px;
  }
  .register-progress hr{
	width: 75px;
	height: 0px;
	border: 1px solid #CACACA;
  }
  .register-progress-selection{
	background: #00A6BE 0% 0% no-repeat padding-box;
	color: #F2F2F2;
  }
  .register-role-selection{
	text-align: center;
	top: 7%;
	position: relative;
  }
  .progress-completion{
	background: #025635 0% 0% no-repeat padding-box;
	color: #FFF;
  }
  .bussiness-sector{
	width:660px;
	min-height: 440px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 440px;
  }
  .bussiness-sector .bussiness-sector-btn{
	display: inline-flex;
	padding: 9px 14px;
	margin: 30px 4px 0px 4px;
	background: #fff;
	border: 1px solid #F2F2F2;
	border-radius: 74px;
	box-shadow: 0px 20px 32px #37373724;
	width: 150px;
	height: 60px;
	cursor: pointer;
	color:#00A6BE;
	font-size: 9px;
	font-weight: 600;
  }
  .bussiness-sector .bussiness-sector-btn img{
	margin:auto 0;
  }
  .bussiness-sector .bussiness-sector-btn.selected{
	background: #00A6BE 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 32px #37373724;
	color: #FFFFFF;
	position: relative;
  }
  .bussiness-sector-item-icon{
	width: 30px;
	height: 30px;
  }
  .bussiness-sector-list-text{
	text-align: left;
	letter-spacing: 0px;
	margin: auto;
	font-size: 12px;
	margin-left: 5px;
	line-height: 1.2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden !important;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
  }
  .bussiness-sector .bussiness-sector-btn .bussiness-sector-close-icon{
	display: none;
  }
  .bussiness-sector .bussiness-sector-btn.selected .bussiness-sector-close-icon{
	display: block;
	position: absolute;
	top: -8px;
	right: -12px;
	width: 40px;
  }
  .bussiness-sector-selected[src=""]{
	display:none;
  }
  .bussiness-sector-selected{
	width: 40px;
	height: 40px;
	margin-left: 6%;
  }
  .register-user-details{
	background: #FFFFFF 0% 0% no-repeat padding-box !important;
	box-shadow: 0px 19px 47px #00000029 !important;
	border-radius: 113px !important;
	height: 65px !important;
	border: none !important;
	padding: 20px 24px 14px !important;
	font-size: 16px !important;
	display: block !important;
	width: 100% !important;
	line-height: 1.5 !important;
	padding-left: 10px;
  }
  .register-account-investor-screen3 .select2-container .select2-selection--single .select2-selection__rendered{
	margin-left: 0px !important;
  }
   .register-account-investor-screen4 .register-user-info{
		top: 16%;
   }
  .register-user-info{
	position: relative;
	top:31%;
	width: 96%;
	align-items: center;
	margin: auto !important;
  }
  .register-user-info input:focus
  {
	  outline: none;
  }
  .register-forms-select .select2.select2-container {
	box-shadow: 0 0 5pt 0.5pt #d3d3d3;
	box-shadow: 0px 19px 47px #00000029 !important;
    border-radius: 100px;
    padding: 20px 25px 14px;
    color: transparent !important;
    font-size: 19px;
  }
  .js-quick-mobile-number{
	border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
  }
  .country-code-mobile{
	display: flex;
  }
  .register-user-info-label{
	font-size: 16px !important;
	font-weight: 400 !important;
	pointer-events: none !important;
	position: absolute !important;
	transform: translate3d(0, 25px, 0) scale(1) !important;
	transform-origin: left top !important;
	transition: 240ms !important;
	line-height: 24px !important;
	color: #707070 !important;
	margin-left: 25px !important;
    top: 0 !important;
	padding-left: 10px !important;
  }
  [dir="rtl"] .register-user-info-label{
	margin-left: initial !important;
	margin-right: 25px !important;
  }
  .register-forms-select .formSelectBox .form-group{
	margin-bottom: 0px !important;
  }
  .ddl-countrycode-label{
	left: 4px !important;
	top: 30px !important;
  }
  [dir="rtl"] .ddl-countrycode-label{
	padding-right: 25px;
  }
  [dir="ltr"] .ddl-countrycode-label{
	padding-left: 25px;
  }
  .ddl-countrycode-label.focused{
	top: -4px !important;
	left: 10px !important;
  }
  .register-form-terms-condition{
	margin-top: 3%;
  }
  .register-contact-ddl{
	position: relative;
	display: inline-block;
  }
  .register-contry-info{
	box-shadow: 0 0 5pt 0.5pt #d3d3d3 !important;
	height: 65px !important;
	border-radius: 100px !important;
	padding: 28px 34px 14px !important;
	font-size: 19px !important;
	border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	width: 125px !important;
  }
  [dir="rtl"]  .register-contry-info{
	border-radius: 100px !important;
	border-top-left-radius: 2px !important;
	border-bottom-left-radius: 2px !important;
  }
  .register-form label.focused{
	color: #BF9B2E !important;
	font-size: 12px !important;
	transform: translate3d(0, 16px, 0) scale(1) !important;
	right: initial !important;
	padding-left: 10px !important;
  }
  [dir="rtl"] .register-form label.focused{
	right: -10px !important;
	left: initial !important
  }
  .register-form .select2-selection__rendered{
      font-size: 16px !important;
  }
  .register-language{
	float: revert;
	text-align: right;
	display: flex;
	justify-content: end;
	vertical-align: middle;
	margin: auto;
  }

  .register-language span{
	margin-right: 8%;
	margin-top: 4%;
  }
  .register-form .switch {
	position: relative;
	display: inline-block;
	width: 76px;
	height: 36px;
	margin-right: 4%;
	margin-top: 2%;
  }

  .register-form .switch input {display:none;}

  .register-form .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 19px 47px #00000029;
	border: 1px solid #CACACA;
	border-radius: 8px;
  }

  .register-form .slider:before {
	content: "EN";
	position: absolute;
	height: 34px;
	width: 38px;
	left: 0px;
	bottom: 0px;
	padding-left: 6px;
	transition: .4s;
	text-align: left;
	letter-spacing: 0px;
	color: #FFFFFF;
	background: #00A6BE 0% 0% no-repeat padding-box;
	border-radius: 8px;
	font-size: 16px;
	padding-top: 4px;
  }
  .register-form input:checked + .slider:before {
	color: #979797;
	background: #FFFFFF 0% 0% no-repeat padding-box;
  }
  .register-form input:checked + .slider:after {

	color: #FFFFFF;
	background: #00A6BE 0% 0% no-repeat padding-box;
  }
  .register-form .slider:after
  {
	content: 'AR';
	position: absolute;
	transform: translate(-50%,-50%);
	height: 34px;
	width: 38px;
	top: 50%;
	left: 74%;
	text-align: left;
	padding-left: 6px;
	padding-top: 6px;
	color: #979797;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
	font-size: 16px;
	border-radius: 8px;
	transition: .4s;
  }
  .register-terms{
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
	color: #646464;
	cursor: pointer;
  }
  [dir="rtl"] .register-terms{
	  text-align: right;
  }
  .reg-terms-checkbox-span span{
	width: 24px;
	height: 24px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #9F9F9F;
	border-radius: 5px;
	cursor: pointer;
	margin: auto;
	justify-content: center;
	display: flex;
  }
  .reg-terms-checkbox{
	position: absolute;
	opacity: 0;
  }

  .register-terms-link{
	text-align: left;
	text-decoration: underline;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0px;
	color: #00A6BE;
  }
  .register-form-terms-condition{
	display: flex;
  }
  .reg-terms-checked {
	background: #00A6BE !important;
  }
  .register-success-msg{
	width: 340px;
	font-size: 23px;
	text-align: center;
	font-size: 23px;
	font-weight: 500;
	letter-spacing: 0px;
	color: #025635;
	top:32px;
  }
  .register-success-msg span{
	text-align: center;
    font-size: 23px;
	font-weight: 500;
    letter-spacing: 0px;
	display: block;
  }
  .success-circle {
	height: 106px;
	width: 106px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 4px solid #8EDD65;
	margin: auto;
  }
  .sucess-checkmark{
	color: #8EDD65;
	font-size: 52px;
  }
  .website-from-register{
	width: 211px;
  }
  .login-from-registration{
	width: 197px;
	background: #00A6BE 0% 0% no-repeat padding-box;
  }
  .register-form-names{
	display: flex;
  }

  [dir="ltr"] .register-form-names div:nth-child(1),[dir="rtl"] .register-form-names div:nth-child(2){
	margin-left: 0px;
	padding-left: 0px;
  }
  [dir="ltr"] .register-form-names div:nth-child(2), [dir="rtl"] .register-form-names div:nth-child(1){
	  margin-right: 0px;
	  padding-right: 0px;
  }
  .password-field-height .formInputBox{
    height: 96px;
  }

  meter {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: auto;
	width: 88%;
	height: 0.4em;
	background: none;
	background-color: #fff;
	justify-content: center;
	display: flex;
	margin-top: 1rem;
  }
  meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
  }

  meter[value="0"]{display: none;}
  meter[value="1"]::-webkit-meter-optimum-value { background: linear-gradient(to right,  #ff0000 0%,#ff0000 25%,#fff 25%,#fff 100%); }
  meter[value="2"]::-webkit-meter-optimum-value { background: linear-gradient(to right,  #BF9B2E 0%,#BF9B2E 50%,#fff 50%,#fff 100%); }
  meter[value="3"]::-webkit-meter-optimum-value { background: linear-gradient(to right,  #025635 0%,#025635 100%,#fff 100%,#fff 100%); }
  meter[value="1"]::-moz-meter-bar { background: linear-gradient(to right,  #ff0000 0%,#ff0000 25%,#fff 25%,#fff 100%); }
  meter[value="2"]::-moz-meter-bar { background: linear-gradient(to right,  #BF9B2E 0%,#BF9B2E 50%,#fff 50%,#fff 100%); }
  meter[value="3"]::-moz-meter-bar { background: green; }
  meter[value="1"] { background:  linear-gradient(to right,  #ff0000 0%,#ff0000 25%,#fff 25%,#fff 100%); }
  meter[value="2"] { background: linear-gradient(to right,  #BF9B2E 0%,#BF9B2E 50%,#fff 50%,#fff 100%); }
  meter[value="3"] { background: linear-gradient(to right,  #025635 0%,#025635 100%,#fff 100%,#fff 100%);}

  .reg-sucess{
	top: 20%;
	// top: 26%;
  }

  .register-user-info .fa-eye, .register-user-info .fa-eye-slash{
	display: block;
  }

  .register-user-info .fa-eye:before, .register-user-info .fa-eye-slash:before{
	font-size: 25px;
	position: absolute;
    top:34px;
    right: 40px;
  }
  [dir="rtl"] .register-user-info .fa-eye:before, [dir="rtl"] .register-user-info .fa-eye-slash:before{
	float: left;
	margin-left: 30px;
  }
  .login-screen .register-user-info{
	top: 18%;
  }
  .register-account-investor-screen5 .register-user-info{
	top: 26%;
	// top: 38%;
  }
  .login-screen .login-buttons{
	top: 0;
  }
  .login-screen .register-language{
	float: left;
	text-align: left;
	justify-content: space-evenly;
	margin-top: 20px;
  }
  .login-register{
	position: relative;
	top: 5%;
	align-items: center;
	margin: auto;
	justify-content: center;
	text-align: center;
  }
  .login-register span:nth-child(1){
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
	color: #707070;
	font-size: 20px;
	margin-right: 2%;
  }
  .login-register span:nth-child(2){
	text-align: left;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0px;
	color: #00A6BE;
	font-size: 20px;
	cursor: pointer;
  }
  .login-forgot{
    font-size: 16px;
	letter-spacing: 0px;
	color: #00A6BE !important;
	position: relative;
	top: 7%;
	align-items: center;
	margin: auto;
	justify-content: center;
	text-align: center;
	display: flex;
	font-size: 16px !important;
  }
  .login-forgot span:nth-child(1){
	margin-right: 2%;
	cursor: pointer;
	margin-top: initial !important;
  }
  [dir="rtl"] .login-forgot span:nth-child(1){
	margin-left: 2%;
  }
  .login-forgot span:nth-child(3){
	margin-left: 2%;
	cursor: pointer;
  }
  [dir="rtl"] .login-forgot span:nth-child(3){
	margin-right: 2%;
  }
  .login-forgot a{
	color: #00A6BE;
  }
  .cancel-disabled{
	border: 1px solid #F2F2F2;
	color: #CACACA;
	background: none;
  }
  .login-screen2 .login-register-role{
	margin-top: 15% !important;
  }
  .login-screen2 .register-user-info{
	margin-top: 10% !important;
  }
  .verify-mobile{
	margin-top: 5% !important;
	margin-bottom: 5% !important;
	margin: auto;
  }
  .verify-emailId{
	margin:auto;
  }
  .verify-email-box{
	display: flex;
  }
  .login-screen2 .register-form{
	margin-bottom: 1rem;
  }
  .dotted-lines{
	border: none !important;
	  border-top: 1px dashed #CACACA !important;
	  display: block;
	  width: 80%;
	  margin-top: 6%;
	  margin-bottom: 6%;
  }
  .login-screen-verify-mobile .login-register-role, .login-screen-verify-email .login-register-role{
	top: 28%;
  }
  .login-screen-verify-mobile .register-user-info, .login-screen-verify-email .register-user-info{
	top: 36%;
  }
  .mobile-code-wrapper{
	width: 100%;
	margin: auto;
  }
  .mobile-code-label{
	font-size: 20px !important;
	font-weight: 400 !important;
	pointer-events: none !important;
	position: absolute !important;
	transform: translate3d(0, 10px, 0) scale(1) !important;
	transform-origin: left top !important;
	transition: 240ms !important;
	line-height: 24px !important;
	color: #00A6BE !important;
	left: 30% !important;
	justify-content: center !important;
	margin: auto !important;
	top: -11px !important;
  }
  [dir="rtl"] .mobile-code-label{
	right: 30% !important;
	left: initial !important;
  }
  .padding-top-10{
	  padding-top: 10px !important;
  }
  .a-button{
	padding: 10px;
  }
  .login-error-form .formError{
	margin: auto;
    position: relative;
    margin-top: 28%;
	margin-left: 20px;
    margin-right: 20px;
  }
  .formError-auth{
	padding-left: 0 !important;
	display: flex;
	position: relative !important;
  }
  .formError-auth svg{
	width: 50px;
	height: 50px;
	padding-top: 25px;
	margin: auto;
	position: relative !important;
}
.formError-auth span{
	position: relative;
	left: 0px;
	top: 5px;
	width: 90%;
}
  .mobile-code-text{
	border: none !important;
	border-bottom: 1px solid #979797 !important;
	margin: auto !important;
	padding: 20px 24px 14px 75px !important;
	font-size: 16px !important;
	display: block !important;
	width: 42% !important;
	line-height: 1.5 !important;
  }
  .mobile-verify-text{
	margin: auto;
	width: 80%;
	text-align: center;
	letter-spacing: 0px;
	color: #979797;
	font-size: 20px;
  }
  .email-verify-text{
	margin: auto;
	width: 76%;
	text-align: center;
	letter-spacing: 0px;
	color: #979797;
	font-size: 20px;
	margin-bottom: 1rem;
	display: block;
  }
  .reg-para-text{
	font-size: 14px;
	color: #979797;
	text-align: center;
	margin: auto;
	display: block;
	width: 98%;
  }
  .reg-form-error{
	margin: auto !important;
    position: relative;
    margin-top: 10% !important;
	margin-bottom: 5% !important;
  }
  .auth-mobile{
	  margin-top:100px !important;
	  justify-content: center;
  }
  .mobile-verify-btn{
	top: 58%;
  }
  .trouble-contact-us{
	font-size: 18px !important;
	font-weight: 500 !important;
	top: 80%;
	color: #979797;
  }
  #mobile-no-for-verification .mobile-no{
	border: none;
	cursor: auto;
	width: 110px;
  }
  .back-to-login{
	margin: auto;
	background: none !important;
	border: 1px solid #F2F2F2;
	color: #00A6DE !important;
	margin-top: 15px;
  }
  .login-button-verify-back{
	  margin-top: 50%;
  }
  .verification-info{
	vertical-align: middle;
	margin: auto;
	padding: 0;
  }
  .verification-info i.fa-info-circle{
	font-size: 16px;
  }
  .verification-info span{
	text-align: left;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0px;
	color: #FF0000;
	margin-left: 10px;
  }
  #forgotPassword{
	background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 26px 35px #0000007a;
    border: 1px solid #00A6BE;
    border-radius: 30px;
  }
  #forgotPassword .modal-header,#forgotPassword .modal-footer{
	border:none;
  }
  .forgotPassword-title{
	text-align: center;
	margin: auto;
	width: 100%;
	color: #BF9B2E;
	font-size: 30px;
  }
  #forgotPassword .modal-body{
	width: 70%;
	margin: 2% auto;
  }
  #forgotPassword .modal-body span{
	font-size: 16px;
	display: block;
	color: #707070;
  }
  .forgot-instr{
	margin:auto;
	width: 90%;
	text-align: center;
	margin-top: 30px !important;
  }
  .forgot-password-contact{
	margin: 2% auto 6%;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0px;
  }
  .forgot-password-contact a{
	color: #00A6DE;
  }
  #forgotPassword .modal-content{
	border-radius: 30px;
  }
  .verified{
	width:30px;
	height:24px;
	margin-left: 15px;
	display:inline-block;
	background:#8EDD65;
	-webkit-mask:url("/_ui/responsive/common/images/B2C/Icon ionic-ios-checkmark.png") center/contain;
			mask:url("/_ui/responsive/common/images/B2C/Icon ionic-ios-checkmark.png") center/contain;
  }
  .mandatory,.error {
	color: #FF0000;
	padding-left: 5px;
    font-size: 12px;
  }
  .control-label_mandatory:before{
	  content: "" !important;
  }
  .control-label_mandatory:after,  .select-label-mandatory:after{
	content:"*";
	color: #FF0000;
	padding-left: 1px;
  }
  .required{
	background: #FCEAEA 0% 0% no-repeat padding-box;
	border: 1px solid #FFB6B6;
  }

  .formError{
	top: 25%;
    color: red !important;
  }
  .hasError{
    background: #fec3c3 !important;
    border-color: #fd7b7b !important;
  }
  .error, #forgottenPwdForm .formInputBox .help-block{
	float: left;
    margin-left: 5%;
  }
  [dir="rtl"] .error, #forgottenPwdForm .formInputBox .help-block{
	float: left;
    margin-left: 5%;
  }
  .accountLogin-content-formSubmitSection a.accountLogin-content-toggleBtn:hover, .accountLogin-content-formSubmitSection a:hover{
	  color: #00A6BE !important;
  }
  #forgotPassword{
    margin-top: 25vh !important;
  }
  .forgot-password-wrapper{
	border-radius: 30px !important;
  }
  .login-screen2{
	  margin-top: 2% !important;
  }
  .login-screen2 .register-user-info{
	top: 20%;
  }
  .register-user-details.validate-mobile{
	border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
	padding: 20px 110px 14px 24px !important;
  }

  [dir="rtl"] .register-user-details.validate-mobile{
	border-radius: 113px !important;
	border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
  }
  [dir="ltr"] .captcha-pos{
      margin-left: 1rem;
  }
  [dir="rtl"] .captcha-pos{
      margin-right: 1rem;
  }

  #editCountryCode{
	margin-left: 0px !important;
  }
  .validate-email{
	padding: 20px 100px 14px 24px !important;
  }
  .validate-mobile-label{
	  left:112px !important;
  }
  #editMobile svg path{
	  fill: #00A6BE !important;
  }
  #editMobile{
	  display: block;
  }
  #editMobile .formInputBox-text{
	position: relative;
    right: 45px;
    top: 25px;
  }
  .margin-top-30{
	  margin-top: 30%!important;
  }
  .login-screen2 .margin-top-30{
	  margin-top: 5%!important;
  }
  .help-block{
	  text-align: center;
  }
  .reg-modal{
	border-radius: 30px !important;
	background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 26px 35px #0000007a;
    border: 1px solid #00A6BE;
  }
.pt-50{
	padding-top: 50px !important;
}
.pt-45{
	padding-top: 45px !important;
}
[dir=ltr] .formInputBox .help-block, [dir=ltr] .formInputBox-split .help-block{
	text-align: left !important;
}

@media (min-width:1024px) and (max-width:1024px) and (min-height:768px) and (max-height:768px) {
    .register-account-investor-screen3 .login-right-wrapper, .register-account-investor-screen4 .login-right-wrapper{
        height: 1400px;
    }
    .register-form-names{
        display: block;
        .register-forms-select{
            margin-bottom: 0px;
        }
        div:nth-child(2),div:nth-child(3){
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .register-account-investor-screen5 {
        .login-buttons{
            top : 40%;
        }
        .register-user-info{
            top : 20%;
        }
        .login-register-role {
            top : 15%;
        }
    }
}

  @media (min-width:992px) and (max-width:1200px) {
	.login-register-role{
	  top: 38%;
	}
	.login-role-selection{
	  top: 44%;
	}
	.role-selected-text{
	  top: 64%;
	}
	.bussiness-sector{
	  height: 300px;
	  min-height: 300px;
	  width: 384px;
	}
	.country-code-mobile{
	  display: block;
	}
	.register-language{
	  margin-top: 0%;
	  float: initial;
	  text-align: initial;
	  display: flex;
	  justify-content: center;
	}
	.register-language span{
	  margin-top: 3%;
	}
	.reg-terms-checkbox-span{
	  margin-right: 10px;
	}
	.register-form{
	  margin-bottom: 1rem;
	}
    .login-screen .login-right-wrapper, .login-screen-verify-mobile .login-right-wrapper {
        height: 950px;
    }
	.login-screen2 .register-user-info{
	  top: 10%;
	}
	.verification-info{
	  text-align: center;
	  margin-top: 10px;
	}
	.verify-mobile,.verify-emailId{
	  top: 49% !important;
	}
	.verify-email-box{
	  display: block;
	}
	.trouble-contact-us{
	  top: 84%;
	}
	.mobile-verify-btn{
	  top: 62%;
	}
	.mobile-verify-text{
		font-size: 12px;
		margin-top: 5px;
		margin-bottom: 0px !important;
	}
	.login-screen2 .login-register-text{
		top: 24px;
	}
	.verification-info{
		display: inline;
    	top: 15px;
	}
	.login-screen2 .panelModule{
		padding: 32px 15px !important;
	}
	.dotted-lines{
		margin-top: 2%;
		margin-bottom: -8%;
	}
	.login-screen2 .trouble-contact-us{
		top: 44%;
	}
  }
  @media (min-width:641px) and (max-width:991px) {
	.accountLogin-content-headline, #sagia-cms-help-quick-registration-helper p, #sagia-cms-help-quick-registration-helper ul{
	  width: 94%;
	}
	.login-right-wrapper{
	  margin: 3% auto;
	}
	.login-container{
	  margin: 0;
	}
	.login-account-screen,.register-account-screen, .register-account-investor-screen2, .register-account-investor-screen3, .register-account-investor-screen4, .register-account-investor-screen5{
	  margin: 0;
	  padding: 0;
	}
	.register-progress{
	  top: 50%;
	}
	.login-register-role{
	  top: 54%;
	}
	.login-role-selection{
	  top: 58%;
	}
	.role-selected-text{
	  top: 70%;
	}
	.register-role-selection{
	  top: 8%;
	}
	.login-buttons{
	  top: 92%;
	}
	.register-user-info{
	  top: 60%;
	}
	.country-code-mobile{
	  display: block;
	}
	.country-code-mobile div:nth-child(1){
	  padding:0;
	}

	.register-language{
	  margin-top: 0%;
	  float: initial;
	  text-align: initial;
	  display: flex;
	  justify-content: flex-start;
	}
	.register-language span{
	  margin-top: 3%;
	}
  }
  @media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height:1366px) and (max-height:1366px) { /*ipad pro*/
	.login-right-wrapper{
	  margin-bottom: 80%;
	}
	.register-form-names{
		display: block;
	}
	.register-form-names div{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.register-progress{
	  top: 15%;
	}
	.login-register-role {
	  top: 26%;
	}
	.login-role-selection{
	  top: 30%;
	}
	.role-selected-text{
	  top: 42%;
	}
	.login-buttons{
	  top: 54%;
	}
	.register-role-selection{
	  top: 7%;
	}
	.register-user-info{
	  top: 30%;
	}
	.register-form{
	  margin-bottom: 0rem;
	}
	.register-user-info-label{
	  transform: translate3d(0, 12px, 0) scale(1) !important;
	}
	.register-user-details,.register-contry-info{
	  height: 50px !important;
	}
	.register-account-investor-screen5 .login-register-role{
		top: 17%;
	}
	.register-account-investor-screen5 .register-user-info{
		top: 24%;
	}
	.register-account-investor-screen5{
		top: 46%;
	}
	.register-account-investor-screen3 .formInputBox .form-group,
	.register-account-investor-screen3 .formSelectBox .form-group,
	.register-account-investor-screen4 .formInputBox .form-group{
		padding-top: 0px !important;
	}
	.register-account-investor-screen3 .login-register-role{
		top: 18%;
	}
	.register-account-investor-screen3 .register-user-info{
		top: 20%;
	}
  }

  @media screen and (min-width:1366px) and (max-width:1366px) and (min-height: 1024px) and (max-height: 1024px){
	.login-screen2 .trouble-contact-us{
		top: 77%;
	}
	.login-screen2 .login-right-wrapper{
		height: 830px;
    	width: 780px;
	}
	.login-screen2 .login-register-text{
		top: 38px;
	}
	.login-screen2 .register-user-info{
		top: 16%;
	}
	.dotted-lines{
		margin-bottom: -5%;
	}
	.login-screen2 .trouble-contact-us{
		top: 73%;
	}
	.register-account-investor-screen5 .register-user-info {
		top: 40%;
	}
	.register-account-investor-screen5 .login-buttons{
		top: 80%;
	}
  }
  @media screen  and (max-width: 820px){
      .verify-email-box .register-user-info-label.focused {
        top : -8px !important;
      }
      .country-code-mobile .register-user-info-label.focused {
        top : -24px !important;
      }
      .accountLogin-content-slot.accountLogin-content-slot_left{
        h3,p,ul{
            display: none;
        }
      }
      .register-form-names{
        display: block;
        .register-forms-select{
            margin-bottom: 0px;
        }
        div:nth-child(2),div:nth-child(3){
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .register__section .row{
        display: block;
        .col-md-6{
            max-width: 100%;
        }
    }
    .register-account-investor-screen3 .login-right-wrapper, .register-account-investor-screen4 .login-right-wrapper{
        height: 1400px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 820px) {/*ipad*/
    .register-account-investor-screen5 .register-user-info{
        text-align: center;
    }

	.login-right-wrapper{
	  margin-bottom: 30%;
	}
	.login-register-role{
	  top: 26%;
	}
	.login-role-selection{
	  top: 32%;
	}
	.register-progress{
       top: 10%;
	}
	.role-selected-text{
	  top: 64%;
	}
	.login-buttons{
	  top: 56%;
	}
	.register-user-info{
	  top: 54%;
	}
	.login-screen .register-user-info{
        top: 18%;
	}
	.login-screen .register-language{
	  justify-content: flex-start;
	}
	.login-screen2 .login-register-role,.login-screen-verify-mobile .login-register-role,.login-screen-verify-email .login-register-role{
	  top: 46%;
	}
	.login-screen2 .register-user-info{
	  top: 16%;
	}
	.verify-mobile{
	  top: 40%;
	}
	.trouble-contact-us{
	  top: 75%;
	}
	.verify-email-box{
	  display: block;
	}
	.login-screen-verify-mobile .register-user-info, .login-screen-verify-email .register-user-info{
	  top: 52%;
	}
	.mobile-verify-btn{
	  top: 66%;
	}
	.login-screen2 .login-right-wrapper{
		width: 692px;
		height: 850px;
	}
	.verification-info{
		margin:auto;
		margin-top: 5% !important;
		display: inline-block;
	}
	.dotted-lines{
		margin-bottom: -7%;
	}
	.login-register-text{
		top: 32px;
	}
	.verify-email-box{
		margin-bottom: 0px !important;
	}
	.login-screen2 .margin-top-30 {
		margin-top: 2%!important;
	}
  }
  @media (min-width: 992px) and (max-width: 1200px) and (min-height:1200px) {

  }
  @media (min-width:1700px) and (max-width:1919px) and (max-height:900px) {/*110%*/
	.bussiness-sector{
	  min-height: 388px;
	  height: 388px;
	}
	.register-user-info{
	  top: 40%;
	}
	.margin-top-30{
		margin-top: 20% !important;
	}
	.register-account-investor-screen3 .register-user-info{
		top: 13%;
	}
	.login-right-wrapper{
		height: 600px;
		width: 470px;
	}
    .register-account-investor-screen5 {
        .login-right-wrapper{
            height: 900px;
        }
    }
	.register-account-screen .login-right-wrapper,
	.register-account-investor-screen2 .login-right-wrapper ,
	.register-account-investor-screen3 .login-right-wrapper ,
	.register-account-investor-screen4 .login-right-wrapper ,
	.register-account-investor-screen5 .login-right-wrapper{
    	width: 600px;
	}
	.login-screen2 .login-right-wrapper{
		height: 660px;
		width: 470px;
	}
	.login-screen2 .login-register-text{
		top: 16px;
		font-size: 20px;
	}
	.login-screen2 .panelModule{
		padding: 32px 15px !important;
	}
	.register-form label.focused{
		font-size: 10px !important;
	}
	.register-user-details.validate-mobile{
		padding:20px 0px 14px 24px !important;
	}
	.login-screen2 .register-contry-info{
		width: 100px !important;
	}
	.validate-mobile-label {
		left: 90px !important;
	}
	.mobile-verify-text{
		font-size: 11px;
	}
	.login-screen2 .register-user-info{
		top: 16%;
		margin-top: 7% !important;
	}
	.dotted-lines{
		margin-top: 3%;
    	margin-bottom: -5%;
	}
	.verify-email-box{
		margin-bottom: 0px !important;
	}
	.login-screen2 .trouble-contact-us{
		top: 66%;
	}
	.login-screen2 .margin-top-30{
		margin-top: 6% !important;
	}
	.register-contry-info{
		font-size: 16px !important;
	}
	.verification-info span{
		display: flex;
	}
  }
  @media (min-width:1500px) and (max-width:1669px) and (max-height:800px) {/*125%*/
    .register-account-screen .login-right-wrapper{
        height: 700px;
    }
    .register-account-investor-screen5 {
        .login-right-wrapper{
            height: 900px;
        }
    }
    .login-screen2 {
        .login-right-wrapper{
            height: 620px;
        }
    }
    #sagiaVerificationForm{
        .login-screen2 .register-contry-info{
            width: 120px!important;
        }
    }
    .register-account-investor-screen3 .login-right-wrapper, .register-account-investor-screen4 .login-right-wrapper{
        height: 1000px;
        width: 600px;
    }
	.role-selected-text{
	  top: 59%;
	}
	.bussiness-sector{
	  min-height: 340px;
	  height: 340px;
	}
	.register-user-info{
	  top: 40%;
	}
	.register-contry-info{
		padding: 28px 34px 12px !important;
	}
	.register-account-investor-screen3 .formInputBox .form-control:placeholder-shown+.control-label:not(.ddl-countrycode-label),
	.register-account-investor-screen4 .formInputBox .form-control:placeholder-shown+.control-label:not(.ddl-countrycode-label),
	.register-account-investor-screen3 .formSelectBox .control-label,
	.register-account-investor-screen4 .formSelectBox .control-label,
	.formSelectBox .select2.select2-container--disabled+.control-label{
		top: 2px !important;
		left: -16px !important;
	}
	.margin-top-30{
		margin-top: 5% !important;
	}
	.login-right-wrapper{
		height: 590px;
		width: 470px;
	}
	.login-screen2 .login-register-text{
		top: 16px;
	}
	.login-screen2 .panelModule{
		padding: 32px 15px !important;
	}
	.register-user-details.validate-mobile{
		padding:20px 0px 14px 24px !important;
	}
	.login-screen2 .register-contry-info{
		width: 100px !important;
	}
	.validate-mobile-label {
		left: 90px !important;
	}
	.mobile-verify-text{
		font-size: 11px;
	}
	.login-screen2 .register-user-info{
		top: 16%;
		margin-top: 7% !important;
	}
	.dotted-lines{
		margin-top: 3%;
    	margin-bottom: -5%;
	}
	.verify-email-box{
		margin-bottom: 0px !important;
	}
	.login-screen2 .trouble-contact-us{
		top: 66%;
	}
	.login-screen2 .margin-top-30{
		margin-top: 0% !important;
	}
	.verification-info span{
		display: flex;
	}
	.ddl-countrycode-label{
		top: 18px !important;
	}
	.register-user-details,.register-form .slider:before,.register-form .slider:after{
		font-size: 14px !important;
	}
	.padding-top-10 {
		padding-top: 6px !important;
	}
	.login-buttons{
		top: 50%;
	}
	.register-progress .circle{
		height: 30px;
		width: 30px;
		font-size: 14px;
	  }
	  .register-progress hr{
		  width: 90px;
	  }
	  .select2-container .select2-selection--single .select2-selection__rendered{
		  display: inline-block !important;
		  top: -6px;
		  position: relative;
	  }
	.register-form .slider:after{
		left: 80%;
	}
	.register-form .switch{
		margin-top: 4%;
	}
	.register-language span{
		margin-top: 6%;
		font-size: 14px;
	}
	.register-form label.focused{
		transform: translate3d(0, 6px, 0) scale(1) !important;
	}
	.formSelectBox .control-label.focused, .formSelectBox .select2.select2-container--disabled+.control-label.focused{
		padding: 0px 10px 10px 10px !important;
	}
	.login-register-text{
		top: 40px;
	}
	.formInputBox .form-control:placeholder-shown+.control-label{
		top: 6px;
	}
	.reg-terms-checkbox-span span{
		width: 20px;
		height: 20px;
	}
	.login-error-form .formError{
		margin-top: 30%;
	}
  }
  @media (min-width:1201px) and (max-width:1499px) and (max-height:700px) {/*150% resolution*/
	.padding-top-10 {
		padding-top: 6px !important;
	}
    .login-screen2 {
        .login-right-wrapper{
            height: 720px;
        }
    }
    .register-account-investor-screen5 {
        .login-right-wrapper{
            height: 900px;
        }
    }
	.accountLogin-content{
		padding-top: 22px !important;
		margin-bottom:0px !important;
	}
	.login-screen .register-user-info{
		top: 15%;
	}
	.login-register-text{
	  top: 40px;
	  font-size: 22px;
	}
	.accountLogin-content-headline{
	  width: 80%;
	  font-size: 38px;
	}
	#sagia-cms-help-quick-registration-helper h3{
		font-size: 20px;
	}
	#sagia-cms-help-quick-registration-helper p, #sagia-cms-help-quick-registration-helper ul{
	  margin-top: 0%;
	  font-size: 16px;
	}
	.dottedList-item{
		font-size: 12px;
	}
	.login-right-wrapper{
	  height: 700px;
	  width: 670px;
	}
	.register-account-investor-screen5 .login-register-role{
		top: 28%;
	}
	.login-role-selection{
	  top: 41%;
	}
	.role-selected-text{
	  top: 64%;
	}
	.login-register-role{
	  top: 36%;
	}
	.register-role-selection{
	  top: 8%;
	}
	.login-role-selection-box{
	  width: 145px;
	  height: 130px;
	}
	.register-progress .circle{
	  height: 30px;
	  width: 30px;
	  font-size: 14px;
	}
	.register-progress hr{
		width: 90px;
	}
	.bussiness-sector{
	  min-height: 290px;
	  height: 290px;
	  width: 380px;
	}
	.register-form .slider:before,.register-form .slider:after{
	  font-size: 12px;
	  height: 26px;
	  width: 26px;
	  padding-left: 4px;
	  padding-top: 4px;
	}
	.register-form .slider:before{
	  left: -1px;
	}
	.register-form .switch{
	  width: 50px;
	  height: 28px;
	}
	.reg-terms-checkbox-span{
	  margin-right: 12px;
	}
	.success-circle{
	  height: 100px;
	  width: 100px;
	}
	.register-form{
	  margin-bottom: 0px;
	}
	.verification-info i.fa-info-circle{
	  font-size: 12px;
	}
	.verification-info span{
	  font-size: 10px;
	  font-weight: 500;
	  margin-left: 0px;
	}
	.mobile-code-label{
	  left: 28%;
	}
	.mobile-code-text{
	  width: 42%;
	}
	.mobile-verify-btn{
	  top: 66%;
	}
	.verified{
	  width: 20px;
	  height: 16px;
	}
	.margin-top-30{
		margin-top: 5% !important;
	}
	.padding-top-10{
		padding-top: 7px;
	}
	.login-screen2 .login-register-text{
		top: 14px;
    	font-size: 22px;
	}
	.login-screen2 .panelModule{
		padding: 32px 15px !important;
	}
	.register-user-details.validate-mobile{
		padding:20px 0px 14px 24px !important;
	}
	.login-screen2 .register-contry-info{
		width: 100px !important;
	}
	.validate-mobile-label {
		left: 90px !important;
	}
	.mobile-verify-text{
		font-size: 11px;
	}
	.dotted-lines{
		margin-top: 4%;
    	margin-bottom: -6%;
	}
	.login-screen2 .login-forgot{
		top: 80%;
	}
	.login-screen2 .margin-top-30{
		margin-top: 0% !important;
	}
	.ddl-countrycode-label{
		top: 18px !important;
	}
	.register-account-investor-screen3 .register-form label.focused, .register-account-investor-screen4 .register-form label.focused{
		top: -30px;
	}
	.register-contry-info{
		padding: 28px 34px 12px !important;
	}
	.password-field-height .formInputBox{
		height: auto;
	}
	.register-form .slider:after{
	  left: 80%;
	}
	.register-form .switch{
		margin-top: 4%;
	}
	.register-language span{
		margin-top: 6%;
		font-size: 14px;
	}
	.register-form label.focused{
		transform: translate3d(0, 12px, 0) scale(1) !important;
	}
	.formSelectBox .control-label, .formSelectBox .select2.select2-container--disabled+.control-label{
		padding: 0px 10px 10px 10px !important;
	}
	.login-register-text{
		top: 40px;
	}
	.formInputBox .form-control:placeholder-shown+.control-label{
		top: 6px;
	}
	.reg-terms-checkbox-span span{
		width: 20px;
		height: 20px;
	}
	.login-error-form .formError{
		margin-top: 24%;
	}
  }

  @media (min-width:2000px) and (max-width:2200px) and (max-height:1100px) {/*90%*/
	.role-selected-text{
	  top: 56%;
	}
	.register-role-selection{
	  top: 8%;
	}
	#sagia-cms-help-quick-registration-helper h3{
		font-size: 32px;
	}
	#sagia-cms-help-quick-registration-helper p, #sagia-cms-help-quick-registration-helper ul{
		font-size: 26px;
	}
	.dottedList-item{
		font-size: 20px;
	}
	.register-account-screen .login-right-wrapper,
	.register-account-investor-screen2 .login-right-wrapper ,
	.register-account-investor-screen3 .login-right-wrapper ,
	.register-account-investor-screen4 .login-right-wrapper ,
	.register-account-investor-screen5 .login-right-wrapper{
		height: 1000px;
    	width: 700px;
	}
  }
  @media (min-width:2201px) and (max-width:2400px) and (max-height:1250px) {/*80% resolution*/
	.accountLogin-content{
		padding-top: 100px !important;
	}
	.role-selected-text{
	  top: 56%;
	}
	.register-role-selection{
	  top: 8%;
	}
	.register-progress{
	  top: 24%;
	}
    .register-account-investor-screen3{
        .register-progress{
            top: 10%;
        }
    }
	.register-form .slider:after{
	  padding-top: 8px;
	}
	.trouble-contact-us{
	  top: 66%;
	}
	.login-screen2 .login-buttons,.login-screen-verify-mobile  .login-buttons,.login-screen-verify-email .login-buttons{
	  top: 78%;
	}
	.verify-mobile{
	  top: 46% !important;
	}
	.mobile-verify-btn{
	  top: 54% !important;
	}
	.login-screen2 .register-user-info{
		top: 18%;
	}
	.dotted-lines{
		margin-top: 10%;
    	margin-bottom: -6%;
	}
	#sagia-cms-help-quick-registration-helper h3{
		font-size: 32px;
	}
	#sagia-cms-help-quick-registration-helper p, #sagia-cms-help-quick-registration-helper ul{
		font-size: 26px;
	}
	.dottedList-item{
		font-size: 20px;
	}
	.register-user-info{
		top: 34%;
	}
  }
  @media (max-width:640px) {

    .accountLogin-content-slot_left{
        padding: 0 !important;
    }
    .accountLogin-content-slot_left {
        background: initial;
    }
    .accountLogin-content-headline {
        color: #fff !important;
    }
    .register-account-investor-screen3 .login-right-wrapper{
        height: 1500px;
        max-height: 1500px;
    }
    .reg-terms-checkbox-span{
        max-width : 50px;
    }
    .login-register-role, .login-role-selection{
        margin-top:10%;
    }
    .register-account-investor-screen4 .login-right-wrapper {
        height: 1200px;
        max-height: 1200px;
    }
    .register-form-terms-condition{
        margin-top: 10% !important;
    }

	.register__section .tabhead.current{
		display: none;
	}


    .login-forgot span:nth-child(1){
        width: 50%;
    }
	.accountLogin-content-slot_left {
		padding: 60px 10 30px 10px !important;
		border-radius: 30px;
	}
	.accountLogin-content-headline{
	  font-size: 42px;
	  margin-top: 10%;
	  line-height: 1.2;
	  letter-spacing:initial;
	}
	.login-container{
	  margin: 0;
	}
	.login-left-wrapper{
	  margin-left: initial;
	}
	.accountLogin-content-headline, #sagia-cms-help-quick-registration-helper p, #sagia-cms-help-quick-registration-helper ul{
	  width: 100%;
	  text-align: center;
	}
	.login-account-screen,.login-screen,.register-account-screen,.register-account-investor-screen2,.register-account-investor-screen3,.register-account-investor-screen4,.register-account-investor-screen5{
		width: 100%;
		margin: auto;
	   padding: 0;

	}
	.login-right-wrapper, .login-screen-verify-mobile .login-right-wrapper{
	  width: 346px;
	  min-height: 540px;
	  max-height: 893px;
	  height: auto;
	}
	.register-role-selection{
	  top: 6%;
	}
	.login-register-text{
	  top: 24px;
	  font-size: 20px;
	}
    .register-account-investor-screen5 {
        .login-buttons {
            top : 20% !important;
        }
        .register-user-info {
            text-align: center;;
        }
        .login-right-wrapper{
            height : 700px;
        }
        .register-user-info{
            top : 15%;
        }
        .login-register-role {
            top :10%;
        }
    }
	.register-progress{
      margin-top: 10%;
	  top:10%;
	  position: relative;
	}
	.login-register-role{
	  top:14%;
	  position: relative;
	  font-size: 16px;
	}
	.role-text{
	  top: 25px;
	}
	.login-role-selection{
	  top:16%;
	  position: relative;
	  margin: auto;
	  text-align: center;
	}
	  .bussiness-sector{
		min-height: initial;
		overflow: hidden;
		height: initial;
	  }
	.login-role-selection span{
	  text-align: left;
	}
	.login-role-selection-box{
	  width: 130px;
	  height: 118px;
	}
	.role-selected-text{
	  width: 320px;
	  margin: 6% 4% 10% 4%;
	}
	.login-buttons{
	  margin: auto;
	  display: grid;
      margin-top:20%;
	}

	.register-form-names{
	  display: block;
	}
	.register-user-info{
	  top:16%;
	  position: relative;
	}
	.register-form-names div{
	  padding-left: 0px;
	  padding-right: 0px;
	}
	.register-success-msg span{
	  font-size: 21px;
	}
	.success-circle {
	  height: 87px;
	  width: 87px;
	}
	.sucess-checkmark{
	  font-size: 44px;
	}
	.login-buttons div:nth-child(1){
	  order:2;
	}
	.login-buttons div:nth-child(2){
	  margin-bottom: 10px;
	  order:1
	}
	.website-from-register,.login-from-registration
	,.login-btn-next,.reset-btn, .register-investor-screen2-btn-next, .register-investor-screen3-btn-next, .register-investor-screen4-btn-next, .register-investor-screen5-btn-next
	,.login-cancel,.login-entry-cancel,.login-btn-cancel, .register-investor-screen2-btn-back, .register-investor-screen3-btn-back, .register-investor-screen4-btn-back, .register-investor-screen5-btn-back{
	  width: 241px !important;
	}
	.country-code-mobile{
	  display: block;
	}
	.country-code-mobile div:nth-child(1){
	  padding:0;
	}
	.register-language{
	  margin-top: 10%;
	  float: initial;
	  text-align: initial;
	  display: flex;
	  justify-content: center;
	}
	.register-language span{
	  margin-right: 8%;
	  margin-top: 4%;
	  float: left;
	}
	.reg-terms-checkbox-span{
	  width: 10%;
	  margin: 0 2% 0 0;
	  padding: 0 4% 0 0;
	}
	.bussiness-sector .bussiness-sector-btn{
	  box-shadow: none;
	}
	.login-screen .register-user-info{
	  top: 12%;
	}
	.page-verification{
		overflow-y: auto;
	}
	.login-screen2 .login-right-wrapper{
		height: 750px;
	}
	.login-screen2 .register-contry-info{
		width: 98px !important;
		height: 50px !important;
	}
	.login-screen2 .register-user-details{
		height: 50px !important	;
	}
	.login-screen2 .country-code-mobile{
		padding:0px !important
	}
	.login-screen2 .register-form label.focused{
		font-size: 9px !important;
	}
	.validate-mobile-label{
		left: 76px !important;
	}
	.login-screen2 .register-user-details.validate-mobile{
		padding: 20px 10px 14px 13px !important;
	}
	.mobile-verify-text{
		font-size: 14px;
	}
	.login-screen2 .login-buttons{
		position: initial !important;
	}
	.verification-info{
		margin-top: 5px !important;
		display: inline-block;
	}
	.validate-email{
		padding: 20px 9px 14px 24px !important;
	}
	.login-screen2 .trouble-contact-us{
		top: 76%;
	}
	.login-screen2 .margin-top-30{
		margin-top: 14% !important;
	}
  }

  @media (min-width:992px) and (max-width:1200px) {
	.login-left-wrapper{
	  margin-left: 5%;
	}
	.accountLogin-content-headline{
	  font-size: 50px;
	  line-height: 1.2;
	  letter-spacing:initial;
	  width: 100%;
	}
	#sagia-cms-help-quick-registration-helper p, #sagia-cms-help-quick-registration-helper ul{
	  width: 100%;
	}
	.login-right-wrapper{
	  height: 800px;
	  width: 500px;
	}
  }

  @media (min-width:992px) and (max-width:1200px) {
	.login-account-screen,.register-account-screen,.login-screen,.login-screen2,.login-screen-verify-mobile,.login-screen-verify-email,.register-account-investor-screen2,.register-account-investor-screen3,.register-account-investor-screen4,.register-account-investor-screen5{
	  max-width: 100%;
	}
  }

  @media (min-width:992px) {
	.login-account-screen,.register-account-screen,.login-screen,.login-screen2,.login-screen-verify-mobile,.login-screen-verify-email,.register-account-investor-screen2,.register-account-investor-screen3,.register-account-investor-screen4,.register-account-investor-screen5{
	  display: flex;
	  justify-content: center;
	  margin: auto;
	}
	.login-container{
	  flex-wrap: initial;
	  height: 100%;
	  margin: auto;
	  min-height: 100vh;
	}
	.register-account-investor-screen2,.register-account-investor-screen3,.register-account-investor-screen4,.register-account-investor-screen5{
	  align-items: center;
	  height: 100%;
	}
  }


/* 19-01-2022  */
[dir] .mainSection {
	padding-top: 0px !important;
}
[dir] .page-header-image {
	// height: 350px;
	height: 52vh;
}
.banner-container {
	top: 28% !important;
}
.banner-container h1 {
	font-weight: normal !important;
	text-transform: uppercase;
	line-height: 70px;
}
[dir=ltr] .profile-icons {
	position: relative !important;
	bottom: 30px;
	right: 0px !important;
}
[dir=ltr] .profile-icons .calendar, [dir=ltr] .profile-icons .notification, [dir=ltr] .profile-icons .profile {
	background-color: #fff;
	padding: 0px 4px;
	box-shadow: 0 20px 20px #00000029;
	border: 3px solid #00a6be;
	border-radius: 50%;
	opacity: 1;
	width: 63px;
	height: 63px;
}
// [dir] .btn_outline {
// 	background-color: #00a6be;
// }
[dir=ltr] .profile-icons .calendar a span {
	background-image: url('../../common/images/dashboard-media/Profile-bar/Calender-in-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 63px;
	height: 63px;
	display: inline-block;
	margin: -3px 0px -1px -7px;
}
[dir=ltr] .profile-icons .calendar a span:hover {
	background-image: url('../../common/images/dashboard-media/Profile-bar/Calender-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin: 0px 0px 0px -4px;
}
[dir=ltr] .profile-icons .profile a span {
	background-image: url('../../common/images/dashboard-media/Profile-bar/Account-User-icon.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 63px;
	height: 63px;
	display: inline-block;
	margin: -3px 0px 0px -7px;
}
[dir=ltr] .profile-icons .profile a span:hover {
	background-image: url('../../common/images/dashboard-media/Profile-bar/Profile-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 57px;
	height: 57px;
	display: inline-block;
	margin: 0px 0px 0px -4px;
}
[dir=ltr] .profile-icons .notification a span {
	background-image: url('../../common/images/dashboard-media/Profile-bar/message-in-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 63px;
	height: 63px;
	display: inline-block;
	margin: -3px 0px 0px -7px;
	position: absolute;
}
[dir=ltr] .profile-icons .notification a span:hover {
	background-image: url('../../common/images/dashboard-media/Profile-bar/message-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 57px;
	height: 57px;
	display: inline-block;
	margin: -3px 0px 0px -4px;
	position: absolute;
}

.count-notification{
	position: absolute;
    top: -23px;
    right: 75px;
    background: @color-primary;
    color: @color-white;
    z-index: 1;
	min-width: 30px;
    border-radius: 20px;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;

}