/*--- my appointment CSS starts ----*/
.page-header-image{
	width: 100%;
    height: 36vh;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.banner-container{
	position: absolute;
    bottom: auto;
    top: 30%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner-container h1{
	margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
.back-to-overview-icon{
	height: 20px;
	margin-right: 10px;
}

.book-appointment-calendar{
	display: flex;
    position: absolute;
    right: 21px;
    top: 27px;
}
.control-label_mandatory:before{
	color: red;
}
.select2.select2-container{
	height: auto;
}
// .select2-container .select2-selection--single .select2-selection__rendered{
// 	overflow: visible;
// }

.profile-icons{
	display: flex;
	z-index: 1;
    position: absolute;
    right: 20%;
    bottom: 45%;
}
.profile-icons .calendar{
	background: #00A6BE 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 20px #00000029;
	border: 3px solid #00A6BE;
	opacity: 1;
	border-radius: 50%;
	margin-right: 20px;
	width: 55px;
	height: 55px;
}
.profile-icons .messages{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 20px #00000029;
	border: 3px solid #00A6BE;
	opacity: 1;
	border-radius: 50%;
	margin-right: 20px;
	width: 55px;
	height: 55px;
}
.profile-icons .profile-icon-images{
	margin-top: 15px;
	margin-left: 10px;
}
[dir=ltr] .calendar-control-widget.control-bar-actions{
	border: 1px solid #00A6BE;
	border-radius: 27px;
	opacity: 1;
}
.calendar-control-widget .control-button{
	color: #00A6BE !important;
}
.change-view-month.active{
	background: #00A6BE !important;
	border-radius: 27px;
	opacity: 1;
	color: #fff !important;
}
[dir] .calendar-control-widget.control-bar-actions .control-button{
	padding: 7px 25px 7px;
}
.no-background{
	background-color: none !important;
}
.paginationModule-wrapper{
	justify-content: end;
}
.leftsideshows {
    transform: rotate(180deg);
}
[dir=ltr] .sagiaNavigation-subPane{
	border-radius: 25px;
}
[dir] .notificationList-thumb .iconElement{
	background-color: transparent;
}
.searchInputBox{
	height: auto;
}
/*--- my appointment CSS ends ----*/
/* ---- my messages CSS ----*/
.notificationList-name{
	color: #00A6BE;
	font-weight: 500 !important;
}
.sagia-subPane{
	border-radius: 25px !important;
}
[dir] .notificationList-item:hover{
	background: #E7FCFF;
}
[dir] .searchInputBox:before {
    background: transparent url(../../common/images/Infrastructures_and_Logistics/search.png) center;
	background: transparent url(../../common/images/Infrastructures_and_Logistics/search.png) center;
    background-size: contain;
}
.iconElement{
	background-color: transparent !important;
}
.message-right-arrow{
	width: 13px;
    height: 23px;
}
[dir] .notificationList-link{
	padding-left: 0;
}
.notificationList-item{
	padding: 10px 30px;
}
.notificationList-item:first-child{
	background: #E7FCFF;
}
ul.notificationList{
	max-height: initial;
}
.m--30{
	margin: 0 -30px;
}
.expandableContent.expanded .expandableContent-aside{
	width: 100%;
}
.pop-up-modal-width{
	width: 827px;
}
.popup-btn-width{
	width: 209px;
	margin: 0 auto !important;
	color: #FFFFFF !important;
}
/* ---- my messages ends ---*/


/*********** e-sERVICES tOUR ******/
.eServiceTutorial-headline{
	color: #00a6be;
}
.popup-border{
	border-radius: 25px !important;
}
.popup-btn-next{
	width: 209px;
}
.eServiceTutorial-description{
	font-style: normal;
	color: #707070;
}
.btn-search{
  color: #00a6be;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: var(--content-font);
  text-align: center;
  border: 0 solid #00a6be;
  border-radius: 113px;
}
[dir] .paginationModule-link.active, [dir] .paginationModule-link.active:focus, [dir] .paginationModule-link.active:hover{
	border-color: transparent;
	color: #00a6be;
}
[dir] .calendar-legend li.js-event-gov:before, .js-cal-col.cell-today .cell-number{
  background-color: #00a6be !important;
}

.searchInputBox-switchModeBtn{
	color: #00a6be;
	font-size: var(--content-font);
	font-weight: bold;
}
.popupicon{
	height: 15px;
	width: 15px;
}
.service-container{
	background: #FFFFFF;
	box-shadow: 0px 30px 75px #00000029;
	border: 1px solid #00A6BE;
	border-radius: 40px;
	padding: 65px 50px 90px;
}
.service-container .body-text{
	color: #707070;
	font-size: var(--content-h-font);
	text-align: center;
}
.service-container .card-header{
	border: 1px solid #00A6BE;
	background-color: #FFFFFF;
	padding: 25px 36px;
}

.service-container .card-header .card-title{
	color: #00A6BE;
	font-size: 24px;
	font-weight: 700;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: url('../../theme-alpha/img/minus.png');
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
	content: url('../../theme-alpha/img/plus.png');
}
.service-container .card-body .contentModule-headline{
	padding: 12px 15px;
	padding-bottom: 6px;
}
.service-container .card-body .contentModule-text{
	color: #707070;
	font-size: var(--content-big-font);
}
.licenseSimulatorPopup  {
	@media screen and (min-width:1200px) and (max-width:2000px) {
	   .modal-content{
		   transform: translate(-25%,0);
	   }	 
	}
}
// #eServiceTour  .modal-dialog{
// 	max-width: 700px !important;
// 	position:  fixed;
// 	top: 70px;
// 	left: calc(50% - 20px);
// 	bottom: 40px;
// 	z-index: 100;
// }
#eServiceTour  .modal-dialog .modal-title{
   font-size: var(--heading-font);
}
.eServiceTutorial-panelInner{
	width: auto;
	max-width: 827px !important;
	border-radius: 20px !important;
	text-align: center;
}
.eServiceTutorial-description{
	font-size: var(--content-h-font);
	color: #707070;
	text-align: center;
}

/***** Payments Page ***/
.page-payments-overview .dashboardWidget{
	border-radius: 22px !important;
}
.page-payments-overview .dashboardWidgetPayments-amount{
	color: #707070 !important;
}
 .payment-link{
	color: #00A6BE !important;
	padding-left: 50px;
	text-align: center;
	cursor: pointer;
}
.payment-overview-viewall-filter{
	width: 175px;
    position: absolute;
    margin-top: 0px;
    right: auto;
    left: 50px;
}
#licenseApplicationPayment .modal-dialog, #creditCardPayment .modal-dialog{
	max-width: 827px;
	width: 827px;
	padding: 0;
}
#licenseApplicationPayment{
	.modal-secondaryContent{
		border: none;
	}
	.modal-footer_iconButton{
		width: auto;
	}
	.pay-with-salad{
		width: 100px;
		display: block;
	}
	.modal-dialog .payment-btn{
		padding: 22px 40px;
		display: flex;
		height: 50px !important;
		border-radius: 46px;
	
		align-items: center;
		display: inline-flex;
		svg{
			align-items: center;
			display: inherit;
		}

		&:hover{
			background: #00a6be !important;
			color: #fff !important;
		}
	} 

}  

#creditCardPayment{
	.formInputBox .form-group iframe{
		height: 64px !important;
		border-radius: 50px !important;
	}
	.formRadioPayment .modal-footer .credit-card-btn{
		width: 100%;
		background: #00a6be !important;
		color: #fff !important;
	}
	.formInputBox .form-group .control-label{
		font-size: var(--content-big-font);
		color: #707070;
		text-transform: none;
	}
	.formInputBox .form-group > iframe > input, .formInputBox .form-group > iframe > input:active,.formInputBox .form-group > iframe > input:visited, #creditCardPayment .formInputBox .form-group input{
		height: 64px !important;
		border-radius: 50px !important;
		margin-top: 20px !important;
	}
}
 
#creditCardPayment 
/***** Payments Page css ends***/
/*****dashboard-edit ***/
.page-dashboard-edit .dashboardWidget{
	border-radius: 22px;
}
.page-dashboard-edit .dashboardWidget .dashboardWidget-setting  .formCheckBox .control-label span{
	box-shadow: none !important;
	border: none !important;
	background: none !important;
}
.page-dashboard-edit .dashboardWidget .dashboardWidget-headline{
	border: none !important;
	color: #bf9b2e;
}

.know-more-link{
	text-transform: uppercase;
	color: #0489A3;
	font-weight: 500;
}
 .payment-link{
	color: #00A6BE !important;
	padding-left: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}
.dashboardWidgetPayments-eid,.paymentDate, .dashboardWidgetPayments-amount, .dashboardWidgetPayments-currency{
	font-size: 18px !important;
	font-weight: 500;
}
.btn-view-all{
	margin: 0 auto !important;
    width: fit-content;
}

.dashboardWidgetPayments-title a ,.dashboardWidgetPayments-title a span{
	font-size: 18px;
	color: #00A6BE !important;
}
 .select2.select2-container{
	border-radius: 15px !important;
	box-shadow: none;
	padding: 21px !important;
	height: 65px;
	z-index: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	margin-left: 0 !important;
	margin-left: 0 !important;
    font-size: var(--content-font);
    font-weight: normal;
    // line-height: 23px;
    text-transform: none;
}
.select2.select2-container .select2-selection:after{
	top: 20% !important;
	width: 12px !important;
	height: 9px !important;
}
.select2.select2-container .select2-selection{
	padding-right: 0 !important;
}
.page-payments-overview  .dashboardWidget-headline{
	border-bottom:  none !important;
}
.dashboardWidgetPayments-date div{
	font-size: 18px;
}
.dashboardWidget-filter{
	width: 237px;
}
.page-notifications{
	.mainSection .expandableContent.expanded .expandableContent-aside, .modal-dialog_businessActivities .expandableContent.expanded .expandableContent-aside{
		width: 100% !important;
	}
}
.page-dashboard-edit .Applylicense-icon{
	left: 0;
	top: -10px;
}
.page-dashboard-edit .dashboardWidgetList_edit .dashboardWidget-setting{
border-bottom: none !important;
}
.page-dashboard-edit .dashboardWidgetList_edit  .dashboardWidget-headline{
	padding-bottom: 0 !important;
}
.page-payments-overview  .dashboardWidget-headline{
	border-bottom:  none !important;
}
.dashboardWidgetPayments-date div{
	font-size: 18px;
}
.dashboardWidget-filter{
	width: 250px;
}
// .mainSection .expandableContent.expanded .expandableContent-aside, .modal-dialog_businessActivities .expandableContent.expanded .expandableContent-aside{
// 	width: 100% !important;
// }
.page-dashboard-edit .Applylicense-icon{
	left: 0;
	top: -10px;
}
.page-dashboard-edit .dashboardWidgetList_edit .dashboardWidget-setting{
border-bottom: none !important;
}
.page-dashboard-edit .dashboardWidgetList_edit  .dashboardWidget-headline{
	padding-bottom: 0 !important;
}
.messageList-img_large .iconElement, .messageList-img_large img{
	width:47px !important;
	height: 47px !important;
}
.page-notifications .messageList-img img{
  border-radius: 0 !important;
  background-color: transparent !important;
  border: none !important;
}
 .messageList-header-details .messageList-img_large:first-child{
  margin-top: 0 !important;
}

/****appointment over***/
.page-appointments .contentModule-filter{
	width: 13%;
}


.flatpickr-calendar{
	border-bottom-left-radius: 0 !important;
}

.sagia_profile_picture_title{
    font-weight: 600;
    font-size: var(--content-big-font);
    color: #bf9b2e;
}

.appoint-btn{
	font-size: var(--content-big-font);
	display: block;
	padding: 10px 15px !important;
	&:hover{
		text-decoration: none;
	}
	span{
		color: #00A6BE !important;
		text-transform: none;
	}
}
.page-appointment-create .select2.select2-container.select2.select2-container--disabled{
	border-color: transparent;
	background-color: #ffffff;
	box-shadow: 0 19px 47px #00000029;
}

.page-appointment-create .select2.select2-container.select2.select2-container--disabled .select2-selection__rendered{
	color: #000;
	text-transform: uppercase;
	font-size: 18px !important;
}
.page-appointment-create .formSelectBox .select2.select2-container.select2Container_selected+.control-label{
	font-size: var(--content-font);
}


label.lang-btn {
	padding: 0;
	color: #b9b9b9;
	font-size: 10px;
	margin: 0 10px;
	border: 0;
	line-height: 16px;	
	cursor: pointer;
}

label.btn.lang-btn.active {
	color: #fff;
}

.lang-btn.focus,
.lang-btn:focus {
	outline: 0;
	box-shadow: none;
}


.lang-en {
	top: 2px;
	position: relative;
}

.lang-en:before {
	position: absolute;
	content: "";
	right: -10px;
	top: 0px;
	width: 1px;
	height: 15px;
	background-color: #707070;
	cursor: none;
}


[dir="rtl"] .lang-en:before {
	right: 17px;
}
/*** show me around responsive***/

@media (max-width: 767px){
	[dir=ltr] #eServiceTour .modal-dialog{
		left: calc(0%);
	}
	.modal-heroImage {
		margin-bottom: 32px;
		height: 50px;
		width: auto;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	#eServiceTour .modal-dialog .modal-title{
		font-size: var(--content-big-font);
	}
	.modal-description{
		font-size: 18px;
	}
	.eServiceTutorial-panelInner{
		width: auto;
	}
}
	
@media screen and (min-width: 768px) and (max-width: 1024px) {
	[dir=ltr] #eServiceTour .modal-dialog{
		left: calc(10%);
	}
	.eServiceTutorial-panelInner{
		width: auto;
	}
}

/*** show me around responsive***/
.select2-selection__rendered{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/****** footer mobile screen css *****/
@media (max-width: 640px) {
	.footer {
		position: relative;
		padding-top: 1rem;
     	padding-bottom: 0.5rem;
	}
    [dir=ltr] .ft-logo {
		left: 10%;
		right: 0;
		left: 0;
	}
	.footer .my-login-part {
		position: absolute;
		top: 30px;
		right: 15px !important;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		width: auto !important;
	}

	.footerContent .f-coll .display-7 {
		font-size: var(--content-big-font);
		color: #026a37;
		text-align: center !important;
		min-height: 4rem;
	}
	.footerContent .f-coll p {
		padding-bottom: 0px;
		text-align: center !important;
		padding-bottom: 35px;
	}
	.footer img.footer_logo {
		width: 93px;
		position: relative;
		left: 12%;
		top: -2px;
		margin-bottom: 0;
	}
	.ft-logo {
		position: absolute !important;
		bottom: 0px;
		left: 10%;
		right: 0;
		width: 100%;
		display: block;
		align-items: center;
		justify-content: center;
		border-bottom: none !important;
		left: 0;
	}
	.footer .footer-menu {
		padding: 0;
		margin-top: 12px;
        color: #707070;
		text-align: center;
	}
	.footer .text-left {
		border-bottom: 1px solid #707070;
	}
	.ft-social-logo {
		position: relative;
		margin-left: auto;
	}
	.follow-us {
		font-size: 14px;
		text-align: center;
		color: #141414;
		padding-left: 50%;
		margin-top: 20px;
		margin-bottom: 0;
		letter-spacing: 0.34px;
	}
	.footer-menu-links .social-links {
		padding-left: 50%;
	}
	.social-links li {
		margin-right: 0.4em;
		margin-top: 13px;
	}
	.footer-menu-links .social-links li {
		float: none;
	}
    .copyright {
		line-height: 1.2;
		padding-top: 1rem !important;
		height: auto;
		padding-bottom: 0.5rem !important;
	}
	.copyright .container {
		max-width: 100% !important;
	}
	.copyright div {
		margin: 0 auto;
		text-align: center !important;
		font-weight: 400;
    	font-size: var(--content-font);
	}
	.copyright div .nav-bottom-footer {
		margin: 0.5rem auto;
		padding: 0;
	}
	.copyright div .nav-bottom-footer li {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.copyright .nav-bottom-footer li a {
		padding: 0;
		margin-right: 12px;
	}
    
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.footer {
		position: relative;
	}
	[dir] .footer .footer-menu{
		text-align: center !important;
	}
	.footerContent .f-coll .display-7 {
		font-size: 18px;
		text-align: center !important;
	}
	[dir=ltr] .footerContent .f-coll p{
		text-align: center !important;
	}
	.footerContent .f-coll .link, .footerContent .f-coll ul li a {
		font-size: 12px;
		font-weight: unset;
	}
	.ft-logo {
		position: absolute !important;
		bottom: 0px;
		left: 10%;
		right: 0;
		width: 100%;
		display: block;
		align-items: center;
		justify-content: center;
		border-bottom: none !important;
		margin-bottom: 0 !important;
	}
	.ft-social-logo {
		position: relative;
		margin-left: auto;
	}
	.follow-us {
		white-space: nowrap;
		padding: 0;
		font-size: 14px;
		text-align: center;
		color: #141414;
		margin-top: 20px;
		margin-bottom: 0;
		letter-spacing: 0.34px;
	}
	
	.social-links {
		white-space: nowrap;
		padding-left: 0 !important;
	}
	.social-links li {
		width: 28px;
		margin-right: 0.1rem;
	}
	.footer-menu-links .social-links li {
		float: none;
	}
	.copyright {
		font-size: 14px;
	}
	
}
@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height:1366px) and (max-height:1366px) {
    .ft-logo {
        position: inherit;
    }
}
/****** footer responsive screen css ends *****/
/****** float footer responsive ***///

@media (max-width: 767px){
	.float-button {
		width: 60px;
		height: 60px;
		border-radius: 60px;
		box-shadow: 0px 4px 8px #0000003b;
		background-color: #0097a9;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		font-size: 10px;
		text-transform: uppercase;
		bottom: 22px;
		right: 30px !important;
		border: 0;
		cursor: pointer;
		transition: all 0.4s ease;
		z-index: 99;
	}
	.float-button-up {
		bottom: 0;
		transition: all 0.4s ease;
		background-color: white !important;
		color: #fff !important;
		z-index: 999999999;
		top: 0;
	}
	.footerContent .f-coll p {
		padding-bottom: 0px;
		text-align: center;
		padding-bottom: 35px;
	}
	.footerContent .f-coll p {
		padding-bottom: 0px;
		text-align: center;
		padding-bottom: 35px;
	}
    .footerContent .f-coll ul li::after {
		padding-right: 20px;
	}
	.popup-up {
		bottom: -41px;
		transition: all 0.4s ease;
		opacity: 1;
		height: 100%;
		z-index: 99999;
	}
} 
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.float-button {
		width: 60px;
		height: 60px;
		border-radius: 60px;
		box-shadow: 0px 4px 8px #0000003b;
		background-color: #0097a9;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		font-size: 12px;
		text-transform: uppercase;
		bottom: 22px;
		right: 30px;
		border: 0;
		cursor: pointer;
		transition: all 0.4s ease;
		z-index: 99;
	}
	.float-button-up {
		bottom: 210px;
		transition: all 0.4s ease;
		background-color: white !important;
		color: #fff !important;
	}
	.footerContent .f-coll p {
		padding-bottom: 0px;
		text-align: center;
		padding-bottom: 35px;
	}
	.footerContent .f-coll p {
		padding-bottom: 0px;
		text-align: center;
		padding-bottom: 35px;
	}
    .popup-up{
		bottom: -3px;
	}
	.float-button-up{
		bottom: 25% !important;
	}
} 
@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height:1366px) and (max-height:1366px) {
	[dir=ltr] .ft-logo{
		left: auto;
		position:relative !important;
	}

    .float-button-up {
		bottom: 286px;
	}
}
.popup-up .footer-popup .footerContent {
    padding-top: 30px;
}
.footerContent .f-coll .link, .footerContent .f-coll ul li a {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.28px;
    color: #0489a3;
    opacity: 1;
    transition: all 0.4s ease;
}
/****** float footer responsive ***///




.d-invest-with-us {
	h3{
		color: @color-golden !important;
		border-bottom: 0;
		text-align: left;
		text-shadow: 0 2px 2px rgba(0, 0, 0,0.10);
		margin-bottom: 0;
		padding-bottom: 44px;
		font-size: 40px;
		text-transform: uppercase;
		font-weight: 500;
	}
	p{
		font-size: 20px;
	}
		
}
.d-facts-figures{
	background: rgba(0, 0, 0, 0.24);
	@media screen and (max-width:640px) {
		padding-left: 30px;
	}
	p{
		color: @color-white;
		font-size: var(--content-big-font);
	}
}
.section-counts h5,.section-counts h5 span.headline-golden {
    font-size: 40px !important;
	@media screen and (max-width:640px) {
		font-size: 20px !important;
	}
    color: #bf9b2e;
    line-height: 48px;
    text-transform: uppercase;
    padding-bottom: 13px;
    margin: 0;
    text-align: center;
}
.sect-right-panel {
    display: flex;
    flex-wrap: wrap;
}
.sect-left-panel, .sect-right-panel {
    z-index: 9;
    padding: 30px 0;
}
.headline-facts{
	padding-bottom: 6px;
	font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #bf9b2e;
    line-height: 1.5;
}
@media screen and (min-width:1200px) {
	.d-m-invest-actions{
		display: none !important;
	}
	.d-d-invest-actions{
		display: block;
	}
}
@media screen and (max-width:1000px) {
	.sectorAndOpportunitiesSection{
		.dashboardWidgetBanner-tabs-content{
			display: block;
		}
	}
	
	.d-m-invest-actions{
		display: block;
	}
	.d-d-invest-actions{
		display: none !important;
	}
}
@media screen and (min-width:641px) and (max-width:1000px){
	.d-facts-figures{
		padding-left: 46px;
		padding-right: 46px;
	}
}
@media screen and (min-width:768px) {	
	.section-counts .count-item {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		height: 22vh;
		// border-right: 2px solid #fff;
		// margin-bottom: 70px;
		word-break: break-word;
		padding: 0 15px;
	}
	.section-counts .count-item:nth-of-type(even){	
		border-left: 2px solid #fff;	
	}
	.sector-box-inner {
		position: relative;
		margin: 0px 30px 48px 30px;
		padding: 0px 38px 53px 38px;
		z-index: 9;
	}

	.section-counts p.description {
		font-size: 20px;
		color: #fff;
		line-height: 19px;
		text-align: center;
		margin: 0;
		line-height: 1.5;
		padding: 0 20px;
		// min-height: 4rem;
		// -webkit-box-orient: vertical;
		// display: -webkit-box;
		// overflow: hidden !important;
		// text-overflow: ellipsis;
		// -webkit-line-clamp: 5;
	}
	.sectors-content p, .grid-section p {
		color: #7B838C;
		font-size: 20px;
		line-height: 25px;
		font-weight: 400;
		width: 96%;
		font-variant: proportional-width;
	}
	.d-facts-figures.sect-right-panel{
		padding: 15px 0;
	}
}

@media (max-width:767px) {
	.sectorAndOpportunitiesSection {
		.dashboardWidget-body{
			display: block;
			border-top: none;
			border-bottom: none;
		}
		.invest-us-header{
			display: none;
		}
	}
	.section-counts h5{
		text-align: left;
	}
}
#customer-sector-icon{	
	float: left;	
	// width: 40px;
	// height: 40px;
	margin-top: 5px;
}	
.d-invest-with-us h3{	
	padding-left: 70px;	
	font-size: 40px;	
	@media screen and (max-width:640px) {
		font-size:20px;
	}
}

//page appointments
.page-appointments .appointmentList .appointmentList-entry td{
	vertical-align: baseline;
}
.page-appointments .appointmentList .appointmentList-icon_after:after{
	top: 2px;
}

.page-appointments .appointmentList .appointmentList-locationBtn{
	vertical-align: middle;
}


.page-appointment-create .appointments_create .appoint-btn{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}
.page-appointment-create .select2-dropdown_oneColumn .select2-results__option:hover{
	width: 100%;
}

#header.header-scrolled{
	z-index: 99999;
}
@media (min-width:1201px) and (max-width:1499px) and (max-height:700px) {
	 #header.header-scrolled{
		 z-index: 99999;
	 }
}

.select2-dropdown_oneColumn{
	.select2-results__options{
		max-height: 250px;
		overflow: scroll;

		&::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 5px;

			&-thumb {
				border-radius: 4px;
				background-color: rgba(0,0,0,.5);
				-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
			}
		}
	}
}
@media screen and (max-width:640px){	
	.page-dashboard .js-dashboard{	
		overflow-x: hidden;	
	}		
}