/*--- my appointment CSS starts ----*/
.page-header-image{
	width: 100%;
    height: 36vh;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.banner-container{
	position: absolute;
    bottom: auto;
    top: 30%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner-container h1{
	margin: 0 0 10px 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
.back-to-overview-icon{
	height: 20px;
	margin-right: 10px;
}

.book-appointment-calendar{
	display: flex;
    position: absolute;
    right: 21px;
    top: 27px;
}
.control-label_mandatory:before{
	color: red;
}
.select2.select2-container{
	height: auto;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	overflow: visible;
}

.profile-icons{
	display: flex;
	z-index: 1;
    position: absolute;
    right: 20%;
    bottom: 45%;
}
.profile-icons .calendar{
	background: #00A6BE 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 20px #00000029;
	border: 3px solid #00A6BE;
	opacity: 1;
	border-radius: 50%;
	margin-right: 20px;
	width: 63px;
	height: 63px;
}
.profile-icons .messages{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 20px #00000029;
	border: 3px solid #00A6BE;
	opacity: 1;
	border-radius: 50%;
	margin-right: 20px;
	width: 63px;
	height: 63px;
}
.profile-icons .profile-icon-images{
	margin-top: 15px;
	margin-left: 10px;
}
[dir=ltr] .calendar-control-widget.control-bar-actions{
	border: 1px solid #00A6BE;
	border-radius: 27px;
	opacity: 1;
}
.calendar-control-widget .control-button{
	color: #00A6BE !important;
}
.change-view-month.active{
	background: #00A6BE !important;
	border-radius: 27px;
	opacity: 1;
	color: #fff !important;
}
[dir] .calendar-control-widget.control-bar-actions .control-button{
	padding: 7px 25px 7px;
}
.no-background{
	background-color: none !important;
}
.paginationModule-wrapper{
	justify-content: end;
}
.leftsideshows {
    transform: rotate(180deg);
}
[dir=ltr] .sagiaNavigation-subPane{
	border-radius: 25px;
}
[dir] .notificationList-thumb .iconElement{
	background-color: transparent;
}
.searchInputBox{
	height: auto;
}
/*--- my appointment CSS ends ----*/
/* ---- my messages CSS ----*/
.notificationList-item_unread .notificationList-name{
	color: #00A6BE;
}
.sagia-subPane{
	border-radius: 25px !important;
}
[dir] .notificationList-item:hover{
	background: #E7FCFF;
}
[dir] .searchInputBox:before {
    background: transparent url(../../common/images/Infrastructures_and_Logistics/search.png) center;
	background: transparent url(../../common/images/Infrastructures_and_Logistics/search.png) center;
    background-size: contain;
}
.iconElement{
	background-color: transparent !important;
}
.message-right-arrow{
	width: 13px;
    height: 23px;
}
[dir] .notificationList-link{
	padding-left: 0;
}
.notificationList-item{
	padding: 0 30px;
}
.notificationList-item:first-child{
	background: #E7FCFF;
}
ul.notificationList{
	max-height: initial;
}
.m--30{
	margin: 0 -30px;
}
.expandableContent.expanded .expandableContent-aside{
	width: 100%;
}
.pop-up-modal-width{
	width: 827px;
}
.popup-btn-width{
	width: 321px;
}
/* ---- my messages ends ---*/