/*--- my appointment CSS starts ----*/
.page-header-image{
	width: 100%;
    height: 36vh;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.banner-container{
	position: absolute;
    bottom: auto;
    top: 30%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner-container h1{
	margin: 0 0 10px 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
.back-to-overview-icon{
	height: 20px;
	margin-right: 10px;
}

.book-appointment-calendar{
	display: flex;
    position: absolute;
    right: 21px;
    top: 27px;
}
.control-label_mandatory:before{
	color: red;
}
.select2.select2-container{
	height: auto;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	overflow: visible;
}

.profile-icons{
	display: flex;
	z-index: 1;
    position: absolute;
    right: 20%;
    bottom: 45%;
}
.profile-icons .calendar{
	background: #00A6BE 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 20px #00000029;
	border: 3px solid #00A6BE;
	opacity: 1;
	border-radius: 50%;
	margin-right: 20px;
	width: 63px;
	height: 63px;
}
.profile-icons .messages{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 20px #00000029;
	border: 3px solid #00A6BE;
	opacity: 1;
	border-radius: 50%;
	margin-right: 20px;
	width: 63px;
	height: 63px;
}
.profile-icons .profile-icon-images{
	margin-top: 15px;
	margin-left: 10px;
}
[dir=ltr] .calendar-control-widget.control-bar-actions{
	border: 1px solid #00A6BE;
	border-radius: 27px;
	opacity: 1;
}
.calendar-control-widget .control-button{
	color: #00A6BE !important;
}
.change-view-month.active{
	background: #00A6BE !important;
	border-radius: 27px;
	opacity: 1;
	color: #fff !important;
}
[dir] .calendar-control-widget.control-bar-actions .control-button{
	padding: 7px 25px 7px;
}
.no-background{
	background-color: none !important;
}
.paginationModule-wrapper{
	justify-content: end;
}
.leftsideshows {
    transform: rotate(180deg);
}
[dir=ltr] .sagiaNavigation-subPane{
	border-radius: 25px;
}
[dir] .notificationList-thumb .iconElement{
	background-color: transparent;
}
.searchInputBox{
	height: auto;
}
/*--- my appointment CSS ends ----*/
/* ---- my messages CSS ----*/
.notificationList-name{
	color: #00A6BE;
	font-weight: 500 !important;
}
.sagia-subPane{
	border-radius: 25px !important;
}
[dir] .notificationList-item:hover{
	background: #E7FCFF;
}
[dir] .searchInputBox:before {
    background: transparent url(../../common/images/Infrastructures_and_Logistics/search.png) center;
	background: transparent url(../../common/images/Infrastructures_and_Logistics/search.png) center;
    background-size: contain;
}
.iconElement{
	background-color: transparent !important;
}
.message-right-arrow{
	width: 13px;
    height: 23px;
}
[dir] .notificationList-link{
	padding-left: 0;
}
.notificationList-item{
	padding: 0 30px;
}
.notificationList-item:first-child{
	background: #E7FCFF;
}
ul.notificationList{
	max-height: initial;
}
.m--30{
	margin: 0 -30px;
}
.expandableContent.expanded .expandableContent-aside{
	width: 100%;
}
.pop-up-modal-width{
	width: 827px;
}
.popup-btn-width{
	width: 321px;
}
/* ---- my messages ends ---*/


/*********** e-sERVICES tOUR ******/
.eServiceTutorial-headline{
	color: #00a6be;
}
.popup-border{
	border-radius: 25px !important;
}
.popup-btn-next{
	width: 209px;
}
.eServiceTutorial-description{
	font-style: normal;
	color: #707070;
}
.btn-search{
  color: #00a6be;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  border: 0 solid #00a6be;
  border-radius: 113px;
}
[dir] .paginationModule-link.active, [dir] .paginationModule-link.active:focus, [dir] .paginationModule-link.active:hover{
	border-color: transparent;
	color: #00a6be;
}
[dir] .calendar-legend li.js-event-gov:before, .js-cal-col.cell-today .cell-number{
  background-color: #00a6be !important;
}

.searchInputBox-switchModeBtn{
	color: #00a6be;
	font-size: 16px;
	font-weight: bold;
}
.popupicon{
	height: 15px;
	width: 15px;
}
.service-container{
	background: #FFFFFF;
	box-shadow: 0px 30px 75px #00000029;
	border: 1px solid #00A6BE;
	border-radius: 40px;
	padding: 65px 50px 90px;
}
.service-container .body-text{
	color: #707070;
	font-size: 25px;
	text-align: center;
}
.service-container .card-header{
	border: 1px solid #00A6BE;
	background-color: #FFFFFF;
	padding: 25px 36px;
}

.service-container .card-header .card-title{
	color: #00A6BE;
	font-size: 24px;
	font-weight: 700;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: url('../../theme-alpha/img/minus.png');
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
	content: url('../../theme-alpha/img/plus.png');
}
.service-container .card-body .contentModule-headline{
	padding: 12px 15px;
	padding-bottom: 6px;
}
.service-container .card-body .contentModule-text{
	color: #707070;
	font-size: 20px;
}
#eServiceTour  .modal-dialog{
	max-width: 827px !important;
	position:  fixed;
	top: 70px;
	left: calc(50% - 50px);
	bottom: 40px;
	z-index: 100;
}
#eServiceTour  .modal-dialog .modal-title{
   font-size: 40px;
}
.eServiceTutorial-panelInner{
	width: 827px;
	max-width: 827px !important;
	border-radius: 25px !important;
	text-align: center;
}
.eServiceTutorial-description{
	font-size: 25px;
	color: #707070;
	text-align: center;
}

/***** Payments Page ***/
.page-payments-overview .dashboardWidget{
	border-radius: 22px !important;
}
.page-payments-overview .dashboardWidgetPayments-amount{
	color: #707070 !important;
}
 .payment-link{
	color: #00A6BE !important;
	padding-left: 50px;
	text-align: center;
}
#licenseApplicationPayment .modal-dialog, #creditCardPayment .modal-dialog{
	max-width: 827px !important;
	width: 827px;
	padding: 0;
}
#licenseApplicationPayment  .modal-secondaryContent{
	border: none !important;
}
#licenseApplicationPayment .modal-footer_iconButton{
	width: auto !important;
}

#licenseApplicationPayment .pay-with-salad{
	width: 100px;
	display: block;
}
#licenseApplicationPayment .modal-dialog .payment-btn{
	padding: 22px 40px !important;
    display: flex;
    height: auto !important;
    border-radius: 46px;
} 
#licenseApplicationPayment .modal-dialog .payment-btn:hover{
	background: #00a6be !important;
    color: #fff !important;
}
#creditCardPayment .formInputBox .form-group iframe{
	height: 64px !important;
	border-radius: 50px !important;
	box-shadow: none !important;
}
#creditCardPayment .formRadioPayment .modal-footer .credit-card-btn{
	width: 100%;
    background: #00a6be !important;
    color: #fff !important;
}
/***** Payments Page css ends***/
/*****dashboard-edit ***/
.page-dashboard-edit .dashboardWidget{
	border-radius: 22px;
}
.page-dashboard-edit .dashboardWidget .dashboardWidget-setting  .formCheckBox .control-label span{
	box-shadow: none !important;
	border: none !important;
	background: none !important;
}
.page-dashboard-edit .dashboardWidget .dashboardWidget-headline{
	border: none !important;
	color: #bf9b2e;
}

.know-more-link{
	text-transform: uppercase;
	color: #0489A3;
	font-weight: 500;
}
 .payment-link{
	color: #00A6BE !important;
	padding-left: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}
.dashboardWidgetPayments-eid,.paymentDate, .dashboardWidgetPayments-amount, .dashboardWidgetPayments-currency{
	font-size: 18px !important;
	font-weight: 500;
}
.btn-view-all{
	margin: 0 auto !important;
    width: fit-content;
}
#creditCardPayment .formInputBox .form-group .control-label{
	font-size: 20px;
	color: #707070;
	text-transform: none;
}
#creditCardPayment .formInputBox .form-group iframe, #creditCardPayment .formInputBox .form-group input{
	height: 64px !important;
	border-radius: 50px !important;
	box-shadow: none !important;
	margin-top: 20px !important;
	border: 1px solid #0489A3 !important;
}

.dashboardWidgetPayments-title a{
	font-size: 18px;
	color: #00A6BE !important;
}
 .select2.select2-container{
	border-radius: 15px !important;
	box-shadow: none;
	padding: 21px !important;
	height: 65px;
	z-index: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	margin-left: 0 !important;
	margin-left: 0 !important;
    font-size: 19px;
    font-weight: normal;
    line-height: 23px;
    text-transform: none;
}
.select2.select2-container .select2-selection:after{
	top: 20% !important;
	width: 12px !important;
	height: 9px !important;
}
.select2.select2-container .select2-selection{
	padding-right: 0 !important;
}
.page-payments-overview  .dashboardWidget-headline{
	border-bottom:  none !important;
}
.dashboardWidgetPayments-date div{
	font-size: 18px;
}
.dashboardWidget-filter{
	width: 237px;
}
.mainSection .expandableContent.expanded .expandableContent-aside, .modal-dialog_businessActivities .expandableContent.expanded .expandableContent-aside{
	width: 100% !important;
}
.page-dashboard-edit .globalMessage-msg{
	font-size: 18px;
	font-weight: 500;
	padding-left: 45px;
}
.page-dashboard-edit .Applylicense-icon{
	left: 0;
	top: -10px;
}
.page-dashboard-edit .dashboardWidgetList_edit .dashboardWidget-setting{
border-bottom: none !important;
}
.page-dashboard-edit .dashboardWidgetList_edit  .dashboardWidget-headline{
	padding-bottom: 0 !important;
}
.page-payments-overview  .dashboardWidget-headline{
	border-bottom:  none !important;
}
.dashboardWidgetPayments-date div{
	font-size: 18px;
}
.dashboardWidget-filter{
	width: 250px;
}
.mainSection .expandableContent.expanded .expandableContent-aside, .modal-dialog_businessActivities .expandableContent.expanded .expandableContent-aside{
	width: 100% !important;
}
.page-dashboard-edit .globalMessage-msg{
	font-size: 18px;
	font-weight: 500;
	padding-left: 45px;
}
.page-dashboard-edit .Applylicense-icon{
	left: 0;
	top: -10px;
}
.page-dashboard-edit .dashboardWidgetList_edit .dashboardWidget-setting{
border-bottom: none !important;
}
.page-dashboard-edit .dashboardWidgetList_edit  .dashboardWidget-headline{
	padding-bottom: 0 !important;
}
.messageList-img_large .iconElement, .messageList-img_large img{
	width:47px !important;
	height: 47px !important;
}
.page-notifications .messageList-img img{
  border-radius: 0 !important;
  background-color: transparent !important;
  border: none !important;
}
 .messageList-header-details .messageList-img_large:first-child{
  margin-top: 0 !important;
}