
/**my potential**/

 
.page-potential-opportunity {
	h5.history_letter{
		text-align: left; 
		font-size: var(--heading-font);
		letter-spacing: 0px;
		color: #BF9B2E;
		text-transform: uppercase;
		padding-bottom: 20px;
	}
	.input-group.input-group-unstyled input.form-control {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
				border-radius: 4px;
	}
	.input-group-unstyled .input-group-addon {
		border-radius: 4px;
		border: 0px;
		background-color: transparent;
	}

	.has-search .form-control {
		padding-left: 2.875rem;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		border: 1px solid #707070;
		border-radius: 30px;
	}

	.has-search .form-control-feedback {
		position: absolute;
		z-index: 2;
		display: block;
		width: 1.375rem;
		height: 2.375rem;
		line-height: 2.375rem;
		text-align: center;
		pointer-events: none;
		color: #aaa;
		margin-left: 14px;
	}
	.fa_search{
		background: url("${commonResourcePath}/images/dashboard-media/Banner-icons/Header-banner-image1.jpg") top left no-repeat;
		height:30px;
	}
	.shas_search::placeholder {
		color: #00A6BE;
		opacity: 1;
		text-align: right;
		font-size: var(--content-big-font);
		font-weight: 600;
	}
	.text_potential h5.h5_posNUMBER{
		text-align: left; 
		font-size: var(--content-h-font);
		letter-spacing: 0px;
		text-transform: uppercase;
		color: #707070;
	}
	.text_potential span.goldcolor{
		color: #BF9B2E;
		font-size: var(--content-h-font) !important;
	}
	.text_potential .stauts_potential{
		padding: 0px 20px; 
	}
	.text_potential .stauts_potential .h5_status{
		text-align: left; 
		font-size: var(--content-big-font);
		font-weight: 600;
		letter-spacing: 0px;
		color: #868379;
	}
	.text_potential span.yellocolor{
		color: #BF9B2E;
		font-size: var(--content-h-font);
	} 
	.showdowbox_potential h5.serviceModule-description{border-bottom: 1px solid #BF9B2E;}
	.comment_box_form{
		width: 60%; 
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 19px 31px #00000029;
		border: 1px solid #00A6BE;
		border-radius: 30px; 
		margin: 25px auto;
		padding: 40px;
		height: 210px; 
	}
	label.new_comment{
		text-align: left; 
		font-size: var(--content-font);
		font-weight: 600;
		letter-spacing: 0px;
		color: #BF9B2E;
	}
	label.new_comment{
		text-align: left; 
		font-size: var(--content-font);
		font-weight: 600;
		letter-spacing: 0px;
		color: #BF9B2E;
	}
	label.new_comment b{color: #000000;}
	.reply_here{
		border-bottom: 1px solid #707070 !important;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		margin: 10px 0px 20px 0px  !important;
	}
	.reply_here::placeholder {
		text-align: left;
		font-size: 14px;
		letter-spacing: 0px;
		color: #000000;
	}
	.btn_cancel_whitess{
		background-color: #fff!important;
		border: 1px solid #00a6be!important;
		border-radius: 27px!important;
		color: #00a6be !important; 
		font-size: var(--content-big-font) !important;
		font-weight: bold;
	}
	.btn_cancel_whitess:hover{
		background-color: #00a6be!important;
		border: 1px solid #00a6be!important;
		border-radius: 27px!important;
		color: #FFFFFF;
	}
	.btn_submit_whitess{
		background-color: #00a6be!important;
		border: 1px solid #00a6be!important;
		border-radius: 27px!important;
		color: #FFFFFF !important; 
		font-size: var(--content-big-font) !important;
		font-weight: bold; 
	}
	.btn_submit_whitess:hover{
		background-color: #FFFFFF!important;
		border: 1px solid #00a6be!important;
		border-radius: 27px!important;
		color: #00a6be !important;
	}
	.comment_box_message{
		padding: 20px 0px;
	}
	.comment_box_message .misaComment{
		background: #F8FFF5 0% 0% no-repeat padding-box;
		box-shadow: 0px 19px 31px #00000029;
		border: 1px solid #8EDD65;
		border-radius: 30px;
		padding: 40px 30px;
		width: 80%;
		float: left;
		margin: 20px 0px;
	}
	.comment_box_message .customerComment{
		background: #FFFBEE 0% 0% no-repeat padding-box;
		box-shadow: 0px 19px 31px #00000029;
		border: 1px solid #FFEDB6;
		border-radius: 30px;
		padding: 40px 30px;
		width: 80%;
		float: right;
		margin: 15px 0px;
	}
	.misaComment .comment_misa_message_image{
		/*width: 35px;
		height: 35px;
		background: #006F44 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 6px #00000029;
		border: 1px solid #006F44;
		opacity: 1;
		border-radius: 50px ;*/
		position: absolute;
		top: 0px;
	}
	.misaComment .comment_misa_message_word{
		padding-left: 60px;
	}
	.misaComment .comment_misa_message_word h6.misateam{
		text-align: left; 
		font-size: var(--content-font);
		letter-spacing: 0px;
		color: #000000;
	}
	.misaComment .comment_misa_message_word h6.misateam .green_team{
		color: #025635 !important;
	}
	.misaComment .comment_misa_message_word p.text_message{
		text-align: left;
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 0px;
		color: #000000;
	}
	.customerComment .comment_misa_message_word{
		padding-left: 45px;
	}
	.customerComment .comment_misa_message_word h6.misateam{
		text-align: left; 
		font-size: var(--content-font);
		letter-spacing: 0px;
		color: #000000;
	}
	.customerComment .comment_misa_message_word h6.misateam .gold_team{
		color: #BF9B2E !important;
	}
	.customerComment .comment_misa_message_word p.text_message{
		text-align: left;
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 0px;
		color: #000000;
	} 
	.circle_potential{
		padding: 40px 20px 1px 70px;
	}
	.circle_potential .tabs .nav-tabs .nav-item {
		width: 20%;
	} 
	.circle_potential .tabs .nav-tabs .nav-item.active .nav-link{ 
		border: 1px solid #00A6BE;
		text-align: center; 
		vertical-align: middle; 
		display: table-cell;
		color: #00A6BE !important;
	}
	.circle_potential .tabs .nav-tabs .nav-item.show .nav-link{ 
		border: 1px solid #00A6BE;
		text-align: center; 
		vertical-align: middle; 
		display: table-cell;
		// color: #00A6BE !important;
		background: @color-primary 0% 0% no-repeat padding-box;
		box-shadow: 0px 18px 33px #00000029;
		color: @color-white !important;
	}
	.circle_potential .tabs .nav-tabs .nav-item img.img-pot-opp{
		visibility: hidden;
	}
	.circle_potential .tabs .nav-tabs .nav-item.show img.img-pot-opp{
		visibility: visible;
	}
	.circle_potential .tabs .nav-tabs .nav-item .nav-link{ 
		color: #707070;
		border-color: #dee2e6 #dee2e6 #fff;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 18px 33px #00000029;
		border-radius: 100px;
		text-align: center;
		width: 150px;
		height: 150px; 
		vertical-align: middle; 
		display: table-cell;
	}
	.circle_potential .tabs .nav-tabs .nav-item a.nav-link{
		text-align: center; 
		font-size: var(--content-big-font);
		letter-spacing: 0px;
		color: #707070;
	} 
	.d-in-table img{
		text-align: center; 
		vertical-align: middle; 
		display: table-cell;
		width: 25px;
		// height: 35px;
		position: relative;
		// top: -50%;
		top: -35%;
		left: 75%; 
		// filter: grayscale(0.5) brightness(0.5);
		// opacity: 0.2;
	}
	.circle_potential .tabs .nav-tabs {
		border-bottom: 0px solid #dee2e6;
	}
}
/**header css**/
.page-potential-opportunity {
    .mainSection {
        padding-top: 0px !important;
    }
    // .page-header-image {
    //     height: 350px;
    // }
    .banner-container {
        top: 25%;
    }
    .banner-container h1 {
        font-weight: normal;
        text-transform: uppercase;
    }
    .profile-icons {
        position: relative !important;
        bottom: 30px;
        right: 0;
    }
    .profile-icons .calendar, .profile-icons .profile {
        background-color: #fff;
        padding: 0px 4px;
        box-shadow: 0 20px 20px #00000029;
        border: 3px solid #00a6be;
        border-radius: 50%;
        opacity: 1;
        width: 63px;
        height: 63px;
    }
    .btn_outline {
        background-color: #00a6be;
    }

    .profile-icons .profile a span {
        background-image: url('../../common/images/dashboard-media/Profile-bar/profile-icon.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        width: 63px;
        height: 63px;
    }
    .back_to_service {
        width: 270px!important;
    }
    .potential_svg_arrow{
        transform: rotate(0); 
        width: 10px;
        height: 17px;
    }

	[dir=rtl] .potential_svg_arrow{
        transform: rotate(181deg) ; 
        width: 10px;
        height: 17px;
    }
}

/***26/01/2022***/
.potential_opportunity_section{
    background-color: #FFFFFF !important;
    padding-bottom: 0px !important;
}

.potential_opportunity_section{
    background-color: #FFFFFF !important;
    padding-bottom: 0px !important;
}
.potential_opportunity_section .potential_opportunity_images{
    /*width: 63px;
    height: 63px;*/
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 20px #00000029;
    border-radius: 100px;
    bottom: 30px;
	right: 10px;
    position: relative; 
}
.potential_opportunity_section .potential_opportunity_span{
    z-index: 9;
    font-size: 15px;
    right: -23px !important;
    top: -15px !important;
    width: 20px !important;
    height: 20px !important;
    background: #BF9B2E !important;
    box-shadow: 0px 20px 20px #00000029 !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px){
    .circle_potential .tabs .nav-tabs .nav-item .nav-link{
        width: 90px; 
        height: 90px;
        font-size: 15px !important;
    }
    .circle_potential {
        padding: 40px 20px 1px 40px !important;
    }
    .d-in-table img {
        left: 80% !important;
    }
    .d-in-table img {
        width: 20px;
        height: 20px;
    }
    .comment_box_message .customerComment {
        width: 100%;
    }
    .comment_box_message .misaComment {
        width: 100%;
    }
    .customerComment .comment_misa_message_word {
        padding-left: 0px;
    }
    .misaComment .comment_misa_message_image {
        position: unset;
        top: 0;
    }
    .misaComment .comment_misa_message_word {
        padding-left: 0px !important;
    }
    .comment_box_message .misaComment{
        padding: 15px 10px !important;
    }
    .comment_box_message .customerComment{
        padding: 15px 10px !important; 
    }
}
@media only screen and (max-device-width : 320px){
    .circle_potential .tabs .nav-tabs .nav-item {
        width: 50%;
    } 
} 

img.img-pot-opp{
	// position: absolute;
    margin-top: -45px;
    margin-left: 50px;
	left: 5% !important;
    top: 0% !important;
	filter: none !important;
	opacity: 1;
} 

.page-dashboard  .ticketModule-top .ticketModule-details p span {
	font-weight: 600;
	color: #bf9b2e;
}
.page-dashboard  .ticketModule-top .ticketModule-details p { 
	color: #707070;
}
.page-dashboard  .modal-body .downloadList .downloadList-description {
	font-size: var(--content-font);
	font-weight: 600;
	color: #707070;
}
.dashboardUser-image-add{
	cursor: pointer;
} 
#temporaryBiddingLicenseFormId .mw1, .page-sagia-profile .contentModule-section .mw1 { 
    padding-right: 10px;
    padding-left: 10px;
}
.page-appointment-create .mw0, .page-appointment-details .contentModule-section .mw0, .page-license-apply .mw0, .page-sagia-profile .contentModule-section .mw0, .page-shareholder-apply #addShareholderQM1NewPersonSection #attachmentSection .mw0 {
    padding-right: 10px;
    padding-left: 10px;
}
.contentModule-headline, .contentModule-headline-service-info {
    text-align: left;
	@media screen and (min-width:641px){
		padding-right: 10px;
    	padding-left: 10px;
	} 
}

.popup { 
    z-index: 999 !important;
}
@media only screen and (min-device-width : 620px) and (max-device-width : 768px){
	.accountLogin-content-slot_left {
		background: initial !important;
	}
	.login-buttons{
		width: 100%;
		margin: 60px auto;
	}
	.accountLogin-content-headline {
		color: #fff!important;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px){
	.register-account-investor-screen4 .login-right-wrapper {
		width: 100% !important;
	}
}
.page-sagia-profile .companyLogo.js-companyLogo{
	background-repeat: no-repeat !important;
    background-color: #fff !important;
}
[dir=rtl] .select2.select2-container .select2-selection:after {
    left: 0px !important;
    right: unset !important;
}

/***** 17-02-2022 *****/  
.page-potential-opportunity .page-content-position {
	.btn.btn_leftIconLink {
		background: 0 0;
		padding: 0;
	}
	.btn_leftIconLink {
		border-radius: 25px;
		border: 1px solid #00a6be;
		padding: 14px 10px;
	}
	.btn {
		height: 50px;
		color: #fff;
		border-radius: 0.25rem;
		border-radius: 113px;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	.back_to_service {
		width: 300px;
	}
	.btn-dashboard {
		background: #00a6be!important;
		border-radius: 27px;
		margin: 0;
		text-align: center;
		padding: 5px 24px 7px;
		cursor: pointer;
		border: none;
		height: 45px;
		color: #fff;
		opacity: 1;
		font-size: var(--content-font);
		font-weight: 600;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.showdowbox_potential {
		background: #fff 0 0 no-repeat padding-box;
		-webkit-box-shadow: 0 19px 47px #00000029;
		box-shadow: 0 19px 47px #00000029;
		border-radius: 25px;
		padding: 30px 20px;
	}
	 
	.serviceModule.serviceModule_list .serviceModule-headline {
		padding: 8px 15px;
		margin-right: auto;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
	.serviceModule .serviceModule-headline {
		background: #bf9b2e 0 0 no-repeat padding-box;
		margin-top: initial; 
		color: #fff;
		font-size: var(--content-big-font);
		min-height: 3rem;
	}
	.serviceModule-headline { 
		line-height: 24px;
		font-weight: 400;
	} 
	label.new_comment {
		font-size: var(--content-font);
		font-weight: 600;
		letter-spacing: 0;
		color: #bf9b2e;
		text-align: left;
	} 
	.reply_here{
		border-bottom: 1px solid #707070;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		margin: 10px 0px 20px 0px ;
	}
	.reply_here::placeholder {
		text-align: left;
		font-size: 14px;
		letter-spacing: 0px;
		color: #000000;
	}
	.btn_cancel_whitess{
		background-color: #fff;
		border: 1px solid #00a6be;
		border-radius: 27px;
		color: #00a6be; 
		font-size: var(--content-big-font);
		font-weight: bold;
	}
	.btn_cancel_whitess:hover{
		background-color: #00a6be;
		border: 1px solid #00a6be;
		border-radius: 27px;
		color: #FFFFFF;
	}
	.btn_submit_whitess{
		background-color: #00a6be;
		border: 1px solid #00a6be;
		border-radius: 27px;
		color: #FFFFFF; 
		font-size: var(--content-big-font);
		font-weight: bold; 
	}
	.btn_submit_whitess:hover{
		background-color: #FFFFFF;
		border: 1px solid #00a6be;
		border-radius: 27px;
		color: #00a6be;
	}
	.comment_box_message {
		padding: 20px 0;
	} 
	.comment_box_message .customerComment {
		background: #fffbee 0 0 no-repeat padding-box;
		float: right;
	}
	.comment_box_message .customerComment {
		-webkit-box-shadow: 0 19px 31px #00000029;
		box-shadow: 0 19px 31px #00000029;
		border: 1px solid #ffedb6;
		border-radius: 30px;
		padding: 40px 30px;
		margin: 15px 0;
	}
	.customerComment .comment_misa_message_word {
		padding-left: 45px;
	}
	.customerComment .comment_misa_message_word h6.misateam {
		text-align: left; 
		font-size: var(--content-font);
		letter-spacing: 0;
		color: #000;
	}
	.customerComment .comment_misa_message_word h6.misateam .gold_team {
		color: #bf9b2e!important;
	}
	.customerComment .comment_misa_message_word p.text_message {
		text-align: left;
	}
	.customerComment .comment_misa_message_word p.text_message {
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 0;
		color: #000;
	}
	.comment_box_message .customerComment {
		width: 80%;
	}
	.comment_box_message .misaComment {
		background: #f8fff5 0 0 no-repeat padding-box;
		float: left;
	}
	.comment_box_message .misaComment {
		-webkit-box-shadow: 0 19px 31px #00000029;
		box-shadow: 0 19px 31px #00000029;
		border: 1px solid #8edd65;
		border-radius: 30px;
		padding: 40px 30px;
		margin: 20px 0;
	}
	.comment_box_message .misaComment {
		width: 80%;
	}
	.misaComment .comment_misa_message_image {
		position: absolute;
		top: 0;
	}
	.misaComment .comment_misa_message_word {
		padding-left: 60px;
	}
	.service-wrapper {
		background: #fff 0 0 no-repeat padding-box;
	}
	.service-wrapper {
		-webkit-box-shadow: 0 18px 36px #00000029;
		box-shadow: 0 18px 36px #00000029;
		border-radius: 30px;
	}
	.serviceModule {
		position: relative;
	}
	.serviceModule.serviceModule_list .serviceModule-section:first-child {
		margin-top: 0;
	}
	.serviceModule.serviceModule_list .serviceModule-section {
		margin-top: 60px;
	}
	.serviceModule.serviceModule_list .serviceModule-section {
		display: block;
	}
	.serviceModule.serviceModule_list .serviceModule-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
	}
	.serviceModule.serviceModule_list .serviceModule-description {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 0px;
		flex: 1 1 0;
	}
	.serviceModule.serviceModule_list .serviceModule-headline {
		padding: 8px 15px; 
		margin-right: auto;
		padding-right: 12px;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
	.serviceModule .serviceModule-headline {
		background: #bf9b2e 0 0 no-repeat padding-box;
	} 
	.serviceModule .serviceModule-headline {
		color: #fff;
		font-size: var(--content-big-font);
		min-height: 3rem;
	}
	.serviceModule-headline {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		font-size: 24px;
		line-height: 24px;
		font-weight: 400;
		color: #1c242c;
	}
	.serviceModule.serviceModule_list .serviceModule-detail {
		padding-top: 13px;
		padding-bottom: 20px;
		border-top: solid 1px #ccd0d4;
		margin-top: 11px;
	}
	.serviceModule .serviceModule-detail {
		border-top: solid 1px #bf9b2e!important;
		margin-top: initial!important;
	}
	.serviceModule .serviceModule-detail {
		width: 95%;
	}
	.serviceModule-detail {
		width: 100%;
		font-size: 14px;
		color: #1c242c;
	}
	.serviceModule.serviceModule_list .serviceModule-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
	}
	.serviceModule.serviceModule_list .serviceModule-description {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 0px;
		flex: 1 1 0;
	}
	.serviceModule.serviceModule_list .serviceModule-headline {
		padding: 8px 15px;
	}
	.serviceModule.serviceModule_list .serviceModule-headline {
		margin-right: auto;
		padding-right: 12px;
	}
	.serviceModule .serviceModule-headline {
		background: #bf9b2e 0 0 no-repeat padding-box;
	}
	.serviceModule .serviceModule-headline {
		padding: 1%;
		margin-top: initial;
	}
	.serviceModule.serviceModule_list .serviceModule-headline {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
	.serviceModule .serviceModule-headline {
		color: #fff;
		font-size: var(--content-big-font);
		min-height: 3rem;
	}
	.serviceModule-headline {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		font-size: 24px;
		line-height: 24px;
		font-weight: 400;
		color: #1c242c;
	}
	.serviceModule.serviceModule_list .serviceModule-detail {
		padding-top: 13px;
		padding-bottom: 20px;
		border-top: solid 1px #ccd0d4;
		margin-top: 11px;
	}
	.serviceModule .serviceModule-detail {
		border-top: solid 1px #bf9b2e!important;
		margin-top: initial!important;
	}
	.serviceModule .serviceModule-detail {
		width: 95%;
	}
	.serviceModule-detail {
		width: 100%;
		font-size: 14px;
		color: #1c242c;
	}
	.serviceModule.serviceModule_list .serviceModule-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
	}
	.serviceModule.serviceModule_list .serviceModule-description {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 0px;
		flex: 1 1 0;
	}
	.serviceModule.serviceModule_list .serviceModule-headline {
		padding: 8px 15px;
	}
	.serviceModule.serviceModule_list .serviceModule-headline {
		margin-right: auto;
		padding-right: 12px;
	}
	.serviceModule .serviceModule-headline {
		background: #bf9b2e 0 0 no-repeat padding-box;
	}
	.serviceModule .serviceModule-headline {
		padding: 1%;
		margin-top: initial;
	}
	.serviceModule.serviceModule_list .serviceModule-headline {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
	.serviceModule .serviceModule-headline {
		color: #fff;
		font-size: var(--content-big-font);
		min-height: 3rem;
	}  
	.serviceModule-detail h2, .serviceModule-detail li, .serviceModule-detail p {
		font-weight: 500;
		font-size: var(--content-big-font);
		letter-spacing: 0;
		color: #707070;
	}
	.serviceModule.serviceModule_list .serviceModule-detail {
		padding-top: 13px;
		padding-bottom: 20px;
		border-top: solid 1px #ccd0d4;
		margin-top: 11px;
	} 
	.mypotentialpp_showdow{
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 13px 20px #00000029;
		border-radius: 10px;
		padding: 20px 10px;
		text-align: center;
		margin: 10px 0px;
	}
	.mypotentialpp_showdow a{
		color: #00a6be;
		font-weight: 600;
	}
	.mypotentialpp_showdow a:hover{
		color: #00a6be;
	}
	hr.mypotentialOpp_hr_hor{
		width:96%;margin: 25px auto;border-width: 2px;
	}
} 
@media only screen and (min-width: 320px) and (max-width: 768px) {
	.page-potential-opportunity .page-content-position .misaComment .comment_misa_message_image {
		position: relative;
		top: 0;
	}
	.page-potential-opportunity .page-content-position .comment_box_message .misaComment {
		width: 90%;
	}
	.page-potential-opportunity .page-content-position .comment_box_message .customerComment {
		width: 90%;
	}
	.page-potential-opportunity .comment_box_form{
		width: 100%;   
		height: 300px; 
	}
}
/**25-02-2022**/
.document_padd_wid100{
	padding: 8px 40px;
	width: 100%;
}
.btn_Upload_Documents_height{
	height: 64px;
}  
.searchInputBox-input {
	font-size: 12px;
} 
.page-appointment-create .formInputBox .formInputBox-append {
	position: relative;
	top: 0px;
}
.select2-container .select2-selection--single .select2-selection__rendered { 
    max-width: 85%;
}

.page-potential-opportunity #contactTicketForm .formInputFile .form-control{
	width: 100% !important;
	border-radius: 113px;
}
/***My Service Request***/
.page-service-request .Back_to_Dashboardss .potential_svg_arrow4{width:10px!important;height:17px!important}
.page-service-request .Back_to_Dashboardss .potential_svg_arrow4{-webkit-transform:rotateX(181deg)!important;transform:rotateX(181deg)!important;}
.page-service-request .Back_to_Dashboardss a:hover svg.potential_svg_arrow4 path{fill: #fff !important;}
.page-service-request .Back_to_Dashboardss a.btn.btn_leftIconLink.btn_darkLink:hover {color:#fff!important;background-color: #00a6be !important;} 
.page-service-request .Back_to_Dashboardss a.btn.btn_leftIconLink.btn_darkLink{padding: 15px 20px !important; width:100% !important;}
.page-service-request .formInputBox .description.form-control{height: 286px !important;border-radius: 25px;}
.page-service-request .formSelectBox .select2.select2-container.select2-container--disabled+.control-label { top: -18px!important;}
.page-service-request .formSelectBox .select2.select2-container.select2-container--disabled.select2Container_selected+.control-label, 
.page-service-request .formSelectBox .select2.select2-container.select2-container--focus+.control-label, .formSelectBox .select2.select2-container.select2-container--open+.control-label, 
.page-service-request .formSelectBox .select2.select2-container.select2Container_selected+.control-label{font-size: 16px;}
.page-service-request .select2.select2-container.select2.select2-container--disabled { margin-top: 0px !important;}


/***07-03-2022***/
@media only screen and (min-device-width : 768px) and (max-device-width : 990px){
	.page-potential-opportunity .page-content-position .btn{
		height: 64px;
	}  
	.page-service-request .btn.btn-block.btn-primary.positive.adv_search_button.w-25{
		width: auto;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px){
	.page-potential-opportunity .page-content-position .btn{ 
		margin: 10px auto;
	}  
	#contactTicketForm .formInputFile .col-sm-6{
		text-align: center;
	}
	.page-potential-opportunity .serviceModule.serviceModule_list.mx-5{
		margin-right: 1rem!important;
		margin-left: 1rem!important;
	}
	.page-potential-opportunity .page-content-position .btn_cancel_whitess{
		margin-left: 10px;
    	margin-right: 10px;
	}
	.page-service-request .btn.btn-block.btn-primary.positive.adv_search_button.w-25{
		width: 75%;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 450px){
	.page-potential-opportunity .potentialOpportunityChatBox .serviceModule-description .btn-dashboard{
		width: 75%;
    	margin: 0px auto;
	}
}