
.mainSection-headline{
    text-align: center;
	font-weight: normal;
	font-size: 45px;
    letter-spacing: 0px;
    color: @color-golden;
    text-transform: uppercase;
    opacity: 1;
    width: 100%;
}
.service-time{
    justify-content: flex-end;
}
// .btn:hover:not([disabled]), .btn[hover]:not([disabled]) {
//     color: @color-white !important;
//     background-color: @color-primary !important;
//     border-color: @color-primary !important;
//   }
.btn{
    text-transform: uppercase !important;
    cursor: pointer;
}
.btn:hover{
    color: @color-white !important;
    background-color: @color-primary !important;
}

.image-pos{
    margin-right: 40px;
    margin-top: -20px;
}
.service-wrapper{
	background: @color-white 0% 0% no-repeat padding-box;
    box-shadow: 0px 18px 36px #00000029;
    border-radius: @border-radius;
    opacity: 1;

    img{
        display: flex;
        margin: auto;
    }

    span.licensing-heading{
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 0px;
        color: #8C8B8B;
        text-transform: uppercase;
        justify-content: center;
        display: flex;
        min-height: 8rem;
        opacity: 1;
        margin-top: 12%;
    }

    .nav-link::after{
        content: "+";
        position: absolute;
        left: 45%;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        color: @color-primary;
        font-size: 42px;
        font-weight: 600;
        display: flex;
        bottom: -20px;
        background: @color-white 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #0000007d;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .nav-link{
        .service-icon-1{
            display: block;
        }
        .service-icon-2{
            display: none;
        }
    }

    .nav-link.active:after{
        content: "-";
        position: absolute;
        background: @color-primary 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #0000007d;
        color: @color-white;
    }
    .nav-link.active{
        border: 1px solid @color-primary;
        border-radius: @border-radius;

        span{
            color:@color-primary;
        }
        .service-icon-2{
            display: block;
        }
        .service-icon-1{
            display: none;
        }
    }
}

.serviceModule{
    .serviceModule-headline{
        background: @color-golden 0% 0% no-repeat padding-box;
        color: @color-white;
        padding: 1%;
        margin-top: initial;
        font-size: 20px;
        min-height: 3rem;
    }
    .serviceModule-detail{
        border-top: solid 1px @color-golden !important;
        margin-top: initial !important;
        width: 95%;
        // margin: 3%;
    }
    .serviceModule-request a.request-service{
        font-size: 16px;
        font-weight: 600;
        width:34%;
        height: 50px;
        border-radius: @border-radius;
        width: 195px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @color-white;
        color: @color-primary;
        border: 1px solid @color-primary;
        text-decoration: none;
    }
}
.service-wrapper-selected{
    border: 1px solid @color-primary;
    color:@color-primary;
}
.service-details-wrapper{
	background: @color-white 0% 0% no-repeat padding-box;
	box-shadow: 0px 30px 75px #00000029;
	border: 1px solid @color-primary;
	border-radius: @border-radius;
}
.service-details-wrapper p{
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	letter-spacing: 0px;
	color: @color-text;
}
.serviceModule-detail {
    p,li,h2{
        text-align: left;
        font-weight:500;
        font-size: 20px;
        letter-spacing: 0px;
        color: @color-text;
    }
    ol{
        padding-left: 1.5rem;
    }
}
.service-para{
    text-align: center !important;
    margin-top: 30px !important;
    font-size: 25px !important;
}
.serviceModule-request{
	display: flex;
	float: right;
}
.mobile_services {
	display: none;
}
.btn{
    height: 50px;
    width: 195px;
    // svg path{
    //     fill: @color-primary;
    // }
}
.btn_greenLink{
    color:@color-primary !important;
}
.btn.btn-secondary:hover,.btn-outline.btn-simulator:hover{
    color: @color-primary !important;
}
.btn.btn-primary:hover,.btn.newAmendmentBtn:hover,.btn.btn_slim:hover{
    color: @color-white;
    background-color: @color-primary;
}
.btn_slim{
    // font-size: 16px !important;
    // font-weight: 500 !important;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-decoration: none !important;
}
.iconElement.iconElement_closeBack{
    color: @color-white;
}
.service-wrapper-info{
    width: 90%;
    // margin: auto;

    .mainSection_narrow{
        max-width: 100% !important;
    }
}
.service-wrapper-info .service-request{
    overflow: hidden;
    .formSelectBox .select2.select2-container.select2Container_selected+.control-label{
        top: -11px !important;
    }
    .select2.select2-container.select2.select2-container--disabled{
        margin-top: 0px;
    }
    .expandableContent.expandableContent_upLg.expanded{
        display: block;
    }
    .expandableContent.expanded .expandableContent-main{
        width: 100%;
    }
    .expandableContent-main .js-panelTabs{
        > .panelTabs-navigation{
            display: block !important;
        }
        > .panelTabs-content{
            border:1px solid @color-primary;
            padding-top: 0px !important;
        }
        .panelTabs-body .contentModule-actions_spaceBetween{
            justify-content: end !important;
        }
    }
}

.mainSection,.modal-dialog_businessActivities{
    .expandableContent.expanded{
        display: flex !important;

        .expandableContent-aside{
            width: 30%;
        }
    }
    .dlList_separated dt{
        border-bottom:none;
    }
    .searchInputBox{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 30px;
        height: 45px;
    }
    .searchInputBox-input::placeholder{
        text-align: right;
        color: @color-primary;
    }
    .historyList-id{
        font-size: 20px;
        color: @color-primary;
    }
    .contentModule{
        .dlList.dlList_separated{
            border-left: none;
        }
        .historyList-date,.dlList.dlList_separated dt{
            font-size: 14px;
            // padding-left: 50px;
            padding-bottom: 10px !important; 
            color: @color-text;
        }
        .statusBox-info{
            margin-right: 10px;
        }
        .statusBox-details{
            a{color: @color-primary;}
        }
    }
    
    .renewal-services{
        display: flex;
        // a{
        //     width: 300px !important;
        // }
        #renewalButtons{
            display: contents;
            font-size: 20px !important;
        }
    }
    .contentModule-actions_spaceBetween{
        margin-top: 0px;
    }
    #srID,.srId{
        color: @color-golden;
        font-size: 30px;
    }
    #currentStatus{
        font-weight: 500;
        font-size: 20px;
        color: @color-text;
    }
}
.contentModule-actions .contentModule-headline{
    max-width: 70%;
}
.contentModule-headline-service-info{
    background: none !important;
    color: @color-text;
    text-align: left !important;
}
.contentModule-headline, .contentModule-headline-service-info{        
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
}
// .contentModule-headline{        
//     background: none;       
// }
.contentModule-headline-history{
    color: @color-golden !important;
    text-align: left;
    font-size: 30px !important;
    font-weight: 500;
    background: none !important;
    text-transform: uppercase !important;
}
.historyList-item_current{
    background: #E7FCFF 0% 0% no-repeat padding-box;
}
.search-history-services{
    ::-webkit-input-placeholder { text-align:right; }
    :-moz-placeholder { text-align:right; }
}
.cursor-pointer{
    cursor: pointer;
}
.bg-white{
    background-color: @color-white !important;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: initial;
}
.back_to_profile{
    width: 390px !important;
}

.back_to_service {
    width: 300px !important;
    svg{
        transform: scaleX(-1);
    }
}
.back_to_service:hover,.back_to_profile:hover{
    background-color: @color-white !important;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #0097A9;
}

.historyList-status_E0012, .historyList-status_inprocess, .historyList-status_process{
    font-size: 16px;
}
.baModule-headline span{
    font-size: 20px;
}
.baModule-search{
    .searchInputBox:before{
        background: transparent url(../../common/images/Infrastructures_and_Logistics/search.png) center !important;
    }
}
.modal-dialog_businessActivities{
    #nextButton{
        background-color:@color-primary;
    }

}
.amend-btns-list{
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 0px;
    button.btn.btn_round{
        width: 300px !important;
    }
}
.amend-service-link{
    display: flex;
    width: 80%;
    justify-content: flex-start;
}
.btn-drafts_list{
    display: flex;
    width: 100%;
    > button{
        margin-right: 4%;
    }
}

// .contentModule-headline{
//     background: @color-golden 0% 0% no-repeat padding-box;
//     color: @color-white;
//     padding: 1%;
//     margin-top: initial;
//     font-size: 20px;
//     min-height: 3rem;
// }

.mainSection_dark{
    background-color: @color-white;
}

.dataTables_wrapper{
    margin-top: 20px;
}

// .stepModule-icon.stepModule-icon_normal,.headline-text{
//     svg {
//         path{
//             fill: @color-primary;
//         }
//     }
// }
.stepModule-item.active{
    background-image: radial-gradient(circle at 44% 41%,@color-primary,@color-primary 74%,@color-primary) !important;
    box-shadow: 0 15px 20px 0 #9fdce5;
}
.stepModule-item.active:after{
    border-left-color:@color-primary;
}
.contentModule-actions{
    .formCheckBox{
        margin-left: 10px !important;
        .control-label span{
            width: 24px;
            height: 24px;
            top: 2px !important;
            left: -12px;
        }
    }
}
.headline-text{
    // color: @color-white !important;
    color: @color-text !important;
    text-align: left !important;
    background:none !important;
    font-size: 30px !important;
    text-transform: uppercase !important;
    span{
        font-size: 30px !important;
        text-transform: uppercase !important;
    }
}

.mainSection-linkActions_flexend{
    justify-content: flex-end;
}

.services-container-tabcontent{
    .accordion-item{
        margin: auto;
        justify-content: center;
        width: 90%;
        .accordion-button{
            border: none;   
            cursor: pointer;
            width: 100%;        
                background: @color-primary 0% 0% no-repeat padding-box;
                border: 1px solid @color-primary;
                margin: auto;
                height: 100px;
                display: flex;
                align-items: center;
                >img.services-category-img.icon-1{
                    display: none;
                }
                >img.services-category-img.icon-2{
                    display: block;
                }
                h5{
                    color: @color-white;
                    font-size: 24px;
                    font-weight: 600;
                    text-align: left;
                    width: 93%;
                }   
            .plus-minus-icon{
                width: 7%;
            }
            .plus-minus-icon::after{
                content: url(../../common/images/dashboard-media/minus-icons.png);
            }
        }
        .accordion-button::after{
            transform: translate(0px, -100%);            
        }
        .accordion-button.collapsed{
            width: 100%;
                background: @color-white 0% 0% no-repeat padding-box;
                border: 1px solid @color-primary;
                margin-bottom: 10px;
                >img.services-category-img.icon-1{
                    display: block;
                }
                >img.services-category-img.icon-2{
                    display: none;
                }
                h5{
                    color: @color-primary;
                }
            .plus-minus-icon::after{
                content: url(../../common/images/dashboard-media/plus-icons.png);
            }
            
        }
        .collapse{
            margin: auto;
            background: #F6F6F6 0% 0% no-repeat padding-box;
            border: 1px solid @color-primary;
            .accordion-body{
                width: 90%;
                margin: auto;
                .serviceModule-detail{
                    width: 100%;
                }
            }
        }
    }
    .service_tab_pane_show{
        width: 92%;
    }
}


.page-financial{
    .panelTabs_tip_right .panelTabs-navigation .tabs-list li a:after{
        display: none !important;
    }
}
.financial-statement-details{
    .panelTabs-navigation{
        margin-left: 0px;
        margin-right: 0px;
        background: none;

        ul li{
            padding-bottom: 0px;
            .panelTabs-label{
                margin: auto;
            }
        }        
    }
    .panelTabs_withHistory .panelTabs-content{
        padding-top: 0px !important;
    }
    .panelTabs_withHistory .panelTabs-navigation .tabs-list li{
        padding-bottom: 0px !important;
    }
}
.panelModule_noRadius{
    border-radius: none !important;
    background: @color-white 0% 0% no-repeat padding-box;
    border: 1px solid @color-primary;
}
.headline-background-wrapper{
    border-bottom: 1px solid @color-golden;
    width:100% !important
}
.headline-background{
    background: @color-golden 0% 0% no-repeat padding-box;
    color: @color-white;
    padding: 1%;
    margin-top: initial;
    font-size: 20px;
    min-height: 3rem;
    margin:0px !important;
}
.headline-golden{
    font-size: 20px !important;
    font-weight: 600 !important;
    letter-spacing: 0px !important;
    text-transform: uppercase !important;
    color:@color-golden !important;
    padding-bottom: 6px !important;
    line-height: 1.5 !important;
}
.text-golden{
    color:@color-golden !important;
}
.text-primary-color{
    color:@color-primary !important;
}

.headline-text-dark{
    color:@color-text !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
}

.financialStatement,.page-license-amend {
    .panelTabs-navigation{
        width: 100% !important;
        max-width: 100% !important;
        margin: auto !important;
        padding: initial !important;
        ul.tabs-list{
            width: 100%;
            li.first{
                padding-left: 0px;
                padding-right: 20px;
            }
            li.last{
                padding-left: 20px;
                padding-right: 0px;
            }
        }
    }
}
.page-license-amend{
    .panelTabs_noPanelInBody .panelTabs-navigation .tabs-list{
        max-width: initial !important
    }
    .panelTabs_separated .panelTabs-navigation .tabs-list{
        width: ~"calc(100% + 10px)";
        margin-right: 0px !important;
    }
    .panelTabs_separated .panelTabs-navigation{ 
        .tabs-list li{
            padding-left: 10px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            a{
                justify-content: center;
                display: block;
            }
        }        
    }
    .panelTabs_noPanelInBody .panelTabs-content{
        width: 100% !important;
        max-width: 100% !important;
        border: 1px solid #00a6be;
        padding: 30px;
    }

}
.amend-shareholder-wrapper{
    .formRadioBox{
        .control-label{
            border: 1px solid #00A6BE;
            border-radius: 27px;
            width: 260px;
        }
    }
}
.link{
    color: @color-primary !important;
}

.full-width{
    width: 100% !important;
    max-width: 100% !important;
    // margin: auto !important;
    // padding: initial !important;
}



.tableModule{
    .tableModule-head{
        th{
            background: #F7F7F7 0% 0% no-repeat padding-box;
            border: 1px solid #EDEDED;
            text-align: left;
            font-size:20px;
            font-weight:600;
            letter-spacing: 0px;
            color: #707070;
        }
    }
    .tableModule-body{
        td{
            text-align: left;
            letter-spacing: 0px;
            color: #707070;
            font-size: 20px;
        }
    }
}
.formInputBox .form-control:placeholder-shown+.control-label,
.formInputFile .form-control+.control-label, 
.formSelectBox .control-label, 
.formSelectBox .select2.select2-container--disabled+.control-label{
    font-size: 14px;
}
.formInputBox .control-label,
.formTextArea .control-label,
.formSelectBox .select2.select2-container.select2Container_selected+.control-label{
    top: -18px;
    font-weight: 500;
}
.formInputBox .form-control ~.register-form label.focused,.formTextArea .form-control,.formRadioButton .control-label{
    letter-spacing: 0px;
    color: #707070;
    font-size: 20px;
    padding-left: 30px;
}
button.btn.btn_link.btn-edit-branch:hover,.btn.editShareholderBtn:hover,button.editButton:hover,button.removeButton:hover,.no_background:hover{
    background: none !important;
}
.govt-doc-edit.modal-dialog{
    max-width: 50%;
}
.services-category-img{
    margin-right: 20px !important;
    margin-left: 10px !important;
}

.btn-tooltip,.btn-tooltip:hover{
    background-color: @color-primary !important;
    color: @color-white !important;
}
.btn-tooltip{
    display: inline-table !important;
    width: 400px;
    font-size: 15px !important;
}
.tooltip.show{
    // >.tooltip-inner.delegateToolTip{
        z-index: 99999;
    // }
    p{
        margin: 10px;
        color: @color-text;
        font-size: 16px;
    }
}
.deligate-info-form{
    .control-label{
        width: 100px;
        border-radius: @border-radius;
    }
}
.dashboard-service-wrapper{
    height: 350px;
    background: @color-white 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 75px #00000029;
    border: 1px solid @color-primary;
    border-radius: 40px;
    .content-wrapper{
        transform: translate(0%, 50%);
        .INS_letter_set_para{
            font-size: 25px;
            text-align: center;
        }
        >button{
            margin: auto;
            width: 175px;
        }
    }
}
.sagiaNavigation-services{
    .service-wrapper{
        .nav-link{
            .INS_EPM_border_set{
                padding: 30px;
            }
        }
    }
}
#service-tab{
    display: block !important;
}
.btn_history{
    background: none;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn_darkLink:focus, .btn_darkLink:hover{
    color: @color-primary !important;
}
.select2-results__options{
    display: table-row;
}
.stepModule{
    .stepModule-item{
        border-radius: 8px 8px 0 0;
    }
    .stepModule-item:after{
        display: none;
    }
}
.statusBox-description{
    font-size: 20px !important;
}
.service-info-anchor{
    >a{
        border-radius: 25px!important;
        border: 1px solid #00a6be!important;
        padding: 10px 60px!important;
        cursor: pointer;
        background-color: #fff;
        display: inline-block;
        font-size: 20px !important;
        color: @color-primary !important;
        text-decoration: none;
    }
}
.shadow-none{
    box-shadow: none !important;
}
.contentModule-wrap{
    .contentModule-section{
        display: flex;
        flex: 1 1 0;
        flex-wrap: wrap;
        -webkit-box-flex: 1;
    }
    .contentModule-headline{
        margin-right: auto;
        padding: 1.5%;
        margin-top: initial;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        padding-right: 12px;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: auto;
        height: auto;
    }
    .contentModule-headline-border{
        border-top: 1px solid @color-golden!important;
        margin-top: initial;
        width: 100%;
    }
}
@media (min-width: 1200px) {
	.container{
		max-width: 1320px !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height:1366px) and (max-height:1366px) { /*ipad pro*/
	.mainSection_grey{
		height: 34vh;
		overflow-y: auto;
	}
}
@media (max-width: 991px) {
	.desktop_services {
		display: none;
	}
	.mobile_services {
		display: block;
		width: 100%;
	}
	.service-wrapper > span{
		min-height: 5rem;
	}
	.service-wrapper{
		margin-bottom: 8%;
	}
    .service-wrapper .nav-link::after{
        bottom: 28px;
    }
    .services-container-tabcontent{
        .accordion-item{
            .accordion-button{
                    height: auto !important;
            }
        }        
    }
    .mainSection .expandableContent.expanded .expandableContent-aside{
        width: 100%;
    }
    .renewal-services{
        // display: block;
        >div{
            margin-bottom: 10px;
        }
        .mainSection-linkActions_right{
            justify-content:flex-start;
        }
    }
    .amend-service-link{
        display: block !important;
        button{
            width: 300px;
            margin-bottom: 10px;
        }
    }
    .service-main.mainSection{
        .expandableContent.expanded{
            display: block !important;
        }
        .expandableContent.expanded .expandableContent-main{
            width: 100%;
        }
    }
    .full-width-responsive{
        width: 100% !important;
        max-width: 100% !important;
    }
    .govt-doc-edit.modal-dialog{
        max-width: 100% !important;
    }
    .amend-service-link{
        width: 100%;
        .btn-drafts_list{
            display: block;
        }
    }
    .amend-ddl-list{
        .panelTabs-label{
            min-height: 3vh;
        }
    }
    .amend-btns-list{
        display: block;
    }
    .mob-heading-responsive{
        display: inline-table;
    }

    .dashboard-service-wrapper {
        .content-wrapper{
            transform: translate(0,20%);
        }
    }
    
}
.btn_slim{
    // font-size: 20px!important;
    font-weight: 600!important;
}

@media (max-width:1000px) {
    .serviceModule .serviceModule-detail{
        width: 100%;
    }
    
}

@media (max-width: 640px){
    .service-wrapper .nav-link::after {
        bottom: 6px;
    }
    .services-container-tabcontent{
        .accordion-item{
            .accordion-button{
                .plus-minus-icon{
                    width: 10%;
                }
            }

        }
    }
    .dashboard-service-wrapper{
        height: 500px;
    }
    
}


.payment-detail-overview-btn{
    width: 375px !important;
}
.editProductBtn:hover,.deleteDropdown-btn:hover,.viewBranchBtn:hover{
    background: none !important;
}
.dataTables_filter.searchInputBox{
    margin-bottom: 20px;
    width: 25%;
    float: right;
}

.dashboard-detail-text{
    font-size: 18px!important;
    font-weight: 500;
    color:@color-primary;
}

.tooltip-inner{
    color:@color-text !important;
}

.modal-ticket-wrapper{
    width: 800px !important;
}


.global-message-position{
    .global-alerts{
        position: absolute;
        top: 530px;
        transform: translate(-50%,0%);
        left: 50%;
    }
    .global-alerts + .page-content-position .js-panelTabs,
    .global-alerts + .page-content-position  .mainSection:nth-of-type(2n)
    {
        margin-top: 80px
    }
}
.page-dashboard-without-license{
    .global-message-position{
        .global-alerts{
            top: 932px;
        }
    }
}
.select2-selection__rendered{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dlList dd{
    padding-left: 20px;
}


.amend-doc-submit{
    max-width: 600px !important;
    #amendmentTypeId{
        font-size: 30px;
        color: @color-golden;
        text-align: center;
    }
    .panelModule{
        padding: 32px 65px !important;
    }
    .termsAndConditionsLink a{
        color: @color-primary !important;
    }
}


.potential-opportunities{
    .tableModule{
        overflow-y: scroll;
    }
    .dashboardWidgetTickets-table{
        max-height: 400px;

        .tableModule-head{
            position: sticky;
            top: 0;
            z-index: 999;
        }
        .tableModule-body{
            &::-webkit-scrollbar {
                width: 6px;
                background: #fff;
                border-radius: 12px;
            }
            
            &::-webkit-scrollbar-thumb {
                background: @color-primary;
                border-radius: 12px;
            }
        }
    }
}

.page-verification{
    .global-message-position .global-alerts{
        top:0px !important;
    }
}

.btn-renewal{
    padding-top: 10px;
    font-weight: 600!important;
    justify-content: center!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    text-decoration: none!important;
}

.govt-service-label-span{
    span{
        font-size: var(--label-font);
    }
}

.no-notification-icon{
    svg{
        width: 200px;
        height: 50px;
    }
}

ul.footer-menu{
    li>a[title="Explore More"]{
        color: @color-blue-dark;
    }
}

#instantRenewal{
    .modal-content{
        width: 700px;
    }
    .modal-header{
        padding: 40px 60px 20px;
    }
    .documentModule{
        border-top:0px;
        padding-top: 0px;
    }
}

.dashboardWidget-pictureSet{
    display: none;
}








.contentModule-headline,  .page-shareholder-apply #addShareholderQM1NewPersonSection #attachmentSection .mw0 {
    padding: 0 30px !important;
	width:auto !important;
	display: inline-block;
}

#nicVerifyBtnSection a, .contentModule-actions_insideSection a {
    color: #fff;
    padding: 14px 20px !important;
}
a.btn:not([href]):not([tabindex]) {
    color: #7b838c;
	text-align: inherit !important;
}
label~#registerQuickSelectLanguageDiv label {
    left: 10px!important;
}


body ::-webkit-scrollbar-thumb {
    background-color: darkgray;
}
#delegateDivSection{
    a.btn.delegate-entity{
        color: @color-primary !important;
    }
}
#licenseTypeSection{
    a.btn.js-tip,a.btn.js-tip:hover{
        color: @color-primary !important;
    }
}

.formInputBox textarea.form-control{
    border-radius: 40px;
}
.amnend-select-b-activities,.amnend-select-b-activities:hover{
    color:#fff !important;
}
#shareholderInheritedPropertyId:disabled{
    opacity: 0;
}