.link {
	cursor: pointer;	
	color: @color-primary;
	font-size: 14px;
	
	&:focus,
	&:active,
	&:hover {
		outline: none;
		color: darken(@color-primary, 10%);
		text-decoration: none;
	}
	
	&_nowrap {
		white-space: nowrap;
	}
}

a {
	color: @color-primary;
	&:focus,
	&:active,
	&:hover {
		outline: none;
		color: darken(@color-primary, 10%);
		text-decoration: none;
	}	
}


.termsAndConditionsLink {
	white-space: nowrap;
}