@import url("owlcarousel/owl.carousel.min.css");

/* Font family */

@font-face {
    font-family: 'TheSans';
    src: url('../fonts/TheSans-Plain.ttf');
    src: url('../fonts/TheSans-Plain.eot'), url('../fonts/TheSans-Plain.woff') format('woff'), url('../fonts/TheSans-Plain.svg') format('svg');
}

@font-face {
    font-family: 'TheSansB6SemiBold';
    src: url('../fonts/TheSansB6SemiBold.eot');
    src: url('../fonts/TheSansB6SemiBold.ttf'), url('../fonts/TheSansB6SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'TheSanSemiBold';
    src: url('../fonts/TheSansB6SemiBold.eot');
    src: url('../fonts/TheSansB6SemiBold.ttf'), url('../fonts/TheSansB6SemiBold.woff2') format('woff2');
}

body.page-login,
body.page-login-second-step {
    /* font-family: "TheSans"; */
}
.globalMessage-action a.btn_round {
 /*   color: #fff; */
}
.sagiaHead{
	z-index:99999 !important;
}
#termsAndConditionsResponseApplyModal{
	z-index:99999;
}
#eServiceTour{
	z-index:99999;
}
#sagiaRegisterFormQuickRegistration .select2.select2-container
{
z-index: 0;
}
#errorResponseModal{
	z-index:99999 !important;
}
#requestSubmittedApply{
	z-index:99999;
}
#logoutModal{
	z-index:99999;
}
#licenseApplicationPayment{
	z-index:99999;
}
#creditCardPayment{
	z-index:99999;
}
#termsAndConditionsResponseApplyModal > .modal-dialog.modal-dialog-centered{
	min-width:85%;
}
#businessActivitiesModal{
	z-index:99999;
}
#businessActivitiesModal > .modal-dialog.modal-dialog-centered{
	min-width:82%;
}
#typeRequirementModal{
	z-index:999999;
}
#typeRequirementModal > .modal-dialog.modal-dialog-centered{
	min-width:65%;
}

#termsAndConditionsResponseModal{
	z-index:99999;
}
#termsAndConditionsResponseModal > .modal-dialog.modal-dialog-centered{
	min-width:70%;
}

#instantRenewal{
	z-index:99999;
}

#shareholderModalId{
	z-index:99999;
}
#shareholderModalId > #shareholderFormId > .modal-dialog.modal-dialog-centered{
	min-width:65%;
}

#branchModalId,#docsmodalId{
	z-index:99999;
}

#branchModalId > .modal-dialog.modal-dialog-centered{
	min-width:60%;
}


#productModalId{
	z-index:99999;
}

#productModalId > .modal-dialog.modal-dialog-centered{
	min-width:60%;
}



.page-license-renew.modal-open .select2-container--open.select2-container,
.page-license-amend.modal-open .select2-container--open.select2-container{
	z-index:999999;
}


#registerForm .form_field_error {
  width:auto;
  float: none;
  padding-right:0;
  clear:both;
}

.js-recaptcha-captchaaddon {
  /* margin: 20px 0; */
  margin: 10px 0 0 10px;

}

#g-recaptcha_incorrect {
  color: red;
  display: none;
}

[dir="ltr"] #lblErrorCaptcha{
	float: left;    margin-bottom: 25px;
}
[dir="rtl"] #lblErrorCaptcha{
	float: right;    margin-bottom: 25px;
}
.mandatory {
	color: #FF0000;
	padding-left: 5px;
}
/* Amenda license page */
[dir="ltr"] .page-license-amend .form-control+.control-label+.formInputBox-append {margin-left: -65px;}
[dir="rtl"] .page-license-amend .form-control+.control-label+.formInputBox-append {margin-right: -114px;}
.page-license-amend .formSelectBox .form-group label{top: -20px;}
[dir="ltr"] .page-license-amend #shareholderModalId .modal-content .modal-title{text-align: left;}
.page-license-amend #docsmodalId .modal-dialog.modal-dialog-centered{min-width:40%;}
.page-license-amend #docsmodalId  .modal-title{color: #bf9b2e;text-transform: uppercase;}
.page-license-amend .deleteDropdown-drop{
	margin: 0;
    padding: 0;
    box-shadow: none;
    background: none;
}
.page-license-amend .select2-dropdown_oneColumn_hasFilter.select2-dropdown--above .select2-search,
.page-license-amend .select2-dropdown_oneColumn_hasFilter.select2-dropdown--below .select2-search{
border: 1px solid #f2f2f2;
background-color: #fff;
top: 0;
bottom: initial;
margin: 0;
width: 100%;
position: relative;
}
.page-license-amend .select2-dropdown_hasSearch.select2-dropdown--above .select2-search,
.page-license-amend .select2-dropdown_hasSearch.select2-dropdown--below .select2-search{
border: 1px solid #f2f2f2;
background-color: #fff;
color: red;
top: 0;
bottom: initial;
margin: 0;
width: 100%;
position: relative;
}
.page-license-amend .select2-dropdown_hasSearch{
	padding: 0 !important;
}
.page-license-amend .select2-dropdown_hasSearch .select2-search{height: 38px;}
.page-license-amend .select2-dropdown_hasSearch .select2-results__option{padding: 10px;}
.page-license-amend .select2-dropdown_hasSearch .select2-search:before,
.page-license-amend .select2-dropdown_hasSearch .select2-search:after{
	display: none;
}
.page-license-amend .deligate-info-form .form-item{padding: 0;}
[dir="ltr"] .page-license-amend .delegate-info-popover{text-align: left;}
[dir="rtl"] .page-license-amend .delegate-info-popover{text-align: right;}
@media (max-width: 640px) and (min-width: 100px){
	.page-license-amend .contentModule-mob-btns button.btn{width: 44%;}
	.page-license-amend #businessActivitiesModal .modal-header .modal-title{font-size: 22px;}
	[dir="rtl"] .page-license-amend #shareholderAddressId .form-control+.control-label+.formInputBox-append {margin-right: -65px;}
	[dir="rtl"] .page-license-amend #branchModalId .form-control+.control-label+.formInputBox-append {margin-right: -65px;}	
	[dir="rtl"] .page-license-amend #shareholderModalId .form-control+.control-label+.formInputBox-append {margin-right: -65px;}
	.page-license-amend #shareholderModalId #shareholderNewExistingTypeId .formRadioBox .form-item,
	.page-license-amend #shareholderModalId #shareholderPersonEntityTypeId .formRadioBox .form-item
	{padding: 0;display: block;width: 50%;height: 35px;}
	.page-license-amend .amend-shareholder-wrapper .formRadioBox .control-label {width: 150px;font-size: 12px !important;}
	.page-license-amend #shareholderModalId .contentModule-actions button.btn,
	.page-license-amend #branchModalId .contentModule-actions button.btn,
	.page-license-amend #productModalId .contentModule-actions button.btn,
	.page-license-amend #docsmodalId .contentModule-actions button.btn
	{ 	height: 50px;
		width: 150px
	}
	[dir="ltr"] .page-license-amend #shareholderModalId #entityBasicInformation2 .formCheckBox{text-align: left;}
	[dir="rtl"] .page-license-amend #shareholderModalId #entityBasicInformation2 .formCheckBox{text-align: right;}
	.page-license-amend #shareholderModalId #delegateDivSection .btn-tooltip{white-space: initial;}
	.page-license-amend #docsmodalId  .modal-title{font-size: 25px;}
	.page-license-amend .deligate-info-form .form-item .control-label{margin: 0 2px;}
}
@media (max-width: 991px) and (min-width: 641px){
	.page-license-amend #shareholderModalId .panelModule,
	.page-license-amend #branchModalId .panelModule,
	.page-license-amend #productModalId .panelModule,
	.page-license-amend #docsmodalId .panelModule
	{padding: 30px}
	.page-license-amend .amend-shareholder-wrapper .formRadioBox .control-label {width: 170px}
	[dir="ltr"] .page-license-amend #shareholderModalId #entityBasicInformation2 .formCheckBox{text-align: left;}
	[dir="rtl"] .page-license-amend #shareholderModalId #entityBasicInformation2 .formCheckBox{text-align: right;}
	.page-license-amend #shareholderModalId .contentModule-actions button.btn,
	.page-license-amend #branchModalId .contentModule-actions button.btn,
	.page-license-amend #productModalId .contentModule-actions button.btn,
	.page-license-amend #docsmodalId .contentModule-actions button.btn
	{ 	height: 50px;
		width: 178px
	}
	.page-license-amend .deligate-info-form .form-item .control-label{margin: 0 2px;}
}
@media (max-width: 1024px) and (min-width: 768px){
	.page-license-amend .amend-shareholder-wrapper .formRadioBox .control-label {width: 170px}
	.page-license-amend #branchesTableId_filter .searchInputBox-input{width: 100%}
	.page-license-amend #branchesTableId_filter .searchInputBox-input::placeholder{font-size: 16px;text-align: left;}
}
@media (max-width: 1180px) and (min-width: 768px){
	.page-license-amend #shareholderModalId .panelModule,.page-license-amend #branchModalId .panelModule,.page-license-amend #productModalId .panelModule,.page-license-amend #docsmodalId .panelModule{padding: 30px}
	.page-license-amend #branchesTableId_filter .searchInputBox-input{width: 100%}
	.page-license-amend #branchesTableId_filter .searchInputBox-input::placeholder{font-size: 16px;text-align: left;}
}
/* End  */

/* Licesing page  */
/* .page-new-license-apply  .page-shareholder-apply  .page-new-apply-contactperson .page-new-apply-review  */
.page-new-license-apply .mainSection.mainSection_loaded,
.page-shareholder-apply .mainSection.mainSection_loaded,
.page-new-apply-contactperson .mainSection.mainSection_loaded,
.page-new-apply-review .mainSection.mainSection_loaded
{padding-bottom: 0px;}
.page-new-license-apply .mainSection.mainSection_narrow,
.page-shareholder-apply .mainSection.mainSection_narrow,
.page-new-apply-contactperson .mainSection.mainSection_narrow,
.page-new-apply-review .mainSection.mainSection_narrow
{display: none;}
.page-new-license-apply .new-js-panelTabs,
.page-shareholder-apply .new-js-panelTabs,
.page-new-apply-contactperson .new-js-panelTabs,
.page-new-apply-review .new-js-panelTabs
{margin: 0 auto;}
.page-new-license-apply .new-js-panelTabs .panelTabs-content,
.page-shareholder-apply .new-js-panelTabs .panelTabs-content,
.page-new-apply-contactperson .new-js-panelTabs .panelTabs-content,
.page-new-apply-review .new-js-panelTabs .panelTabs-content
{padding-top: 0;}
.page-new-license-apply .banner-container h1,
.page-shareholder-apply .banner-container h1,
.page-new-apply-contactperson .banner-container h1,
.page-new-apply-review .banner-container h1
{font-size: 25;line-height: 1.5;}
.page-new-license-apply .contentModule-headline,
.page-shareholder-apply .contentModule-headline,
.page-new-apply-contactperson .contentModule-headline,
.page-new-apply-review .contentModule-headline{ padding: 0 20px !important;}
.page-new-license-apply .formRadioBox-wrapper{padding: 15px 10px;}
.page-new-license-apply #businessActivitiesModal .baList_columns{columns: 3;}
@media (max-width: 640px) and (min-width: 100px){
	
}

/* End */