/* Font family */

@font-face {
    font-family: 'TheSans';
    src: url('../fonts/TheSans-Plain.ttf');
    src: url('../fonts/TheSans-Plain.eot'), url('../fonts/TheSans-Plain.woff') format('woff'), url('../fonts/TheSans-Plain.svg') format('svg');
}

@font-face {
    font-family: 'TheSansB6SemiBold';
    src: url('../fonts/TheSansB6SemiBold.eot');
    src: url('../fonts/TheSansB6SemiBold.ttf'), url('../fonts/TheSansB6SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'TheSanSemiBold';
    src: url('../fonts/TheSansB6SemiBold.eot');
    src: url('../fonts/TheSansB6SemiBold.ttf'), url('../fonts/TheSansB6SemiBold.woff2') format('woff2');
}

body.page-login,
body.page-login-second-step {
    /* font-family: "TheSans"; */
}
.globalMessage-action a.btn_round {
 /*   color: #fff; */
}
.sagiaHead{
	z-index:99999 !important;
}
#termsAndConditionsResponseApplyModal{
	z-index:99999;
}
#eServiceTour{
	z-index:99999;
}
#sagiaRegisterFormQuickRegistration .select2.select2-container
{
z-index: 0;
}
#errorResponseModal{
	z-index:99999 !important;
}
#requestSubmittedApply{
	z-index:99999;
}
#logoutModal{
	z-index:99999;
}
#licenseApplicationPayment{
	z-index:99999;
}
#creditCardPayment{
	z-index:99999;
}
#termsAndConditionsResponseApplyModal > .modal-dialog.modal-dialog-centered{
	min-width:85%;
}
#businessActivitiesModal{
	z-index:99999;
}
#businessActivitiesModal > .modal-dialog.modal-dialog-centered{
	min-width:82%;
}	
#typeRequirementModal{
	z-index:999999;
}
#typeRequirementModal > .modal-dialog.modal-dialog-centered{
	min-width:65%;
}

#termsAndConditionsResponseModal{
	z-index:99999;
}
#termsAndConditionsResponseModal > .modal-dialog.modal-dialog-centered{
	min-width:70%;
}

#instantRenewal{
	z-index:99999;
}

#shareholderModalId{
	z-index:99999;
}
#shareholderModalId > #shareholderFormId > .modal-dialog.modal-dialog-centered{
	min-width:65%;
}

#branchModalId{
	z-index:99999;
}

#branchModalId > .modal-dialog.modal-dialog-centered{
	min-width:60%;
}


#productModalId{
	z-index:99999;
}

#productModalId > .modal-dialog.modal-dialog-centered{
	min-width:60%;
}



.page-license-renew.modal-open .select2-container--open.select2-container,
.page-license-amend.modal-open .select2-container--open.select2-container{
	z-index:999999;
}


#registerForm .form_field_error {
  width:auto;
  float: none;
  padding-right:0;
  clear:both;
}

.js-recaptcha-captchaaddon {
  margin: 20px 0;
  
}

#g-recaptcha_incorrect {
  color: red;
  display: none;
}

[dir="ltr"] #lblErrorCaptcha{
	float: left;
}
[dir="rtl"] #lblErrorCaptcha{
	float: right;
}
.mandatory {
	color: #FF0000;
	padding-left: 5px;
  }

  
.page-dashboard-without-license h1{
    font-size: 45px;
}
.no-license-page .card {
	background: #fff;
	border-radius: 22px;
	display: inline-block;
	height: auto;
	position: relative;
	width: 100%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 10px;
	padding:40px;
  }

  .dashboard-container .globalMessage .globalMessage-msg{
      padding-left: 50px;
  }
  .user-icon{
      display: flex;
      justify-content: right;
      height: 63px;
      margin-top: 15px;
  }
  .card .nav-tabs{
      border-bottom: none;
  }
  .card .nav-tabs li{
      background-color:darkgray ;
      padding: 40px 20px 20px;
      font: normal normal normal 25px/34px TheSans;
  }
  .card .nav-tabs li a, .card .nav-tabs li a:hover{
    color: #7b838c;
    text-decoration: none;
  }
  .card .nav-tabs li.active a, .card .nav-tabs li.active a:hover{
    color: #00A6BE;
    text-decoration: none;
  }
  .card .nav-tabs li.active{
    background-color: #fff;
    padding: 40px 20px 20px;
   
  }
  .dashboard-login{
	  padding: 20px;
  }
  .dashboard-container{
      padding: 0 70px;
  }
  .dashboardUser-entry{
	  padding-left: 8rem;
  }
  .process{
      padding: 0 80px 55px;
  }
  .process-step{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
  }

  .process-card{
	background: #fff;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 150px;
	position: relative;
	width: 150px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 50%;
  }
  .process-card-step{
	  display: flex;
	  text-align: center;
  }
  .process-arrow-icon{
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
   .dashboard-headline{
	padding-bottom: 20px;
    margin-bottom: 25px;
	line-height: 30px;
    color: #BF9B2E;
    text-transform: uppercase;
    display: block;
}
[dir=ltr] .dashboard-sector{
	border-radius: 0;
	padding: 30px 40px;
}
.sectorOppotunities ul{
    display: none;
}
[dir] .tableModule-head th{
	background-color: #cfcfcf;
	color: #000;
	font-weight: bold;
}
.invest-opportunities-block{
	background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.65;
	border-radius: 25px;
    padding: 46px 0;
}
.font-normal{
    font-weight: normal;
    line-height: inherit;
}
.full-width-container{
	margin-left: -15px;
	margin-right: -15px;
}
.clr_gld{
	color: #BF9B2E;
}
.btn-dashboard{
    height: 45px;
    background: #00A6BE 0% 0% no-repeat padding-box !important;
    border-radius: 27px;
    opacity: 1;
}
.btn-primary.btn_outline,.btn.btn_outline:hover:not([disabled]), .btn.btn_outline[hover]:not([disabled]), [dir] .btn.btn_outline:hover:not([disabled]), [dir] .btn.btn_outline[hover]:not([disabled]) {
	color: #00a6be !important;
	border: 1px solid #00a6be;
	background-color: #fff !important;
}
.dashboardUser-heading, .dashboardUser-email{
	color: #7b838c;
}
.Applylicense-icon{
	position: absolute;
    top: -5px;
	left: -40px;
}
.dashboard-heading-title-color{
    color: #025635;
}
.dashboard-paragraph-color{
    color: #707070;
}
.tableModule-head  td + td { border-left:2px solid #cfcfcf; }

/* owl nav */
.owl-carousel .owl-nav{
	height: 47px;
	position: absolute;
	width: 100%;
	cursor: pointer;
    top: 40%;
    display: flex;
    justify-content: space-between;
  }
  
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
  pointer-events: none;
  opacity: 0.2;
  }
  .owl-prev{
      left: 5%;
      position: absolute;
  }
  .owl-next{
      right: 5%;
      position: absolute;
  }
.owl-dots{
    position: absolute;
    display: flex;
    bottom: 10%;
    width: 100%;
    justify-content: center;
}
.owl-dot.active{
    width: 22px;
    height: 22px;
    background: #00A6BE 0% 0% no-repeat padding-box;
    opacity: 1;
}
.owl-dot{
    width: 22px;
    height: 22px;
    border: 2px solid #00A6BE;
    opacity: 1;
    border-radius: 50%;
    margin-right: 10px;
 }
 
 .Inc-fearured-opp{
	height: 390px;
	background: #fff;
	cursor: pointer;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease 0.5s;
	padding: 45px 20px 50px;
	box-shadow: 0px 30px 75px #00000029;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
}
.Inc-fearured-opp-headtitle{
        font-size: 30px;
        color: #646464;
        overflow: hidden;
        max-height: 14rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        height: 4.5rem;
    }

.Inc-fearured-opp-type{
        font-size: 25px;
        color: #BF9B2E;
        text-align: center;
        margin-bottom: 12px;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        padding-bottom: initial !important;
        margin-bottom: 5% !important;
        min-height: 4rem;
    }
.Inc-fearured-opp button.btn {
        margin: 12px 0px;
    } 

.dashboard-pop-up{
    border-radius: 25px;
}
.dashboard-user-add-icon{
    left: 13% !important;
}
[dir=ltr] .dashboardUser-image-add{
    border: none;
    background: transparent;
}

/* ...... No License dashboard ends .........*/
/*--- my appointment CSS starts ----*/
.page-header-image{
	width: 100%;
    height: 36vh;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.banner-container{
	position: absolute;
    bottom: auto;
    top: 30%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner-container h1{
	margin: 0 0 10px 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
.back-to-overview-icon{
	height: 20px;
	margin-right: 10px;
}

.book-appointment-calendar{
	display: flex;
    position: absolute;
    right: 21px;
    top: 27px;
}
.control-label_mandatory:before{
	color: red;
}
.select2.select2-container{
	height: auto;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	overflow: visible;
}

.profile-icons{
	display: flex;
	z-index: 1;
    position: absolute;
    right: 20%;
    bottom: 45%;
}
.profile-icons .calendar{
	background: #00A6BE 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 20px #00000029;
	border: 3px solid #00A6BE;
	opacity: 1;
	border-radius: 50%;
	margin-right: 20px;
	width: 63px;
	height: 63px;
}
.profile-icons .messages{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 20px #00000029;
	border: 3px solid #00A6BE;
	opacity: 1;
	border-radius: 50%;
	margin-right: 20px;
	width: 63px;
	height: 63px;
}
.profile-icons .profile-icon-images{
	margin-top: 15px;
	margin-left: 10px;
}
[dir=ltr] .calendar-control-widget.control-bar-actions{
	border: 1px solid #00A6BE;
	border-radius: 27px;
	opacity: 1;
}
.calendar-control-widget .control-button{
	color: #00A6BE !important;
}
.change-view-month.active{
	background: #00A6BE !important;
	border-radius: 27px;
	opacity: 1;
	color: #fff !important;
}
[dir] .calendar-control-widget.control-bar-actions .control-button{
	padding: 7px 25px 7px;
}
.no-background{
	background-color: none !important;
}
.paginationModule-wrapper{
	justify-content: end;
}
.leftsideshows {
    transform: rotate(180deg);
}
[dir=ltr] .sagiaNavigation-subPane{
	border-radius: 25px;
}
[dir] .notificationList-thumb .iconElement{
	background-color: transparent;
}
.searchInputBox{
	height: auto;
}
/*--- my appointment CSS ends ----*/
/* ---- my messages CSS ----*/
.notificationList-item_unread .notificationList-name{
	color: #00A6BE;
}
.sagia-subPane{
	border-radius: 25px !important;
}
[dir] .notificationList-item:hover{
	background: #E7FCFF;
}
[dir] .searchInputBox:before {
    background: transparent url(../../common/images/Infrastructures_and_Logistics/search.png) center;
	background: transparent url(../../common/images/Infrastructures_and_Logistics/search.png) center;
    background-size: contain;
}
.iconElement{
	background-color: transparent !important;
}
.message-right-arrow{
	width: 13px;
    height: 23px;
}
[dir] .notificationList-link{
	padding-left: 0;
}
.notificationList-item{
	padding: 0 30px;
}
.notificationList-item:first-child{
	background: #E7FCFF;
}
ul.notificationList{
	max-height: initial;
}
.m--30{
	margin: 0 -30px;
}
.expandableContent.expanded .expandableContent-aside{
	width: 100%;
}
.pop-up-modal-width{
	width: 827px;
}
.popup-btn-width{
	width: 321px;
}
/* ---- my messages ends ---*/

/* ---- footer css -- */
.footer-menu-faq {
    background-color: #f8f8f8;
    padding: 10px 0px 45px;
}
.footerContent .f-coll .display-7 {
    font-size: 20px;
    color: #026a37;
    text-align: left;
    line-height: 24px;
    min-height: 4rem;
}
.footerContent .f-coll p.text{
	min-height: 5rem;
}
.footerContent .f-coll .link, .footerContent .f-coll ul li a {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.28px;
    color: #0489a3;
    opacity: 1;
    transition: all 0.4s ease;
}

.footerContent .f-coll p {
    padding-bottom: 0px;
    text-align: left;
}
.footerContent .f-coll p {
    font-size: 14px;
    font-weight: normal;
    color: #4b4b4b;
    text-align: left;
    line-height: 20px;
}
.footer-menu-links {
    padding: 0px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.footer img.footer_logo {
    margin-top: 9px;
}
.footer .footer-menu {
    margin-top: 12px;
}
.footer .footer-menu li:first-child {
    margin-top: 0;
}
.footer .footer-menu li {
    margin-bottom: 1rem;
	list-style-type: none;
}
.footer .footer-menu li a {
    color: #707070;
}
.footer-menu-links .no-gutters :nth-child(3) ul li:nth-child(5) a {
    color: #00a6be;
}
#divSubscList {
    display: none;
    position: absolute;
    width: 95%;
    width: calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    top: 0px;
    left: 15px;
    background: #5CC83B;
    margin: 0;
    padding: 12px 15px 8px;
    z-index: 9;
    text-align: left;
    border-radius: 0 32px;
    -moz-border-radius: 0 32px;
}
#divSubscList a.close-list {
    position: absolute;
    top: 17px;
    right: 20px;
    cursor: pointer;
}
.f-13 {
    font-size: 13px !important;
}
.follow-us {
    text-align: left;
    position: relative;
    display: block;
    font-size: 19px;
    margin-top: 0.6rem;
    margin-bottom: 15px;
    color: #00a6be;
}
.social-links {
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-left: auto;
}
.social-links li {
	display: inline-block;
    float: left;
    margin-right: 8px;
    position: relative;
    width: 28px;
    height: 28px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.copyright {
    width: 100%;
    background-color: #025635;
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    background-color: #025635;
}
.copyright .copyrightText {
    text-align: left;
}
.nav-bottom-footer {
    margin-bottom: 0;
}
.nav-bottom-footer li {
    float: right;
	list-style-type: none;
}
.nav-bottom-footer li a {
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
}
/*-- floating button...*/
.float-button {
    width: 100px;
    height: 100px;
    border-radius: 100px !important;
    box-shadow: 0px 4px 8px #0000003b;
    background-color: #0097a9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 16px;
    text-transform: uppercase;
    bottom: 80px;
    right: 70px;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 9999;
}
.float-button-up {
    bottom: 210px;
    transition: all 0.4s ease;
    background-color: white !important;
    color: #fff !important;
}
.float-button.float-button-up:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    background-image: url(../../common/images/float-close.png);
    width: 26px;
    height: 26px;
    transform: translate(-50%, -50%);
}
.popup {
    width: 100%;
    height: 300px;
    position: fixed;
    bottom: -300px;
    transition: all 0.4s ease;
    opacity: 0;
    z-index: 9;
    left: 0;
}
.popup-up {
    bottom: -41px;
    transition: all 0.4s ease;
    opacity: 1;
}
.footer-popup {
    position: relative;
    background-color: #f8f8f8;
}
.footer-menu-faq {
    background-color: #f8f8f8;
    padding: 10px 0px 45px;
}
.footerContent .f-coll .display-7 {
    font-size: 20px;
    color: #026a37;
    text-align: left;
    line-height: 24px;
    min-height: 4rem;
}
/*------footer css ends ---*/
/*--- header css starts...*/
#topbar {
    height: 100px;
    font-size: 14px;
    transition: all 1s;
    color: rgba(255, 255, 255, 0.6);
    z-index: 9;
}
#topbar.topbar-scrolled {
    top: -110px;
}
.social-links {
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-left: auto;
}
#topbar .social-links a {
    color: #fff;
    margin-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.language {
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
    color: #fff;
    position: relative;
    top: 3px;
    font-weight: 400;
}
#header {
    background: transparent;
    transition: all 0.5s;
    z-index: 997;
    top: 75px;
    border-bottom: 1px solid #ffffff1a;
}
#header.header-scrolled {
    top: 0;
    background: #f7f7f7;
    box-shadow: 0px 2px #000000;
}
#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 9999;
}
#header .logo img {
    position: relative;
    top: -55px;
    width: 198px;
    height: 120px;
}
#header .hd-scroll {
    display: none;
}
.header-scrolled .logo img {
    top: 0 !important;
    width: 176px;
    max-height: 100px !important;
}
#header.header-scrolled .hd-scroll {
    display: block;
}
.Header_vs_logo img {
    width: 90px;
}
#header.header-scrolled .hd-static {
    display: none;
}
.nav-menu>ul {
    display: flex;
}
@media (min-width: 992px) and (max-width: 4024px){
    .nav-item.dropdown {
        border-bottom: 0px solid transparent !important;
    }
}
.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 20px 0px;
    margin-left: 10px;
    transition: 0.3s;
}
.nav-menu>ul>li.nav-item.dropdown a.nav-link.dropdown-toggle::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 8px;
    background-image: url(../img/arrow-down.png);
    display: inline-block;
    width: 10px;
    height: 6px;
    border: none;
}
.nav-menu li.nav-item.dropdown .nav-link {
    border-bottom: none;
}
.nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 12px;
    padding: 12px 28px 12px 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu li.nav-item.dropdown .nav-link {
    border-bottom: none;
}

@media (min-width: 992px){
    .dropdown-large {
        min-width: 1080px;
        top: 0px !important;
        left: -60px !important;
        padding: 30px !important;
        border-radius: 25px;
        min-height: auto;
        border: none;
    }
}
@media (min-width: 992px) and (max-width: 4024px){
.nav-menu .dropdown-menu.dropdown-large>.row.g-3 {
    justify-content: flex-start !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-shadow: none !important;
}
}
@media (min-width: 992px){
    .menu-img-item {
        white-space: normal;
    }
}
.nav-menu>ul>li.nav-item.dropdown .sub-items li .dropdown-item, .nav-menu>ul>li.nav-item.dropdown .sub-items li span.dropdown-item {
    padding: 15px 0px 15px;
    text-align: left;
    border-bottom: 1px solid #707070;
    text-transform: none;
}
.nav-menu>ul>li.nav-item.dropdown .sub-items li span.dropdown-item a {
    padding: 0;
    text-transform: none;
}
.nav-menu>ul>li.nav-item.dropdown .sub-items li a {
    color: #707070;
    font-size: 14px;
    font-weight: 100;
}
.nav-menu>ul>li.nav-item.dropdown.show a.nav-link.dropdown-toggle::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 8px;
    background-image: url(../img/arrow-up.png);
    display: inline-block;
    width: 10px;
    height: 6px;
    border: none;
}

.header-scrolled .dropdown-menu.dropdown-large.show {
    box-shadow: rgb(156 156 156 / 60%) 18px 25px 20px;
}

#header.header-scrolled .nav-menu a {
    color: #787878;
}
.nav-menu>ul>li.nav-item.dropdown .sub-items li {
    text-align: left;
    list-style-type: none;
}

@media (min-width: 992px){
    .dropdown-menu li {
        position: relative;
    }
}
@media (min-width: 992px){
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -2px;
    }
}
@media (min-width: 992px){
    .dropdown-menu li:hover .submenu{
        display: block;
    }
    .dropdown-menu li:hover {
        background-color: transparent;
    }
}
@media (min-width: 992px){
    .menu-img-item p {
        font-size: 18px;
        margin-top: 17px;
        color: #484848;
        white-space: normal;
    }
}
.nav-menu>ul>li.nav-item.dropdown .sub-items li>ul.submenu.dropdown-menu li a.dropdown-item {
    border: none;
    padding-left: 15px;
    padding-bottom: 0px;
    width: 200px;
    white-space: normal;
}
.nav-menu>ul>li.nav-item.dropdown .sub-items .dropdown-item:focus, .nav-menu>ul>li.nav-item.dropdown .sub-items .dropdown-item:hover {
    background-color: transparent;
}
.nav-menu>ul>li.nav-item.dropdown .sub-items li>ul.submenu.dropdown-menu {
    border: none;
}
.nav-menu>ul>li.nav-item.dropdown .sub-items li {
    text-align: left;
}


@media (min-width: 992px) and (max-width: 4024px) {
	.nav-menu .dropdown-menu.dropdown-large.show {
		margin-left: 0px !important;
	}
	.nav-menu .dropdown-menu.dropdown-large>.row.g-3 {
		justify-content: flex-start !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
		box-shadow: none !important;
	}
	.nav-item.dropdown {
		border-bottom: 0px solid transparent !important;
	}
}

@media (min-width: 641px) and (max-width: 992px) {
	.nav-menu .dropdown-menu.dropdown-large.show {
		margin-left: 0px !important;
	}
	.nav-menu .dropdown-menu.dropdown-large>.row.g-3 {
		padding-left: 0px !important;
		padding-right: 0px !important;
		box-shadow: none !important;
	}
}
.nav-menu li.nav-item.dropdown .nav-link {
	border-bottom: none;
}

.nav-menu li.nav-item.dropdown .nav-link.active {
	background-color: #ffffff6b;
	border-bottom: 3px solid #00a6be;
	border-radius: 15px 15px 0px 0px;
}

.nav-menu>ul>li.nav-item.dropdown .sub-items li:hover>a,
.nav-menu>ul>li.nav-item.dropdown .sub-items li:hover span>a {
	font-weight: bold;
	color: #00a6be;
}

#header.header-scrolled .nav-menu>ul>li.nav-item.dropdown .sub-items li:hover>a,
#header.header-scrolled .nav-menu>ul>li.nav-item.dropdown .sub-items li:hover span>a {
	color: #00a6be;
}
/*--- header css ends...*/
/**** Licese Dashboard CSS Starts ****/
@media (min-width: 1200px){
    .container {
        max-width: 1366px;
    }
}
.dashboard-tabs .nav-tabs{
    border-bottom: none;
}
.dashboard-tabs .nav-tabs .nav-item{
    width: 20%;
}
.dashboard-tabs .tab-content>.active{
    border: 1px solid #00A6BE;
}
.dashboard-tabs .nav-tabs .nav-link{
    height: 85px;
    background: #EDEDED 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
    text-transform: uppercase;
    color: #707070;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
    font-size: 20px;
    line-height: 30px;
}
.dashboard-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-link.active:hover{
    background: #00A6BE;
    color: #FFFFFF !important;
}

.dashboard-tabs .dashboard-tab-body .card{
    box-shadow: none;
    border-radius: none;
    border: none;
}
/**** Licese Dashboard CSS ends ****/
