@import url("owlcarousel/owl.carousel.min.css");

/* Font family */

@font-face {
    font-family: 'TheSans';
    src: url('../fonts/TheSans-Plain.ttf');
    src: url('../fonts/TheSans-Plain.eot'), url('../fonts/TheSans-Plain.woff') format('woff'), url('../fonts/TheSans-Plain.svg') format('svg');
}

@font-face {
    font-family: 'TheSansB6SemiBold';
    src: url('../fonts/TheSansB6SemiBold.eot');
    src: url('../fonts/TheSansB6SemiBold.ttf'), url('../fonts/TheSansB6SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'TheSanSemiBold';
    src: url('../fonts/TheSansB6SemiBold.eot');
    src: url('../fonts/TheSansB6SemiBold.ttf'), url('../fonts/TheSansB6SemiBold.woff2') format('woff2');
}

body.page-login,
body.page-login-second-step {
    /* font-family: "TheSans"; */
}
.globalMessage-action a.btn_round {
 /*   color: #fff; */
}
.sagiaHead{
	z-index:99999 !important;
}
#termsAndConditionsResponseApplyModal{
	z-index:99999;
}
#eServiceTour{
	z-index:99999;
}
#sagiaRegisterFormQuickRegistration .select2.select2-container
{
z-index: 0;
}
#errorResponseModal{
	z-index:99999 !important;
}
#requestSubmittedApply{
	z-index:99999;
}
#logoutModal{
	z-index:99999;
}
#licenseApplicationPayment{
	z-index:99999;
}
#creditCardPayment{
	z-index:99999;
}
#termsAndConditionsResponseApplyModal > .modal-dialog.modal-dialog-centered{
	min-width:85%;
}
#businessActivitiesModal{
	z-index:99999;
}
#businessActivitiesModal > .modal-dialog.modal-dialog-centered{
	min-width:82%;
}
#typeRequirementModal{
	z-index:999999;
}
#typeRequirementModal > .modal-dialog.modal-dialog-centered{
	min-width:65%;
}

#termsAndConditionsResponseModal{
	z-index:99999;
}
#termsAndConditionsResponseModal > .modal-dialog.modal-dialog-centered{
	min-width:70%;
}

#instantRenewal{
	z-index:99999;
}

#shareholderModalId{
	z-index:99999;
}
#shareholderModalId > #shareholderFormId > .modal-dialog.modal-dialog-centered{
	min-width:65%;
}

#branchModalId{
	z-index:99999;
}

#branchModalId > .modal-dialog.modal-dialog-centered{
	min-width:60%;
}


#productModalId{
	z-index:99999;
}

#productModalId > .modal-dialog.modal-dialog-centered{
	min-width:60%;
}



.page-license-renew.modal-open .select2-container--open.select2-container,
.page-license-amend.modal-open .select2-container--open.select2-container{
	z-index:999999;
}


#registerForm .form_field_error {
  width:auto;
  float: none;
  padding-right:0;
  clear:both;
}

.js-recaptcha-captchaaddon {
  margin: 20px 0;

}

#g-recaptcha_incorrect {
  color: red;
  display: none;
}

[dir="ltr"] #lblErrorCaptcha{
	float: left;
}
[dir="rtl"] #lblErrorCaptcha{
	float: right;
}
.mandatory {
	color: #FF0000;
	padding-left: 5px;
  }

/* 19-01-2022  */
[dir] .mainSection {
	padding-top: 0px !important;
}
[dir] .page-header-image {
	height: 350px;
}
.banner-container {
	top: 20%;
}
.banner-container h1 {
	font-weight: normal;
	text-transform: uppercase;
}
[dir=ltr] .profile-icons {
	position: relative !important;
	bottom: 30px;
	right: 0;
}
[dir=ltr] .profile-icons .calendar, [dir=ltr] .profile-icons .notification, [dir=ltr] .profile-icons .profile {
	background-color: #fff;
	padding: 0px 4px;
	box-shadow: 0 20px 20px #00000029;
	border: 3px solid #00a6be;
	border-radius: 50%;
	opacity: 1;
	width: 63px;
	height: 63px;
}
[dir] .btn_outline {
	background-color: #00a6be;
}
[dir=ltr] .profile-icons .calendar a span {
	background-image: url('../../common/images/dashboard-media/Profile-bar/Calender-in-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 63px;
	height: 63px;
	display: inline-block;
	margin: -3px 0px -1px -7px;
}
[dir=ltr] .profile-icons .calendar a span:hover {
	background-image: url('../../common/images/dashboard-media/Profile-bar/Calender-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin: 0px 0px 0px -4px;
}
[dir=ltr] .profile-icons .profile a span {
	background-image: url('../../common/images/dashboard-media/Profile-bar/Account-User-icon.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 63px;
	height: 63px;
	display: inline-block;
	margin: -3px 0px 0px -7px;
}
[dir=ltr] .profile-icons .profile a span:hover {
	background-image: url('../../common/images/dashboard-media/Profile-bar/Profile-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 57px;
	height: 57px;
	display: inline-block;
	margin: 0px 0px 0px -4px;
}
[dir=ltr] .profile-icons .notification a span {
	background-image: url('../../common/images/dashboard-media/Profile-bar/message-in-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 63px;
	height: 63px;
	display: inline-block;
	margin: -3px 0px 0px -7px;
}
[dir=ltr] .profile-icons .notification a span:hover {
	background-image: url('../../common/images/dashboard-media/Profile-bar/message-active.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	width: 57px;
	height: 57px;
	display: inline-block;
	margin: 0px 0px 0px -4px;
}
